Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2018-11, with the labels that each got.

#129 Use New ELB v1 client
  opentelekomcloud/config.go
  opentelekomcloud/resource_opentelekomcloud_elb_backend.go
  opentelekomcloud/resource_opentelekomcloud_elb_backend_test.go
  opentelekomcloud/resource_opentelekomcloud_elb_health.go
  opentelekomcloud/resource_opentelekomcloud_elb_health_test.go
  opentelekomcloud/resource_opentelekomcloud_elb_listener.go
  opentelekomcloud/resource_opentelekomcloud_elb_listener_test.go
  opentelekomcloud/resource_opentelekomcloud_elb_loadbalancer.go
  opentelekomcloud/resource_opentelekomcloud_elb_loadbalancer_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: size/M

#130 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#132 Add bms server resource
  opentelekomcloud/compute_bms_v2_server_addresses.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_server_v2_test.go
  vendor/vendor.json
  website/docs/r/compute_bms_server_v2.html.markdown
  website/opentelekomcloud.erb
Labels: size/XXL

#131 fix bms failure
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/bootfromvolume/requests.go
  vendor/vendor.json
Labels: size/XS

#134 Use new RDS v1 client
  opentelekomcloud/config.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: size/S

#135 Add CTS Tracker service
  examples/cts_tracker.tf
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_cts_tracker_v1.go
  opentelekomcloud/data_source_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/import_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_cts_tracker_v1.go
  opentelekomcloud/resource_opentelekomcloud_cts_tracker_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cts/v1/tracker/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cts/v1/tracker/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cts/v1/tracker/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cts/v1/tracker/urls.go
  vendor/vendor.json
  website/docs/d/cts_tracker_v1.html.markdown
  website/docs/r/cts_tracker_v1.html.markdown
  website/opentelekomcloud.erb
Labels: size/XXL

#138 Add Antiddos service
  examples/antiddos.tf
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_antiddos_v1.go
  opentelekomcloud/data_source_opentelekomcloud_antiddos_v1_test.go
  opentelekomcloud/import_opentelekomcloud_antiddos_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_antiddos_v1.go
  opentelekomcloud/resource_opentelekomcloud_antiddos_v1_test.go
  opentelekomcloud/validators.go
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/API-cn.md
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/API-en.md
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/antiddos/v1/antiddos/url.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
  website/docs/d/antiddos_v1.html.markdown
  website/docs/r/antiddos_v1.html.markdown
  website/opentelekomcloud.erb
Labels: size/XXL
