Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2018-09, with the labels that each got.

#101 Add BMS service
  opentelekomcloud/compute_bms_v2_server_addresses.go
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_flavor_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_flavor_v2_test.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_keypair_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_keypair_v2_test.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_nic_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_nic_v2_test.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_server_v2_test.go
  opentelekomcloud/import_opentelekomcloud_bms_tags_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_tags_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_tags_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/auth_options.go
  vendor/github.com/huaweicloud/golangsdk/errors.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/flavors/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/flavors/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/flavors/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/flavors/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/keypairs/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/keypairs/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/keypairs/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/keypairs/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/nics/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/nics/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/nics/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/servers/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/servers/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/servers/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/servers/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/bms/v2/tags/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/vendor.json
  website/docs/d/compute_bms_flavors_v2.html.md
  website/docs/d/compute_bms_keypairs_v2.html.md
  website/docs/d/compute_bms_nic_v2.html.md
  website/docs/d/compute_bms_server_v2.html.md
  website/docs/r/compute_bms_tags_v2.html.md
  website/opentelekomcloud.erb
Labels: size/XXL

#107 Add Nat Gateway resource support
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_nat_gateway_v2.go
  opentelekomcloud/resource_opentelekomcloud_nat_gateway_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_nat_snat_rule_v2.go
  opentelekomcloud/resource_opentelekomcloud_nat_snat_rule_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/natgateways/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/natgateways/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/natgateways/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/snatrules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/snatrules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/snatrules/urls.go
  vendor/vendor.json
  website/docs/r/nat_gateway_v2.html.markdown
  website/docs/r/nat_snat_rule_v2.html.markdown
  website/opentelekomcloud.erb
Labels: size/XXL

#109 fix acc test of as
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_as_configuration_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_as_policy_v1_test.go
Labels: size/S

#112 fix the vendor code of ces alarmrule
  vendor/github.com/huaweicloud/golangsdk/openstack/cloudeyeservice/alarmrule/urls.go
  vendor/vendor.json
Labels: size/S

#111 Fix the incorrect documentation for dns zone
  website/docs/r/dns_zone_v2.html.markdown
Labels: size/M

#115 Add DeH link param to ECS schedular hints
  opentelekomcloud/compute_instance_v2_networking.go
  opentelekomcloud/resource_opentelekomcloud_compute_floatingip_associate_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_secgroup_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_secgroup_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_servergroup_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/availabilityzones/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/availabilityzones/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/availabilityzones/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/availabilityzones/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/bootfromvolume/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/bootfromvolume/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/bootfromvolume/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/bootfromvolume/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/keypairs/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/keypairs/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/keypairs/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/keypairs/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/schedulerhints/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/schedulerhints/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/secgroups/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/secgroups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/secgroups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/secgroups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/startstop/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/startstop/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/startstop/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/tags/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/volumeattach/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/volumeattach/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/volumeattach/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/volumeattach/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/flavors/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/flavors/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/flavors/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/flavors/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/images/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/images/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/images/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/images/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/servers/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/servers/errors.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/servers/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/servers/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/servers/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/servers/util.go
  vendor/vendor.json
  website/docs/r/compute_instance_v2.html.markdown
Labels: size/XXL

#98 Add DeH service
  CHANGELOG.md
  opentelekomcloud/compute_deh_v1_hosts.go
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_deh_host_v1.go
  opentelekomcloud/data_source_opentelekomcloud_deh_host_v1_test.go
  opentelekomcloud/data_source_opentelekomcloud_deh_server_v1.go
  opentelekomcloud/data_source_opentelekomcloud_deh_server_v1_test.go
  opentelekomcloud/import_opentelekomcloud_deh_host_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_deh_host_v1.go
  opentelekomcloud/resource_opentelekomcloud_deh_host_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/deh/v1/hosts/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/deh/v1/hosts/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/deh/v1/hosts/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/deh/v1/hosts/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/projects/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/projects/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/projects/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/projects/urls.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/github.com/huaweicloud/golangsdk/results.go
  vendor/github.com/huaweicloud/golangsdk/service_client.go
  vendor/vendor.json
  website/docs/d/deh_host_v1.html.md
  website/docs/d/deh_server_v1.html.md
  website/docs/r/deh_host_v1.html.md
  website/opentelekomcloud.erb
Labels: size/XXL

#119 add vip resources
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_associate_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_associate_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/ports/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/ports/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/ports/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/ports/urls.go
  website/docs/r/networking_vip_associate_v2.html.markdown
  website/docs/r/networking_vip_v2.html.markdown
  website/opentelekomcloud.erb
Labels: size/XXL

#114 Add DMS
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_dms_group_v1.go
  opentelekomcloud/resource_opentelekomcloud_dms_group_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_dms_queue_v1.go
  opentelekomcloud/resource_opentelekomcloud_dms_queue_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/groups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/groups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/queues/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/queues/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/queues/urls.go
  vendor/vendor.json
  website/docs/r/dms_group_v1.html.markdown
  website/docs/r/dms_queue_v1.html.markdown
  website/opentelekomcloud.erb
Labels: size/XXL

#117 Add CSBS Backup and Policy service
  examples/csbs_backup.tf
  examples/csbs_backup_policy.tf
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/data_source_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/data_source_opentelekomcloud_csbs_backup_v1.go
  opentelekomcloud/data_source_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/import_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/import_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/resource_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_csbs_backup_v1.go
  opentelekomcloud/resource_opentelekomcloud_csbs_backup_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/backup/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/backup/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/backup/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/backup/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/policies/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/policies/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/policies/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/csbs/v1/policies/urls.go
  vendor/vendor.json
  website/docs/d/csbs_backup_policy_v1.html.markdown
  website/docs/d/csbs_backup_v1.html.markdown
  website/docs/r/csbs_backup_policy_v1.html.markdown
  website/docs/r/csbs_backup_v1.html.markdown
  website/opentelekomcloud.erb
Labels: size/XXL

#120 Update CHANGELOG
  CHANGELOG.md
Labels: size/S
