Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2018-04, with the labels that each got.

#32 fix acc test of TestAccS3Bucket_Logging
  opentelekomcloud/resource_opentelekomcloud_s3_bucket_test.go
Labels: bug

#33 add desc of auto_recovery for compute instace
  website/docs/r/compute_instance_v2.html.markdown
Labels: enhancement

#36 Add elb documentation
  website/docs/r/elb_backend.html.markdown
  website/docs/r/elb_health.html.markdown
  website/docs/r/elb_listener.html.markdown
  website/docs/r/elb_loadbalancer.html.markdown
  website/opentelekomcloud.erb
Labels: documentation
