Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2018-12, with the labels that each got.

#142 Add Maas Service
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_maas_task_v1.go
  opentelekomcloud/resource_opentelekomcloud_maas_task_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/maas/v1/task/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/maas/v1/task/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/maas/v1/task/urls.go
  vendor/github.com/huaweicloud/golangsdk/signer_helper.go
  vendor/vendor.json
  website/docs/r/maas_task_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#140 Add CCE service
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/data_source_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/data_source_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/data_source_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/import_opentelekomcloud_cce_cluster_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/urls.go
  vendor/vendor.json
  website/docs/d/cce_cluster_v3.html.md
  website/docs/d/cce_nodes_v3.html.md
  website/docs/r/cce_cluster_v3.html.md
  website/docs/r/cce_nodes_v3.html.md
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XXL

#144 Fix CCE acc tests
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
Labels: size/XS

#145 Fix some docs issue
  website/docs/r/ces_alarmrule.html.markdown
  website/docs/r/lb_listener_v2.html.markdown
Labels: documentation, size/XS

#146 Fix nat and elb docs issue
  website/docs/r/elb_health.html.markdown
  website/docs/r/nat_gateway_v2.html.markdown
Labels: documentation, size/XS

#147 Fix volume examples issue
  website/docs/r/blockstorage_volume_v1.html.markdown
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/M

#149 added volume_type to resource documentation
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/XS

#151 Switch ci go1.11
  .travis.yml
  README.md
  opentelekomcloud/resource_opentelekomcloud_as_group_v1.go
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1.go
Labels: size/S

#152 Update compute V1 client
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: dependencies, size/XS

#153 Add networking floatingip associate
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_networking_floatingip_associate_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_floatingip_associate_v2_test.go
  website/docs/r/networking_floatingip_associate_v2.html.markdown
  website/opentelekomcloud.erb
Labels: documentation, size/XL

#155 Clean up DNS environment
  opentelekomcloud/import_opentelekomcloud_dns_recordset_v2_test.go
  opentelekomcloud/import_opentelekomcloud_dns_zone_v2_test.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_dns_zone_v2_test.go
Labels: size/S

#158 remove UNKNOWN status to avoid error when subnet creation is too long
  opentelekomcloud/resource_opentelekomcloud_vpc_subnet_v1.go
Labels: size/XS

#159 Bump testacc timeout to 360m
  GNUmakefile
Labels: size/XS

#160 Make OS_ACCESS_KEY and OS_SECRET_KEY only required for s3 acc tests
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_s3_bucket_object_test.go
  opentelekomcloud/resource_opentelekomcloud_s3_bucket_policy_test.go
  opentelekomcloud/resource_opentelekomcloud_s3_bucket_test.go
Labels: size/M

#154 Add DCS Service
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_dcs_az_v1.go
  opentelekomcloud/data_source_opentelekomcloud_dcs_az_v1_test.go
  opentelekomcloud/data_source_opentelekomcloud_dcs_maintainwindow_v1.go
  opentelekomcloud/data_source_opentelekomcloud_dcs_maintainwindow_v1_test.go
  opentelekomcloud/data_source_opentelekomcloud_dcs_product_v1.go
  opentelekomcloud/data_source_opentelekomcloud_dcs_product_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_dcs_instance_v1.go
  opentelekomcloud/resource_opentelekomcloud_dcs_instance_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/availablezones/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/availablezones/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/availablezones/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/maintainwindows/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/maintainwindows/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/maintainwindows/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/products/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/products/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/products/urls.go
  vendor/vendor.json
  website/docs/d/dcs_az_v1.html.markdown
  website/docs/d/dcs_maintainwindow_v1.html.markdown
  website/docs/d/dcs_product_v1.html.markdown
  website/docs/r/dcs_instance_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XXL

#161 Suppress rds name change
  opentelekomcloud/diff_suppress_funcs.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v1.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v1_test.go
  website/docs/r/rds_instance_v1.html.markdown
Labels: documentation, size/XS

#163 Add default value of pending_days in kms resource
  opentelekomcloud/resource_opentelekomcloud_kms_key_v1.go
  opentelekomcloud/resource_opentelekomcloud_kms_key_v1_test.go
Labels: size/XS

#164 Expose real error message of BadRequest error
  vendor/github.com/huaweicloud/golangsdk/errors.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/vendor.json
Labels: dependencies, size/XS

#165 Add properties support for images data source
  opentelekomcloud/data_source_opentelekomcloud_images_image_v2.go
  opentelekomcloud/data_source_opentelekomcloud_images_image_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_images_image_v2.go
  website/docs/d/images_image_v2.html.markdown
Labels: documentation, size/S

#113 Add examples for this provider
  examples/app-with-networking/README.md
  examples/app-with-networking/main.tf
  examples/app-with-networking/openrc.sample
  examples/app-with-networking/outputs.tf
  examples/app-with-networking/variables.tf
  examples/autoscaling-with-alarm/README.md
  examples/autoscaling-with-alarm/main.tf
  examples/autoscaling-with-alarm/openrc.sample
  examples/autoscaling-with-alarm/variables.tf
  examples/dns-zone/README.md
  examples/dns-zone/main.tf
  examples/dns-zone/variables.tf
  examples/elb-with-autoscaling/README.md
  examples/elb-with-autoscaling/main.tf
  examples/elb-with-autoscaling/userdata.txt
  examples/elb-with-autoscaling/variables.tf
  examples/mysql-db/README.md
  examples/mysql-db/main.tf
  examples/mysql-db/variables.tf
  examples/sample-cases/README.md
  examples/sample-cases/alarm_rule.tf
  examples/sample-cases/instances.tf
  examples/sample-cases/keypairs.tf
  examples/sample-cases/loadbalancer.tf
  examples/sample-cases/network.tf
  examples/sample-cases/provider.tf
  examples/sample-cases/router.tf
  examples/sample-cases/secgroups.tf
  examples/sample-cases/subscriptions.tf
  examples/sample-cases/variables.tf
  examples/sample-cases/volumes.tf
  examples/sqlserver-db/README.md
  examples/sqlserver-db/main.tf
  examples/sqlserver-db/variables.tf
Labels: size/XXL

#168 Suppress sfs system metadata
  opentelekomcloud/resource_opentelekomcloud_sfs_file_system_v2.go
Labels: size/XS
