Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-08, with the labels that each got.

#340 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#341 Update website sidebar
  website/opentelekomcloud.erb
Labels: documentation, size/XL

#347 Add ECS instance resource
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_ecs_instance_v1.go
  opentelekomcloud/resource_opentelekomcloud_ecs_instance_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/urls.go
  vendor/modules.txt
Labels: dependencies, size/XXL

#349 Add CCE cluster certificates
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/urls.go
  vendor/modules.txt
  website/docs/r/cce_cluster_v3.html.md
Labels: dependencies, documentation, size/L

#350 Add multi-az support for CCE cluster
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#351 Fix dns_list type issue for vpc_subnet
  opentelekomcloud/resource_opentelekomcloud_vpc_subnet_v1.go
Labels: size/XS

#352 Add detailed error message for 404
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/errors.go
  vendor/modules.txt
Labels: dependencies, size/XS

#353 remove unneeded pool related API from FIP
  opentelekomcloud/resource_opentelekomcloud_networking_floatingip_v2.go
Labels: size/M

#356 Fix S3 object docs
  website/docs/r/s3_bucket_object.html.markdown
Labels: documentation, size/XS

#354 Fix data_volumes type of cce node
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
Labels: size/XS

#358 More specific explaination for shared argument
  website/docs/r/vpc_v1.html.markdown
Labels: documentation, size/XS

#359 add info about bandwidth objects
  website/docs/r/compute_floatingip_v2.html.markdown
Labels: documentation, size/XS

#360 Add ECS instance import support
  opentelekomcloud/import_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_ecs_instance_v1.go
  opentelekomcloud/resource_opentelekomcloud_ecs_instance_v1_test.go
Labels: size/M

#361 Add ECS instance docs
  website/docs/r/ecs_instance_v1.html.markdown
  website/opentelekomcloud.erb
Labels: documentation, size/L

#362 Fix common user ak/sk authenticate with domain
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: dependencies, size/XS

#363 fix index out of range when the input data is nil
  opentelekomcloud/transport.go
Labels: size/XS

#365 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
