Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-11, with the labels that each got.

#411 Add cce node ids data source
  opentelekomcloud/data_source_opentelekomcloud_cce_node_ids_v3.go
  opentelekomcloud/data_source_opentelekomcloud_cce_node_ids_v3_test.go
  opentelekomcloud/provider.go
  website/docs/d/cce_node_ids_v3.html.md
  website/opentelekomcloud.erb
Labels: documentation, size/L

#412 Add VPN service
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_endpoint_group_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_endpoint_group_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_ike_policy_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_ike_policy_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_ipsec_policy_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_ipsec_policy_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_service_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_service_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_site_connection_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_site_connection_v2_test.go
  opentelekomcloud/types.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/endpointgroups/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/endpointgroups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/endpointgroups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/endpointgroups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ikepolicies/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ikepolicies/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ikepolicies/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ikepolicies/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ipsecpolicies/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ipsecpolicies/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ipsecpolicies/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/ipsecpolicies/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/services/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/services/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/services/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/services/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/siteconnections/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/siteconnections/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/siteconnections/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/vpnaas/siteconnections/urls.go
  vendor/modules.txt
  website/docs/r/vpnaas_endpoint_group_v2.html.markdown
  website/docs/r/vpnaas_ike_policy_v2.html.markdown
  website/docs/r/vpnaas_ipsec_policy_v2.html.markdown
  website/docs/r/vpnaas_service_v2.html.markdown
  website/docs/r/vpnaas_site_connection_v2.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, size/XXL

#413 Fix two bugs for terraform-provider-opentelekomcloud
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/util.go
  vendor/github.com/Unknwon/com/.travis.yml
  vendor/github.com/unknwon/com/.gitignore
  vendor/github.com/unknwon/com/.travis.yml
  vendor/github.com/unknwon/com/LICENSE
  vendor/github.com/unknwon/com/README.md
  vendor/github.com/unknwon/com/cmd.go
  vendor/github.com/unknwon/com/convert.go
  vendor/github.com/unknwon/com/dir.go
  vendor/github.com/unknwon/com/file.go
  vendor/github.com/unknwon/com/go.mod
  vendor/github.com/unknwon/com/go.sum
  vendor/github.com/unknwon/com/html.go
  vendor/github.com/unknwon/com/http.go
  vendor/github.com/unknwon/com/math.go
  vendor/github.com/unknwon/com/path.go
  vendor/github.com/unknwon/com/regex.go
  vendor/github.com/unknwon/com/slice.go
  vendor/github.com/unknwon/com/string.go
  vendor/github.com/unknwon/com/time.go
  vendor/github.com/unknwon/com/url.go
  vendor/modules.txt
Labels: dependencies, size/L

#414 Fix log message issue
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_dms_group_v1_test.go
Labels: size/XS

#419 Add device_type support for evs_volume_v3
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
  opentelekomcloud/resource_opentelekomcloud_evs_v3_test.go
  website/docs/r/evs_volume_v3.html.markdown
Labels: documentation, size/XS

#420 Add wwn attribute to evs_volume_v3
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
  website/docs/r/evs_volume_v3.html.markdown
Labels: documentation, size/XS

#422 Fix BMS boot from volume issue
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_server_v2_test.go
  website/docs/r/compute_bms_server_v2.html.markdown
Labels: documentation, size/XS
