Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-12, with the labels that each got.

#430 updata documentation of enhanced lb resource and fix panic issue
  opentelekomcloud/resource_opentelekomcloud_lb_loadbalancer_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_member_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_monitor_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_monitor_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_lb_pool_v2.go
  website/docs/r/lb_monitor_v2.html.markdown
  website/docs/r/lb_pool_v2.html.markdown
Labels: documentation, size/S

#432 Add description to secgroup_rule_v2
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_networking_secgroup_rule_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_secgroup_rule_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/results_order.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/security/rules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/security/rules/results.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/modules.txt
  website/docs/r/networking_secgroup_rule_v2.html.markdown
Labels: dependencies, documentation, size/L

#435 Support new resources for opentelekomcloud log tank service
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_lts_loggroup.go
  opentelekomcloud/resource_opentelekomcloud_lts_loggroup_test.go
  opentelekomcloud/resource_opentelekomcloud_lts_logtopic.go
  opentelekomcloud/resource_opentelekomcloud_lts_logtopic_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/lts/v2/loggroups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/lts/v2/loggroups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/lts/v2/loggroups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/lts/v2/logtopics/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/lts/v2/logtopics/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/lts/v2/logtopics/urls.go
  vendor/modules.txt
  website/docs/r/lts_loggroup.html.markdown
  website/docs/r/lts_logtopic.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#437 Add LB Certificate resource support
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_lb_certificate_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_certificate_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/urls.go
  vendor/modules.txt
  website/docs/r/lb_certificate_v2.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#439 Add vpc_flow_log_v1 resource
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_vpc_flow_log_v1.go
  opentelekomcloud/resource_opentelekomcloud_vpc_flow_log_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/flowlogs/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/flowlogs/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/flowlogs/urls.go
  vendor/modules.txt
  website/docs/r/vpc_flow_log_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#441 Support L7 Policy and L7 Rule resources and docs
  opentelekomcloud/lb_v2_shared.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_lb_l7policy_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_l7policy_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_lb_l7rule_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_l7rule_v2_test.go
  website/docs/r/lb_l7policy_v2.html.markdown
  website/docs/r/lb_l7rule_v2.html.markdown
  website/opentelekomcloud.erb
Labels: documentation, size/XXL

#442 Fix importing for opentelekomcloud_logtank_topic_v2
  opentelekomcloud/resource_opentelekomcloud_lts_logtopic.go
  website/docs/r/lts_loggroup.html.markdown
  website/docs/r/lts_logtopic.html.markdown
Labels: documentation, size/S

#433 Updated list of values for volume_type
  website/docs/r/blockstorage_volume_v2.html.markdown
Labels: documentation, size/XS

#443 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
