Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-06, with the labels that each got.

#296 Fix VBS arguments declaration with terraform 0.12
  opentelekomcloud/data_source_opentelekomcloud_vbs_backup_policy_v2_test.go
  website/docs/r/vbs_backup_policy_v2.html.markdown
Labels: documentation, size/XS

#297 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#302 Add Link for WAF Policy in Sidebar Navigation
  website/opentelekomcloud.erb
Labels: documentation, size/XS

#304 Update BMS client
  opentelekomcloud/config.go
Labels: size/XS

#305 Fix project creation issue
  opentelekomcloud/resource_opentelekomcloud_identity_project_v3.go
Labels: size/XS

#307 Adds missing option hosts for waf_policy docs
  website/docs/r/waf_policy_v1.html.markdown
Labels: documentation, size/XS

#308 Add master/core data volume to MRS cluster
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/modules.txt
  website/docs/r/mrs_cluster_v1.html.markdown
Labels: dependencies, documentation, size/L

#310 Add SAS volume type support for MRS cluster
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_mrs_job_v1_test.go
  website/docs/r/mrs_cluster_v1.html.markdown
Labels: documentation, size/XS

#313 Add Waf WhiteBlackIP Rule
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_waf_whiteblackip_rule_v1.go
  opentelekomcloud/resource_opentelekomcloud_waf_whiteblackip_rule_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/whiteblackip_rules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/whiteblackip_rules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/whiteblackip_rules/urls.go
  vendor/modules.txt
  website/docs/r/waf_whiteblackip_rule_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#315 Add Waf Data Masking Rule
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_waf_datamasking_rule_v1.go
  opentelekomcloud/resource_opentelekomcloud_waf_datamasking_rule_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/datamasking_rules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/datamasking_rules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/datamasking_rules/urls.go
  vendor/modules.txt
  website/docs/r/waf_datamasking_rule_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#317 Add falsealarm masking rule
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_waf_falsealarmmasking_rule_v1.go
  opentelekomcloud/resource_opentelekomcloud_waf_falsealarmmasking_rule_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/falsealarmmasking_rules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/falsealarmmasking_rules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/falsealarmmasking_rules/urls.go
  vendor/modules.txt
  website/docs/r/waf_falsealarmmasking_rule_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#320 Add CC Attack Protection Rule
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_waf_ccattackprotection_rule_v1.go
  opentelekomcloud/resource_opentelekomcloud_waf_ccattackprotection_rule_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/ccattackprotection_rules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/ccattackprotection_rules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/ccattackprotection_rules/urls.go
  vendor/modules.txt
  website/docs/r/waf_ccattackprotection_rule_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#322 Add Waf Precise Protection Rule
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_waf_preciseprotection_rule_v1.go
  opentelekomcloud/resource_opentelekomcloud_waf_preciseprotection_rule_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/preciseprotection_rules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/preciseprotection_rules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/preciseprotection_rules/urls.go
  vendor/modules.txt
  website/docs/r/waf_preciseprotection_rule_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#324 Add Waf Web Tamper Protection Rule
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_waf_webtamperprotection_rule_v1.go
  opentelekomcloud/resource_opentelekomcloud_waf_webtamperprotection_rule_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/webtamperprotection_rules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/webtamperprotection_rules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/waf/v1/webtamperprotection_rules/urls.go
  vendor/modules.txt
  website/docs/r/waf_webtamperprotection_rule_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#325 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
