Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-07, with the labels that each got.

#327 fix doc
  website/docs/d/rds_flavors_v3.html.markdown
  website/docs/r/rds_instance_v3.html.markdown
Labels: documentation, size/S

#326 Add SDRS protection group
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_sdrs_protectiongroup_v1.go
  opentelekomcloud/resource_opentelekomcloud_sdrs_protectiongroup_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/blockstorage/v2/volumes/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/urls.go
  vendor/github.com/huaweicloud/golangsdk/service_client.go
  vendor/modules.txt
  website/docs/r/sdrs_protectiongroup_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#328 Add SDRS active-active domain data source
  go.mod
  go.sum
  opentelekomcloud/data_source_opentelekomcloud_sdrs_domain_v1.go
  opentelekomcloud/data_source_opentelekomcloud_sdrs_domain_v1_test.go
  opentelekomcloud/provider.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/job/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/domains/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/domains/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/domains/urls.go
  vendor/modules.txt
  website/docs/d/sdrs_domain_v1.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/L

#330 Set availability_zone to Computed fro SFS
  opentelekomcloud/resource_opentelekomcloud_sfs_file_system_v2.go
  opentelekomcloud/resource_opentelekomcloud_sfs_file_system_v2_test.go
Labels: size/XS

#331 Fix rds parametergroup acc test
  opentelekomcloud/resource_opentelekomcloud_rds_configuration_v3_test.go
Labels: size/XS

#333 Add enable_shared_snat support for VPC resource
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_vpc_v1.go
  opentelekomcloud/resource_opentelekomcloud_vpc_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/job/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/vpcs/requests.go
  vendor/modules.txt
  website/docs/r/vpc_v1.html.markdown
Labels: dependencies, documentation, size/S

#334 Remove personality argument from compute_instance docs
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/S

#335 Add default value for floating_ip pool
  opentelekomcloud/resource_opentelekomcloud_compute_floatingip_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_floatingip_v2.go
  website/docs/r/compute_floatingip_v2.html.markdown
  website/docs/r/networking_floatingip_v2.html.markdown
Labels: documentation, size/XS

#338 Add new argument device_type support for Volume
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2.go
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2_test.go
  website/docs/r/blockstorage_volume_v2.html.markdown
Labels: documentation, size/S

#339 Add wwn attribute support for volume resource
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v3/volumes/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v3/volumes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v3/volumes/urls.go
  vendor/modules.txt
  website/docs/r/blockstorage_volume_v2.html.markdown
Labels: dependencies, documentation, size/M
