Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-01, with the labels that each got.

#170 Add docs for instance tag
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/XS

#171 Sort subnets by network ip availabilities
  opentelekomcloud/data_source_opentelekomcloud_vpc_subnet_ids_v1.go
Labels: size/S

#174 Add docs of creating issues
  website/docs/index.html.markdown
Labels: documentation, size/XS

#175 Add new tag example to compute instance
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/XS

#176 Update golangsdk to fix ak/sk issue
  CHANGELOG.md
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/auth_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/domains/urls.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/vendor.json
Labels: dependencies, size/XL

#178 Fix ecs instance tag update error
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2_test.go
Labels: size/XS

#179 Fix dns records update error
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/recordsets/requests.go
  vendor/vendor.json
Labels: dependencies, size/XS

#180 Fix some docs issue
  website/docs/r/blockstorage_volume_v2.html.markdown
  website/docs/r/compute_instance_v2.html.markdown
  website/docs/r/kms_key_v1.html.markdown
Labels: documentation, size/XS

#181 Use new kms v1 client
  opentelekomcloud/config.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: dependencies, size/XS

#184 Fix EIP share_type docs issue
  website/docs/r/vpc_eip_v1.html.markdown
Labels: documentation, size/XS

#185 Fix DNS entries re-sort issue
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2.go
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2_test.go
Labels: size/XS

#186 Fix couple of docs issue
  website/docs/r/compute_instance_v2.html.markdown
  website/docs/r/s3_bucket.html.markdown
Labels: documentation, size/XS

#187 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#189 Use new smn v2 client
  opentelekomcloud/config.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: dependencies, size/XS

#190 Remove wrong ces namespace validate func
  opentelekomcloud/resource_opentelekomcloud_ces_alarmrule.go
Labels: size/XS

#191 Update smn topic docs
  website/docs/r/smn_topic_v2.html.markdown
Labels: documentation, size/M

#192 Update DCS docs
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/XS

#193 Fix mrs docs issue
  website/docs/r/mrs_job_v1.html.markdown
Labels: documentation, size/XS

#194 Update CES docs
  website/docs/r/ces_alarmrule.html.markdown
Labels: documentation, size/XS

#195 Add validate function for ecs tag
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/validators.go
Labels: size/XS

#197 Update cts tracker docs
  website/docs/r/cts_tracker_v1.html.markdown
Labels: documentation, size/XS

#198 Add check for template of rts stack
  opentelekomcloud/resource_opentelekomcloud_rts_stack_v1.go
Labels: size/XS

#201 Fix loadbalancer issues
  opentelekomcloud/resource_opentelekomcloud_lb_loadbalancer_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  website/docs/r/lb_loadbalancer_v2.html.markdown
Labels: documentation, size/XS

#167 Add IAM Identity service support
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_identity_group_v3.go
  opentelekomcloud/data_source_opentelekomcloud_identity_group_v3_test.go
  opentelekomcloud/data_source_opentelekomcloud_identity_project_v3.go
  opentelekomcloud/data_source_opentelekomcloud_identity_project_v3_test.go
  opentelekomcloud/data_source_opentelekomcloud_identity_role_v3.go
  opentelekomcloud/data_source_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/data_source_opentelekomcloud_identity_user_v3.go
  opentelekomcloud/data_source_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/import_opentelekomcloud_identity_project_v3_test.go
  opentelekomcloud/import_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/import_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_group_membership_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_group_membership_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_group_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_group_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_project_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_project_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_assignment_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_assignment_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_user_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/structure.go
  opentelekomcloud/types.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/groups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/projects/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/testing/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/testing/fixtures.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/testing/requests_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/doc.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/urls.go
  vendor/vendor.json
  website/docs/d/identity_auth_scope_v3.html.markdown
  website/docs/d/identity_group_v3.html.markdown
  website/docs/d/identity_project_v3.html.markdown
  website/docs/d/identity_role_v3.html.markdown
  website/docs/d/identity_user_v3.html.markdown
  website/docs/r/identity_group_membership_v3.html.markdown
  website/docs/r/identity_group_v3.html.markdown
  website/docs/r/identity_project_v3.html.markdown
  website/docs/r/identity_role_assignment_v3.html.markdown
  website/docs/r/identity_role_v3.html.markdown
  website/docs/r/identity_user_v3.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, size/XXL

#206 Update elb listener docs
  opentelekomcloud/resource_opentelekomcloud_elb_listener.go
  website/docs/r/elb_listener.html.markdown
Labels: documentation, size/XS

#202 Update golangsdk vendor
  opentelekomcloud/config.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: dependencies, size/S

#207 Fix vpc subnet delete error
  opentelekomcloud/resource_opentelekomcloud_vpc_subnet_v1.go
Labels: size/XS

#208 fix response code of project bug
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/projects/requests.go
  vendor/vendor.json
Labels: dependencies, size/XS

#209 Fix elb update for backend_port
  opentelekomcloud/resource_opentelekomcloud_elb_listener.go
  opentelekomcloud/resource_opentelekomcloud_elb_listener_test.go
Labels: size/XS
