Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-02, with the labels that each got.

#217 Change the password and engine_version from "Option" to "Required".
  opentelekomcloud/resource_opentelekomcloud_dcs_instance_v1.go
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/XS

#218 Fix topic parameters
  opentelekomcloud/resource_opentelekomcloud_smn_topic_v2.go
  website/docs/r/smn_topic_v2.html.markdown
Labels: documentation, size/XS

#216 fix need project, domain client simultaineously
  opentelekomcloud/config.go
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/vendor.json
  website/docs/index.html.markdown
  website/docs/r/identity_group_membership_v3.html.markdown
  website/docs/r/identity_group_v3.html.markdown
  website/docs/r/identity_project_v3.html.markdown
  website/docs/r/identity_role_assignment_v3.html.markdown
  website/docs/r/identity_user_v3.html.markdown
Labels: dependencies, documentation, size/XL

#220 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#221 fix cant not find endpoint
  vendor/github.com/huaweicloud/golangsdk/openstack/endpoint_location.go
  vendor/vendor.json
Labels: dependencies, size/XS

#219 fix vpc didn't return err
  opentelekomcloud/data_source_opentelekomcloud_vpc_peering_connection_v2.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_route_ids_v2.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_route_v2.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_subnet_ids_v1.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_subnet_v1.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_v1.go
Labels: size/XS

#223 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#224 Update CCE cluster docs
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#225 Update docs of RTS software config resource
  website/docs/r/rts_software_config_v1.html.markdown
Labels: documentation, size/XS

#226 Fix role assignment bug
  opentelekomcloud/resource_opentelekomcloud_identity_role_assignment_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_assignment_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/results.go
  vendor/vendor.json
Labels: dependencies, size/M

#228 Update identity resource docs
  website/docs/r/identity_role_assignment_v3.html.markdown
  website/docs/r/identity_user_v3.html.markdown
Labels: documentation, size/XS

#232 Add agency resource
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_agency_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_agency_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_project_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_project_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/agency/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/agency/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/agency/urls.go
  vendor/vendor.json
  website/docs/r/identity_agency_v3.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XXL
