Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-04, with the labels that each got.

#259 Update EVS encryption docs
  website/docs/r/blockstorage_volume_v2.html.markdown
Labels: documentation, size/XS

#213 add resource of identity role
  opentelekomcloud/import_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/transport.go
  website/docs/r/identity_role_v3.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XXL

#260 Fix wrong error message for DMS
  opentelekomcloud/resource_opentelekomcloud_dms_group_v1.go
  opentelekomcloud/resource_opentelekomcloud_dms_queue_v1.go
  opentelekomcloud/resource_opentelekomcloud_dms_queue_v1_test.go
Labels: size/XS

#261 Add support for attaching multi routers to dns zone
  opentelekomcloud/resource_opentelekomcloud_dns_zone_v2.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/zones/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/zones/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/zones/urls.go
  vendor/vendor.json
  website/docs/r/dns_zone_v2.html.markdown
Labels: dependencies, documentation, size/L

#262 Add authentication mode option support for CCE cluster
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/vendor.json
  website/docs/r/cce_cluster_v3.html.md
Labels: dependencies, documentation, size/S

#263 Add networking_port data source
  opentelekomcloud/data_source_opentelekomcloud_networking_port_v2.go
  opentelekomcloud/data_source_opentelekomcloud_networking_port_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/util.go
  vendor/github.com/hashicorp/terraform/helper/validation/validation.go
  vendor/vendor.json
  website/docs/d/networking_port_v2.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#264 Add security_token option for OBS federated authentication
  opentelekomcloud/auth_helpers.go
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  website/docs/index.html.markdown
Labels: documentation, size/XS

#265 Fix cce node data source issue with node_id
  opentelekomcloud/data_source_opentelekomcloud_cce_node_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/vendor.json
Labels: dependencies, size/XS

#266 Remove Abnormal from cce node creating target state
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
Labels: size/XS

#255 Css cluster
  opentelekomcloud/custom_functions.go
  opentelekomcloud/import_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_css_cluster_v1.go
  opentelekomcloud/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/transport.go
  website/docs/r/css_cluster_v1.html.markdown
  website/opentelekomcloud.erb
Labels: documentation, size/XXL

#268 Add RDS tag support for instance_v1
  opentelekomcloud/config.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v1.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v1/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v1/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v1/tags/urls.go
  vendor/vendor.json
  website/docs/r/rds_instance_v1.html.markdown
Labels: dependencies, documentation, size/XL

#269 Remove css cluster import support
  opentelekomcloud/import_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_css_cluster_v1.go
  website/docs/r/css_cluster_v1.html.markdown
Labels: documentation, size/S

#267 Rds v3
  opentelekomcloud/custom_functions.go
  opentelekomcloud/data_source_opentelekomcloud_rds_flavors_v3.go
  opentelekomcloud/data_source_opentelekomcloud_rds_flavors_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3_test.go
  website/docs/d/rds_flavors_v3.html.markdown
  website/docs/r/rds_instance_v3.html.markdown
  website/opentelekomcloud.erb
Labels: documentation, size/XXL
