Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2019-10, with the labels that each got.

#381 Add policy_id parameter to WAF domain
  opentelekomcloud/resource_opentelekomcloud_waf_domain_v1.go
  opentelekomcloud/resource_opentelekomcloud_waf_domain_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_waf_policy_v1.go
  website/docs/r/waf_domain_v1.html.markdown
Labels: documentation, size/M

#380 Add 'opentelekomcloud_evs_volume_v3' resource and docs
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
  opentelekomcloud/resource_opentelekomcloud_evs_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v3/volumes/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v3/volumes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v3/volumes/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v3/volumes/urls.go
  website/docs/r/evs_volume_v3.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#384 Modify Classic/Enhanced LB docs
  website/docs/r/elb_backend.html.markdown
  website/docs/r/elb_health.html.markdown
  website/docs/r/elb_listener.html.markdown
  website/docs/r/elb_loadbalancer.html.markdown
  website/docs/r/lb_listener_v2.html.markdown
  website/docs/r/lb_loadbalancer_v2.html.markdown
  website/docs/r/lb_member_v2.html.markdown
  website/docs/r/lb_monitor_v2.html.markdown
  website/docs/r/lb_pool_v2.html.markdown
  website/opentelekomcloud.erb
Labels: documentation, size/M

#385 Add lbaas_listeners parameter to As Group
  opentelekomcloud/resource_opentelekomcloud_as_group_v1.go
  opentelekomcloud/resource_opentelekomcloud_as_group_v1_test.go
  website/docs/r/as_group_v1.html.markdown
Labels: documentation, size/M

#389 Add kms_id to as configuration
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/resource_opentelekomcloud_as_configuration_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/configurations/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/natgateways/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/natgateways/results.go
  vendor/modules.txt
  website/docs/r/as_configuration_v1.html.markdown
Labels: dependencies, documentation, size/L

#388 Fix some evs resource bug and add validating check
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
  website/docs/r/evs_volume_v3.html.markdown
Labels: documentation, size/XS

#386 Fix admin_state_up bool required Issue for ELB Load Balancer
  examples/basic-examples/modules/as/main.tf
  examples/basic-examples/modules/elb/elb.tf
  examples/elb-with-autoscaling/README.md
  examples/elb-with-autoscaling/main.tf
  website/docs/r/elb_backend.html.markdown
  website/docs/r/elb_health.html.markdown
  website/docs/r/elb_listener.html.markdown
  website/docs/r/elb_loadbalancer.html.markdown
Labels: documentation, size/XS

#390 Add Enhanced LB Whitelist resource
  go.mod
  go.sum
  opentelekomcloud/diff_suppress_funcs.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_lb_whitelist_v2.go
  opentelekomcloud/resource_opentelekomcloud_lb_whitelist_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/whitelists/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/whitelists/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/whitelists/urls.go
  vendor/modules.txt
  website/docs/r/lb_whitelist_v2.html.markdown
Labels: dependencies, documentation, size/XL

#392 Update golangsdk vendor
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/servers/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/whitelists/results.go
  vendor/modules.txt
Labels: dependencies, size/XS

#391 Add 'opentelekomcloud_ims_image_v2' resource and docs
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_ims_image_v2.go
  opentelekomcloud/resource_opentelekomcloud_ims_image_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/cloudimages/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/cloudimages/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/cloudimages/urls.go
  website/docs/r/ims_image_v2.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XXL

#394 Add instance volume_attached
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/XS

#395 [IMS] Rename image_tags to tags and update them with v2 interface
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_ims_image_v2.go
  opentelekomcloud/resource_opentelekomcloud_ims_image_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/tags/urls.go
  website/docs/r/ims_image_v2.html.markdown
Labels: dependencies, documentation, size/XL

#396 Add IMS data image resource
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_ims_data_image_v2.go
  opentelekomcloud/resource_opentelekomcloud_ims_data_image_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/cloudimages/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ims/v2/cloudimages/urls.go
  vendor/modules.txt
  website/docs/r/ims_data_image_v2.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XL

#397 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#400 Add eip support for cce cluster
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#401 Add tags to BMS server resource
  opentelekomcloud/resource_opentelekomcloud_compute_bms_server_v2.go
  website/docs/r/compute_bms_server_v2.html.markdown
Labels: documentation, size/S

#399 Update dcs_product data source docs
  website/docs/d/dcs_product_v1.html.markdown
Labels: documentation, size/S

#402 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#403 Add kms_id encryption to evs_volume_v3
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
  website/docs/r/evs_volume_v3.html.markdown
Labels: documentation, size/S

#405 Fix cce node update issue
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
Labels: size/XS

#406 Add missing lb_whitelist doc index
  website/opentelekomcloud.erb
Labels: documentation, size/XS

#407 Fix MRS cluster examples
  website/docs/r/mrs_cluster_v1.html.markdown
Labels: documentation, size/XS

#408 Fix ip/port attributes issue for DCS instance
  opentelekomcloud/resource_opentelekomcloud_dcs_instance_v1.go
Labels: size/XS

#409 Fix MRS region issue
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_mrs_job_v1_test.go
Labels: size/XS

#410 Add eip update support for cce cluster
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/urls.go
  vendor/modules.txt
  website/docs/r/cce_cluster_v3.html.md
Labels: dependencies, documentation, size/M
