Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2020-08, with the labels that each got.

#559 [compute] get instance nics within same network name
  opentelekomcloud/compute_instance_v2_networking.go
Labels: size/M

#558 Add opentelekomcloud_compute_availability_zones_v2 data source
  opentelekomcloud/data_source_opentelekomcloud_compute_availability_zones_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_availability_zones_v2_test.go
  opentelekomcloud/provider.go
  website/docs/d/compute_availability_zones_v2.html.md
Labels: documentation, size/L

#563 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#570 Add tag support for resource/vpc_eip_v1
  opentelekomcloud/resource_opentelekomcloud_vpc_eip_v1.go
  opentelekomcloud/resource_opentelekomcloud_vpc_eip_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_vpc_v1.go
Labels: gate

#580 Update .goreleaser.yml
  .goreleaser.yml
Labels: gate

#581 Add certificates to cce_cluster_v3 data source
  opentelekomcloud/data_source_opentelekomcloud_cce_cluster_v3.go
  website/docs/d/cce_cluster_v3.html.md
Labels: gate

#583 do not use armor for signing
  .goreleaser.yml
Labels: gate

#584 Update CHANGELOG.md
  CHANGELOG.md
Labels: gate

#585 Remove obsolete MaaS resources
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_maas_task_v1.go
  opentelekomcloud/resource_opentelekomcloud_maas_task_v1_test.go
  website/docs/r/maas_task_v1.html.markdown
  website/opentelekomcloud.erb
Labels: gate

#589 Remove not required jobs
  .travis.yml
  .zuul.yaml
Labels: gate

#586 Fix ECS tags-tag confusion
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_ecs_tag_v1.go
  website/docs/r/compute_instance_v2.html.markdown
Labels: gate

#595 Migrate from terraform-providers to opentelekomcloud
  .gitignore
  .zuul.yaml
  GNUmakefile
  README.md
  go.mod
  main.go
  scripts/changelog-links.sh
Labels: gate

#596 Add setting public IP for RDS instance v3
  docs/resources/rds_instance_v3.md
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3_test.go
Labels: gate
