Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2020-12, with the labels that each got.

#733 Refactoring r/ike-policy
  docs/resources/vpnaas_ike_policy_v2.md
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_vpnaas_ike_policy_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_ike_policy_v2_test.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/client.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/networking/v2/bandwidths/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/networking/v2/bandwidths/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/networking/v2/bandwidths/urls.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/networking/v2/extensions/vpnaas/ikepolicies/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/networking/v2/extensions/vpnaas/ikepolicies/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/provider_client.go
  vendor/modules.txt
Labels: dependencies, documentation, gate

#734 Move to SDK credentials implementation
  opentelekomcloud/data_source_opentelekomcloud_identity_credential_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3_test.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/identity/v3/credentials/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/identity/v3/credentials/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/identity/v3/credentials/urls.go
  vendor/modules.txt
Labels: dependencies, gate

#736 Fix changing AK/SK description
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3.go
Labels: gate

#737 Make `user_id` optional in `identity_credential_v3`
  docs/resources/identity_credential_v3.md
  go.mod
  go.sum
  opentelekomcloud/data_source_opentelekomcloud_identity_credential_v3.go
  opentelekomcloud/import_opentelekomcloud_identity_credential_v3_test.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3_test.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/client.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/utils/utils.go
  vendor/modules.txt
Labels: dependencies, documentation, gate

#741 Add load balancer and lb pool protocol alignment
  docs/resources/lb_pool_v2.md
Labels: documentation, gate

#742 Remove unused file
  opentelekomcloud/config.go
  opentelekomcloud/golangsdk_utils.go
  opentelekomcloud/resource_opentelekomcloud_ces_alarmrule.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_ecs_auto_recovery_v1.go
Labels: gate

#744 Update opentelekomcloud/gophertelekomcloud to v0.2.0
  go.mod
  go.sum
Labels: dependencies, gate

#745 Allow using OBS client without AK/SK
  opentelekomcloud/config.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object_test.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_test.go
Labels: gate

#746 Remove `credentials` from `obs_bucket` and `obs_bucket_object`
  docs/resources/obs_bucket.md
  docs/resources/obs_bucket_object.md
  opentelekomcloud/resource_opentelekomcloud_obs_bucket.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object_test.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_test.go
Labels: documentation, gate

#743 Changelog 1.22.0
  CHANGELOG.md
Labels: changelog, gate

#749 Remove duplicate clients
  go.mod
  go.sum
  opentelekomcloud/compute_bms_v2_server_addresses.go
  opentelekomcloud/compute_instance_v2_networking.go
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_flavor_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_keypair_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_nic_v2.go
  opentelekomcloud/data_source_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_peering_connection_v2.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_route_ids_v2.go
  opentelekomcloud/data_source_opentelekomcloud_vpc_route_v2.go
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2.go
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_ces_alarmrule.go
  opentelekomcloud/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_server_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_tags_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_bms_tags_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_floatingip_associate_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_css_cluster_v1.go
  opentelekomcloud/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_evs_tag_v2.go
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
  opentelekomcloud/resource_opentelekomcloud_fw_firewall_group_v2.go
  opentelekomcloud/resource_opentelekomcloud_fw_firewall_group_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_fw_policy_v2.go
  opentelekomcloud/resource_opentelekomcloud_fw_policy_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_fw_rule_v2.go
  opentelekomcloud/resource_opentelekomcloud_fw_rule_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_nat_dnat_rule_v2.go
  opentelekomcloud/resource_opentelekomcloud_nat_dnat_rule_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_associate_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_associate_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_vip_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_smn_subscription_v2.go
  opentelekomcloud/resource_opentelekomcloud_smn_subscription_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_smn_topic_v2.go
  opentelekomcloud/resource_opentelekomcloud_smn_topic_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_vpc_peering_connection_accepter_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpc_peering_connection_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpc_peering_connection_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_vpc_route_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpc_route_v2_test.go
Labels: dependencies, gate

#753 Remove non-existing credential instead returning error
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3.go
  opentelekomcloud/util.go
Labels: gate

#754 Fix LB protocol to pool protocol mapping description
  docs/resources/lb_pool_v2.md
Labels: documentation, gate

#755 Fix rdsv3 update volume size
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3_test.go
Labels: gate

#756 prevent SIGSEGV in data_source_opentelekomcloud_networking_secgroup_v2
  opentelekomcloud/data_source_opentelekomcloud_networking_secgroup_v2.go
Labels: crash, gate

#758 New resource cbr_policy_v3
  docs/resources/cbr_policy_v3.md
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_cbr_policy_v3.go
  opentelekomcloud/resource_opentelekomcloud_cbr_policy_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
Labels: dependencies, documentation, gate

#759 Revert r/evs_changes
  docs/resources/cbr_policy_v3.md
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
Labels: documentation, gate

#763 Changelog v1.22.1
  CHANGELOG.md
Labels: changelog, gate

#766 Add details about usage `lb_loadbalancer_v2` with `vpc_subnet_v1`
  docs/resources/lb_loadbalancer_v2.md
Labels: documentation, gate

#768 Add validations to `cce_cluster_v3`
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
Labels: gate

#711 Add CCE addon support
  docs/resources/cce_addon_v3.md
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_cce_addon_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_addon_v3_test.go
Labels: dependencies, documentation, gate, new-resource

#767 Remove `sdkClient`
  opentelekomcloud/config.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_role_v3_test.go
Labels: gate

#769 Update changelog to v1.22.2
  CHANGELOG.md
Labels: changelog, gate

#773 Add obs_bucket_policy resource
  docs/resources/obs_bucket_policy.md
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_policy.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_policy_test.go
Labels: documentation, gate

#772 Move s3_... resources to another category
  docs/data-sources/s3_bucket_object.md
  docs/resources/s3_bucket.md
  docs/resources/s3_bucket_object.md
  docs/resources/s3_bucket_policy.md
Labels: documentation, gate

#778 Add `os` argument to `cce_node_v3`
  docs/resources/cce_node_v3.md
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3_test.go
Labels: documentation, gate

#781 Refactor r/obs_bucket_object
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object_test.go
Labels: gate

#780 Add new data source `opentelekomcloud_obs_bucket_object`
  docs/data-sources/obs_bucket_object.md
  opentelekomcloud/data_source_opentelekomcloud_obs_bucket_object.go
  opentelekomcloud/data_source_opentelekomcloud_obs_bucket_object_test.go
  opentelekomcloud/provider.go
Labels: documentation, gate

#771 Update changelog to v1.22.3
  CHANGELOG.md
Labels: changelog, gate
