Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2020-10, with the labels that each got.

#650 Made `goreleaser-build` non-voting, as it's broken
  .zuul.yaml
Labels: gate

#643 Fix DCS issues
  docs/resources/dcs_instance_v1.md
  opentelekomcloud/resource_opentelekomcloud_dcs_instance_v1.go
  opentelekomcloud/resource_opentelekomcloud_dcs_instance_v1_test.go
Labels: gate

#651 Make `goreleaser-build` voting back again
  .zuul.yaml
Labels: gate

#654 Update role list based on #637
  docs/data-sources/identity_role_v3.md
Labels: gate

#655 Update changelog for new GH release
  CHANGELOG.md
Labels: changelog, gate

#657 Changelog v1.21.0
  CHANGELOG.md
Labels: changelog, gate

#658 RDSv3: Fix not assigning public IP
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3_test.go
Labels: gate

#659 Fix GH action `labeler`
  .github/labeler.yml
Labels: gate

#662 Remove travis CI integration
  .travis.yml
  scripts/gogetcookie.sh.enc
Labels: gate

#661 Allow expanding r/blockstorage_volume_v2 without re-creation
  docs/resources/blockstorage_volume_v2.md
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2.go
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2_test.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/compose.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/computed.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/condition.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/doc.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/force_new.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/validate.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/blockstorage/extensions/volumeactions/doc.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/blockstorage/extensions/volumeactions/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/blockstorage/extensions/volumeactions/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/blockstorage/extensions/volumeactions/urls.go
  vendor/modules.txt
Labels: dependencies, documentation, gate

#663 Update changelog for release 1.21.1
  CHANGELOG.md
Labels: changelog, gate

#667 Show help text for reporter only
  .github/ISSUE_TEMPLATE/Bug_Report.md
Labels: gate

#671 Add IDE-specific config to .editorconfig
  .editorconfig
Labels: gate

#666 suppress schema diff in CCE version
  opentelekomcloud/diff_suppress_funcs.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
Labels: gate

#674 Increased CCE delete timeout
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
Labels: gate

#669 Add opentelekomcloud_identity_auth_scope_v3
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_identity_auth_scope_v3.go
  opentelekomcloud/data_source_opentelekomcloud_identity_auth_scope_v3_test.go
  opentelekomcloud/provider.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/identity/v3/tokens/results.go
  vendor/modules.txt
Labels: dependencies, gate

#675 Update opentelekomcloud/gophertelekomcloud to v0.1.0
  go.mod
  go.sum
  vendor/github.com/opentelekomcloud/gophertelekomcloud/.editorconfig
  vendor/github.com/opentelekomcloud/gophertelekomcloud/.travis.yml
  vendor/github.com/opentelekomcloud/gophertelekomcloud/.zuul.yaml
  vendor/github.com/opentelekomcloud/gophertelekomcloud/Makefile
  vendor/github.com/opentelekomcloud/gophertelekomcloud/errors.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/compute/v2/extensions/secgroups/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/identity/v3/users/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/identity/v3/users/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/identity/v3/users/urls.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/networking/v2/extensions/security/groups/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/provider_client.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/results_job.go
  vendor/modules.txt
Labels: SDK, dependencies, gate

#676 Minor refactoring r/networking_secgroup_v2
  opentelekomcloud/resource_opentelekomcloud_networking_secgroup_v2.go
  opentelekomcloud/resource_opentelekomcloud_networking_secgroup_v2_test.go
Labels: gate

#668 Add setting user email during creation and update
  docs/resources/identity_user_v3.md
  opentelekomcloud/diff_suppress_funcs.go
  opentelekomcloud/resource_opentelekomcloud_identity_user_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_user_v3_test.go
Labels: documentation, gate

#677 Minor refactoring r/compute_secgroup_v2
  opentelekomcloud/resource_opentelekomcloud_compute_secgroup_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_secgroup_v2_test.go
Labels: gate

#682 Changelog 1.21.2
  CHANGELOG.md
Labels: changelog, gate

#681 CCE Node: made iptype, bandwidth_charge_mode, sharetype settable
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3_test.go
Labels: gate

#660 RDSv3: Migrate to gopher sdk
  opentelekomcloud/resource_opentelekomcloud_compute_floatingip_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_floatingip_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/validators.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/rds/v3/flavors/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/rds/v3/flavors/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/rds/v3/flavors/urls.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/rds/v3/instances/requests.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/rds/v3/instances/results.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/rds/v3/instances/results_job.go
  vendor/github.com/opentelekomcloud/gophertelekomcloud/openstack/rds/v3/instances/urls.go
  vendor/modules.txt
Labels: dependencies, gate

#683 Remove unused playbook files
  playbooks/pre.yaml
Labels: gate

#684 Minor changes in CCE docs
  docs/resources/cce_cluster_v3.md
  docs/resources/cce_node_v3.md
Labels: documentation, gate
