Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2020-02, with the labels that each got.

#450 Fix rds instance v3 node id issue
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
Labels: size/S

#451 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#453 Add tags support for MRS cluster
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/users/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/tags/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/sdrs/v1/protectiongroups/urls.go
  vendor/github.com/huaweicloud/golangsdk/service_client.go
  vendor/modules.txt
  website/docs/r/mrs_cluster_v1.html.markdown
Labels: dependencies, documentation, size/XL

#447 Add opentelekomcloud_nat_dnat_rule_v2 resource and doc
  opentelekomcloud/import_opentelekomcloud_nat_dnat_rule_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_nat_dnat_rule_v2.go
  opentelekomcloud/resource_opentelekomcloud_nat_dnat_rule_v2_test.go
  website/docs/r/nat_dnat_rule_v2.html.markdown
  website/opentelekomcloud.erb
Labels: documentation, size/XL

#455 Add bootstrap scripts support for MRS cluster
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/resource_opentelekomcloud_mrs_cluster_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/modules.txt
  website/docs/r/mrs_cluster_v1.html.markdown
Labels: dependencies, documentation, size/L

#452 Add CCE node preinstall/postinstall script support
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
  website/docs/r/cce_node_v3.html.md
Labels: dependencies, documentation, size/M
