Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2020-03, with the labels that each got.

#456 Fix identity_agency example
  website/docs/r/identity_agency_v3.html.markdown
Labels: documentation, size/XS

#457 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#459 Increase LB v1 bandwidth range to 1000
  opentelekomcloud/resource_opentelekomcloud_elb_loadbalancer.go
  website/docs/r/elb_loadbalancer.html.markdown
Labels: documentation, size/XS

#460 Fix vpc_subnet_v1 retrieval by id
  opentelekomcloud/data_source_opentelekomcloud_vpc_subnet_v1.go
Labels: size/XS

#463 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#465 Fix updating only TTL value of DNS record set v2
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2.go
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2_test.go
Labels: size/M

#462 Fix removing FW rule assigned to FW policy
  opentelekomcloud/resource_opentelekomcloud_fw_policy_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_fw_rule_v2.go
Labels: size/M

#469 Fix missing required `frequency` value in VBS policy v2 update
  opentelekomcloud/resource_opentelekomcloud_vbs_backup_policy_v2.go
Labels: size/XS

#467 Add obs_bucket and obs_bucket_object resource
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object_test.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/resource_opentelekomcloud_s3_bucket.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/CHANGELOG
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/README.MD
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/auth.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/conf.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/const.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/convert.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/error.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/http.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/log.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/model.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/temporary.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/trait.go
  vendor/github.com/huaweicloud/golangsdk/openstack/obs/util.go
  vendor/modules.txt
  website/docs/r/obs_bucket.html.markdown
  website/docs/r/obs_bucket_object.html.markdown
  website/opentelekomcloud.erb
Labels: dependencies, documentation, size/XXL
