Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2020-07, with the labels that each got.

#525 fix document bug for rds instance v3
  website/docs/r/rds_instance_v3.html.markdown
Labels: documentation, size/XS

#535 Update subnet_id description of CCE cluster
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#537 Add max_retries for client HTTP calls
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/types.go
  website/docs/index.html.markdown
Labels: documentation, size/M

#539 Follow-up fix for #537
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/config_test.go
  vendor/github.com/huaweicloud/golangsdk/testhelper/convenience.go
  vendor/github.com/huaweicloud/golangsdk/testhelper/doc.go
  vendor/github.com/huaweicloud/golangsdk/testhelper/http_responses.go
Labels: dependencies, size/XL

#543 Update CHANGELOG.md
  CHANGELOG.md
Labels: size/XS

#545 Add health_periodic_audit_grace_period to as group
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_as_group_v1.go
  opentelekomcloud/resource_opentelekomcloud_as_group_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/.travis.yml
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/pagination/linked.go
  vendor/modules.txt
  website/docs/r/as_group_v1.html.markdown
Labels: dependencies, documentation, size/M

#554 Add project_name to SMN topic
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_smn_topic_v2.go
  opentelekomcloud/resource_opentelekomcloud_smn_topic_v2_test.go
  opentelekomcloud/util.go
  vendor/github.com/jinzhu/copier/Guardfile
  vendor/github.com/jinzhu/copier/License
  vendor/github.com/jinzhu/copier/README.md
  vendor/github.com/jinzhu/copier/copier.go
  vendor/github.com/jinzhu/copier/wercker.yml
  website/docs/r/smn_topic_v2.html.markdown
Labels: dependencies, documentation, size/XL

#550 update docs for vpc_eip type
  website/docs/r/vpc_eip_v1.html.markdown
Labels: documentation, size/XS

#555 Add project_name to CTS tracker
  opentelekomcloud/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_cts_tracker_v1.go
  opentelekomcloud/resource_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/util.go
  website/docs/r/cts_tracker_v1.html.markdown
Labels: documentation, size/M
