Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2020-09, with the labels that each got.

#598 Update CHANGELOG.md for release 1.19.3
  CHANGELOG.md
Labels: gate

#599 Follow up fix for documentation
  docs/data-sources/compute_availability_zones_v2.md
  docs/resources/blockstorage_volume_v2.md
  docs/resources/cce_cluster_v3.md
  docs/resources/cce_node_v3.md
  docs/resources/ces_alarmrule.md
  docs/resources/compute_floatingip_associate_v2.md
  docs/resources/compute_floatingip_v2.md
  docs/resources/nat_dnat_rule_v2.md
  docs/resources/nat_gateway_v2.md
  docs/resources/nat_snat_rule_v2.md
  docs/resources/s3_bucket.md
  docs/resources/s3_bucket_object.md
  docs/resources/s3_bucket_policy.md
Labels: gate

#600 Update CHANGELOG.md for release 1.19.4
  CHANGELOG.md
Labels: gate

#602 Cleanup `vendor` removing unused packages
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/compute/v2/extensions/tags/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/maas/v1/task/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/maas/v1/task/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/maas/v1/task/urls.go
  vendor/modules.txt
Labels: documentation, gate

#603 Minor changes in docs folder
  docs/data-sources/s3_bucket_object.md
  docs/resources/blockstorage_volume_attach_v2.md
Labels: gate

#604 Ignore `metadata.policy` changes in `blockstorage_volume_v2`
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2.go
  opentelekomcloud/resource_opentelekomcloud_blockstorage_volume_v2_test.go
Labels: gate

#605 Add new data-source `vpnaas_service_v2`
  docs/data-sources/vpnaas_service_v2.md
  opentelekomcloud/data_source_opentelekomcloud_vpnaas_service_v2.go
  opentelekomcloud/data_source_opentelekomcloud_vpnaas_service_v2_test.go
  opentelekomcloud/provider.go
Labels: gate

#608 Fix r/smn_subscription_v2 and d/cts_tracker_v1
  docs/resources/smn_subscription_v2.md
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_cts_tracker_v1.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_smn_subscription_v2.go
  opentelekomcloud/resource_opentelekomcloud_smn_subscription_v2_test.go
  opentelekomcloud/resource_opentelekomcloud_smn_topic_v2_test.go
  opentelekomcloud/util.go
Labels: gate

#609 Update CHANGELOG.md
  CHANGELOG.md
Labels: gate

#613 Add identity_credential_v3 (permanent AK/SK)
  opentelekomcloud/config.go
  opentelekomcloud/data_source_opentelekomcloud_identity_credential_v3.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3.go
  opentelekomcloud/resource_opentelekomcloud_identity_credential_v3_test.go
Labels: gate

#614 Update CCE docs
  docs/data-sources/cce_cluster_v3.md
  docs/resources/cce_cluster_v3.md
Labels: gate

#615 Update lb listener doc
  docs/resources/lb_listener_v2.md
Labels: gate

#617 Update changelog for new release
  CHANGELOG.md
Labels: gate

#620 Add data_source/opentelekomcloud_dns_zone_v2
  docs/data-sources/dns_zone_v2.md
  go.mod
  go.sum
  opentelekomcloud/data_source_opentelekomcloud_dns_zone_v2.go
  opentelekomcloud/data_source_opentelekomcloud_dns_zone_v2_test.go
  opentelekomcloud/provider.go
  vendor/golang.org/x/crypto/curve25519/const_amd64.h
  vendor/golang.org/x/crypto/curve25519/const_amd64.s
  vendor/golang.org/x/crypto/curve25519/cswap_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/doc.go
  vendor/golang.org/x/crypto/curve25519/freeze_amd64.s
  vendor/golang.org/x/crypto/curve25519/ladderstep_amd64.s
  vendor/golang.org/x/crypto/curve25519/mont25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/mul_amd64.s
  vendor/golang.org/x/crypto/curve25519/square_amd64.s
  vendor/golang.org/x/crypto/internal/chacha20/asm_arm64.s
  vendor/golang.org/x/crypto/internal/chacha20/asm_ppc64le.s
  vendor/golang.org/x/crypto/internal/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/internal/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/internal/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/internal/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/internal/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/internal/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/internal/chacha20/xor.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/openpgp/packet/encrypted_key.go
  vendor/golang.org/x/crypto/openpgp/packet/packet.go
  vendor/golang.org/x/crypto/openpgp/packet/private_key.go
  vendor/golang.org/x/crypto/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/poly1305/poly1305.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.go
  vendor/golang.org/x/crypto/poly1305/sum_amd64.s
  vendor/golang.org/x/crypto/poly1305/sum_arm.go
  vendor/golang.org/x/crypto/poly1305/sum_arm.s
  vendor/golang.org/x/crypto/poly1305/sum_generic.go
  vendor/golang.org/x/crypto/poly1305/sum_noasm.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.go
  vendor/golang.org/x/crypto/poly1305/sum_ppc64le.s
  vendor/golang.org/x/crypto/poly1305/sum_s390x.go
  vendor/golang.org/x/crypto/poly1305/sum_s390x.s
  vendor/golang.org/x/crypto/poly1305/sum_vmsl_s390x.s
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/cipher.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/kex.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/modules.txt
Labels: gate, new-data-source

#616 Supplement cce_node_v3 schema
  docs/resources/cce_node_v3.md
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3_test.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.go
  vendor/golang.org/x/crypto/chacha20/chacha_arm64.s
  vendor/golang.org/x/crypto/chacha20/chacha_generic.go
  vendor/golang.org/x/crypto/chacha20/chacha_noasm.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.go
  vendor/golang.org/x/crypto/chacha20/chacha_s390x.s
  vendor/golang.org/x/crypto/chacha20/xor.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.go
  vendor/golang.org/x/crypto/curve25519/curve25519_amd64.s
  vendor/golang.org/x/crypto/curve25519/curve25519_generic.go
  vendor/golang.org/x/crypto/curve25519/curve25519_noasm.go
  vendor/golang.org/x/crypto/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/ssh/internal/bcrypt_pbkdf/bcrypt_pbkdf.go
Labels: gate

#626 Update CHANGELOG.md
  CHANGELOG.md
Labels: gate

#621 add k8sTags to cce node resource
  docs/resources/cce_node_v3.md
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
Labels: gate

#628 Update r/csbs_backup_policy_v1 with new field
  docs/resources/csbs_backup_policy_v1.md
  opentelekomcloud/resource_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/resource_opentelekomcloud_csbs_backup_policy_v1_test.go
Labels: gate

#627 allow to set security token by env variable
  opentelekomcloud/provider.go
Labels: gate

#629 Update outdated github templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug_Report.md
  .github/ISSUE_TEMPLATE/Documentation_Issue.md
  .github/ISSUE_TEMPLATE/Feature_Request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflow/labeler.yml
Labels: gate

#631 Fix labeler action
  .github/workflow/pr-labeler.yml
  .github/workflow/properties/pr-labeler.properties.json
Labels: gate

#632 Fix issue with GH actions folder
  .github/workflows/pr-labeler.yml
  .github/workflows/properties/pr-labeler.properties.json
Labels: gate

#634 Quick fix of UDP-CONNECT
  opentelekomcloud/resource_opentelekomcloud_lb_monitor_v2.go
Labels: gate

#635 Handle 404 during reading tags for CCE node
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
Labels: gate

#636 Fix not creating obs bucket with security_token
  opentelekomcloud/config.go
Labels: gate

#638 Update changelog for v1.20.2
  CHANGELOG.md
Labels: changelog, gate
