Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-07, with the labels that each got.

#1185 [KMS] Add new resource `opentelekomcloud_kms_grant_v1`
  docs/resources/kms_grant_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/kms/import_opentelekomcloud_kms_grant_v1_test.go
  opentelekomcloud/acceptance/kms/resource_opentelekomcloud_kms_grant_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/kms/common.go
  opentelekomcloud/services/kms/resource_opentelekomcloud_kms_grant_v1.go
  releasenotes/notes/r-kms-grant-63d17d3ddbdace63.yaml
Labels: dependencies, documentation, gate

#1189 Add documentation preview script
  scripts/build-docs.sh
Labels: gate

#1183 Add resource for CSS snapshot configuration
  docs/resources/css_snapshot_configuration_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_snapshot_configuration_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_snapshot_configuration_v1.go
  opentelekomcloud/services/css/utils.go
  releasenotes/notes/css-snapshot-cb95a4dc65618525.yaml
Labels: dependencies, documentation, gate

#1190 [Networking] Remove using of `mutexkv` in router
  docs/resources/networking_router_v2.md
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_router_v2_test.go
  opentelekomcloud/services/vpc/common.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_router_v2.go
  releasenotes/notes/ref-nw-router-aa9282594f0a774d.yaml
Labels: documentation, gate

#1193 [WAF] precise protection rule change logic parameter to string
  docs/resources/waf_preciseprotection_rule_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_preciseprotection_rule_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_preciseprotection_rule_v1.go
Labels: gate

#1195 [IAM] Add federation protocol resource
  docs/resources/identity_protocol_v3.md
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_protocol_v3_test.go
  opentelekomcloud/common/importers.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_protocol.go
  releasenotes/notes/iam-protocol-ed0e4f30508312dd.yaml
Labels: documentation, gate

#1196 Fix incorrect identity client creation
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_protocol.go
Labels: gate

#1194 [AS] Implement `resource/opentelekomcloud_as_policy_v2`
  docs/resources/as_policy_v2.md
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/as/common.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v2.go
  releasenotes/notes/r/as-policy-v2-83324c6b96125194.yaml
Labels: documentation, gate

#1200 [CCE] Fix wrong name in `node_pool` example
  docs/resources/cce_node_pool_v3.md
Labels: documentation, gate

#1201 Add missing releasenote
  releasenotes/notes/fix-waf-logic-1eda21dce588c3d4.yaml
Labels: gate

#1203 [RDS] Fix issue with wrong order of AZs
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-as-fix-91f078232add2ee5.yaml
Labels: gate

#1204 Remove useless `r` dir in releasenote
  releasenotes/notes/as-policy-v2-83324c6b96125194.yaml
Labels: gate

#1207 Add `enhancement` section to the release notes
  releasenotes/config.yaml
  releasenotes/notes/reno-enh-28da3ae7b96d4c69.yaml
  releasenotes/template.yaml
Labels: gate

#1209 Add example of public load balancer
  docs/resources/lb_loadbalancer_v2.md
Labels: documentation, gate

#1210 [GH] Add release notes point to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: gate

#1212 [AS] Update schema in `as_group_v1`
  docs/resources/as_group_v1.md
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  releasenotes/notes/as-group-doc-befd791abd9299e3.yaml
Labels: documentation, gate

#1213 Fix formatting of the release notes
  releasenotes/notes/addon-templates-f3c87d971d5f494d.yaml
  releasenotes/notes/fix-image-name-reading-c76e900fed0647e2.yaml
  releasenotes/notes/fix-secgroup-23e41d4ac82f0f34.yaml
  releasenotes/notes/fix-waf-logic-1eda21dce588c3d4.yaml
  releasenotes/notes/iam-protocol-ed0e4f30508312dd.yaml
  releasenotes/notes/rds-as-fix-91f078232add2ee5.yaml
  releasenotes/notes/ref-nw-router-aa9282594f0a774d.yaml
  releasenotes/notes/update-terraform-sdk-bad7d4fc8e9893d8.yaml
  releasenotes/source/current.rst
  releasenotes/source/older.rst
Labels: gate

#1214 [CCE] Add possibility to set `subnet_id`
  docs/resources/cce_node_v3.md
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-subnet-9fe3199a7ff7a2de.yaml
Labels: documentation, gate

#1215 [CTS] Make all SMN related fields `Optional`
  docs/resources/cts_tracker_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cts/resource_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/services/cts/resource_opentelekomcloud_cts_tracker_v1.go
  releasenotes/notes/cts-operations-fix-88dc6fe96cea016d.yaml
Labels: dependencies, documentation, gate

#1217 [SMN] New resource `opentelekomcloud_smn_topic_attribute_v2`
  docs/resources/smn_topic_attribute_v2.md
  opentelekomcloud/acceptance/smn/resource_opentelekomcloud_smn_topic_attribute_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/smn/common.go
  opentelekomcloud/services/smn/resource_opentelekomcloud_smn_topic_attribute_v2.go
  releasenotes/notes/smn-topic-attrs-ee45ace6da3e4620.yaml
Labels: documentation, gate

#1218 [EVS] Unify usage of `tags` in `evs_volume_v3`
  opentelekomcloud/acceptance/evs/resource_opentelekomcloud_evs_volume_v3_test.go
  opentelekomcloud/services/evs/common.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_evs_volume_v3.go
  releasenotes/notes/evs3-tags-4ef7d26c6b400e7a.yaml
Labels: gate

#1191 Add option to add taints to resource_opentelekomcloud_cce_node_v3
  docs/resources/cce_node_v3.md
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
Labels: gate

#1219 [IAM] Clarify usage of `d/auth_scope_v3`
  docs/data-sources/identity_auth_scope_v3.md
  releasenotes/notes/auth-scope-doc-30a2345909450b29.yaml
Labels: documentation, gate

#1220 [CCE] Add possibility to set `taints` in `cce_node_v3`
  docs/resources/cce_node_v3.md
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-taints-c1a11ad8f6c15122.yaml
Labels: documentation, gate

#1221 [CCE] Read `taints` in `cce_node_v3`
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/services/cce/common.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-taints-1104b3e465d96a53.yaml
Labels: dependencies, gate

#1223 [CCE] Read assigned `k8s_tags` in `cce_node_v3`
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-k8s-tags-3953b8ac3223be8e.yaml
Labels: gate

#1225 [CCE] Read IDs of autogenerated SGs in `cce_cluster_v3`
  docs/resources/cce_cluster_v3.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  releasenotes/notes/cce-cluster-sg-73e9e68c6115740e.yaml
Labels: documentation, gate

#1228 Fix misprint in releasenote
  releasenotes/notes/cce-node-k8s-tags-3953b8ac3223be8e.yaml
Labels: gate

#1229 [ELB] Fix wrong `id` setting in `lb_member_v2`
  docs/resources/lb_member_v2.md
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_member_v2_test.go
  opentelekomcloud/services/elb/common.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_member_v2.go
  releasenotes/notes/lb-member-fix-40509a2a4c852643.yaml
Labels: documentation, gate

#1216 Update addon-templates-v1.19.8.md
  opentelekomcloud/services/cce/addon-templates-v1.19.8.md
Labels: gate

#1226 [VPC] New `data_source/secgroup_rule_ids_v2`
  docs/data-sources/networking_secgroup_rule_ids_v2.md
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_networking_secgroup_rule_ids_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_networking_secgroup_rule_ids_v2.go
  releasenotes/notes/d-sg-rule-ids-c42543c92ab09771.yaml
Labels: documentation, gate

#1232 [DCS] Allow changing config parameters in `dcs_instance_v1`
  docs/resources/dcs_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/acceptance/dcs/utils.go
  opentelekomcloud/services/dcs/common.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs-config-f86279439ebe1235.yaml
Labels: dependencies, documentation, gate

#1234 Add note in `CHANGELOG.md`
  CHANGELOG.md
Labels: changelog, gate

#1235 [OBS] Add event bucket notification configuration
  docs/resources/obs_bucket.md
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  releasenotes/notes/obs-notifications-738bc6b5cb60a43d.yaml
Labels: documentation, gate

#1237 [VPC] Fix issue with wrong ID setting
  docs/data-sources/vpc_v1.md
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_v1_test.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_v1.go
  releasenotes/notes/d-vpc-v1-d07b98c8030a6a03.yaml
Labels: documentation, gate

#1197 [IAM] Add identity metadata import support
  docs/resources/identity_protocol_v3.md
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_protocol_v3_test.go
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_protocol_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_provider_v3.go
  releasenotes/notes/iam-protocol-metadata-899c3463f6aadbcd.yaml
Labels: documentation, gate
