Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-12, with the labels that each got.

#1567 Acceptance: refactor `S3` tests
  opentelekomcloud/acceptance/s3/data_source_opentelekomcloud_s3_bucket_object_test.go
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_object_test.go
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_policy_test.go
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_test.go
Labels: gate

#1568 Acceptance: Refactor `ELBv2` tests
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_certificate_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_l7policy_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_l7rule_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_member_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_monitor_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_pool_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_whitelist_v2_test.go
Labels: gate

#1571 Acceptance: Make `AS` tests parallel
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_configuration_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v2_test.go
  opentelekomcloud/acceptance/common/quotas/quotas.go
Labels: gate

#1572 Acceptance: Make `CBR` tests parallel
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_policy_v3_test.go
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/acceptance/common/quotas/quotas.go
Labels: gate

#1573 [CCE] Clarify node pool random AZ usage
  docs/resources/cce_node_pool_v3.md
  releasenotes/notes/cce-pool-doc-849084148374cd96.yaml
Labels: documentation, gate

#1574 Acceptance: make `CES` tests parallel
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
Labels: gate

#1577 Acceptance: Parallelize `CSBS` tests
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/acceptance/csbs/import_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/import_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/acceptance/csbs/resource_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/resource_opentelekomcloud_csbs_backup_v1_test.go
Labels: gate

#1578 Acceptance: Parallelize `CSS` tests
  opentelekomcloud/acceptance/css/data_source_opentelekomcloud_css_flavor_v1_test.go
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_snapshot_configuration_v1_test.go
  opentelekomcloud/acceptance/css/utils.go
Labels: gate

#1580 [ELB] Improve `lb_certificate_v2` resource
  docs/resources/lb_certificate_v2.md
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_certificate_v2_test.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_certificate_v2.go
  releasenotes/notes/elbv2-cert-1672a4a0182e62f6.yaml
Labels: documentation, gate

#1581 Acceptance: make `DCS` tests parallel
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_az_v1_test.go
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_maintainwindow_v1_test.go
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_product_v1_test.go
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
Labels: gate

#1582 [ECS] Add possibility to encrypt `system_disk`
  docs/resources/ecs_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/ecs-sys-encryption-abed87dd6c2001e8.yaml
Labels: dependencies, documentation, gate

#1583 [IAM] Documentation fix
  docs/resources/identity_user_group_membership_v3.md
Labels: gate

#1584 fix wording of error messages
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_agency_v3.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
Labels: gate

#1586 [ECS] Fix refresh of deleted instance v1
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/ecs-deleted-d324eb94cc537edb.yaml
Labels: gate
