Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-03, with the labels that each got.

#877 [AS] Add possibility to set group tags
  docs/resources/as_group_v1.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v1.go
Labels: documentation, gate

#882 Fix reading `opentelekomcloud_css_cluster_v1`
  opentelekomcloud/acceptance/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
Labels: gate

#883 Set `timezone` required for `cbr_policy_v3`
  docs/resources/cbr_policy_v3.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_cbr_policy_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_policy_v3.go
Labels: documentation, gate

#884 [KMS] Add possibility to set tags
  docs/resources/kms_key_v1.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_kms_key_v1_test.go
  opentelekomcloud/services/kms/resource_opentelekomcloud_kms_key_v1.go
Labels: documentation, gate

#887 Fix raising error on changing existing public key
  opentelekomcloud/acceptance/resource_opentelekomcloud_compute_keypair_v2_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_keypair_v2.go
Labels: gate

#886 Update changelog for new release
  CHANGELOG.md
Labels: changelog, gate

#890 [LB] Add possibility to set tags
  docs/resources/lb_loadbalancer_v2.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_loadbalancer_v2.go
Labels: documentation, gate

#895 [ELB] Add possibility to set tags
  docs/resources/lb_listener_v2.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_listener_v2.go
Labels: documentation, gate

#894 Better Readme
  README.md
Labels: gate

#896 [Compute] Add possibility to create SSH key
  docs/resources/compute_keypair_v2.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_compute_keypair_v2_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_keypair_v2.go
Labels: documentation, gate

#897 Allow empty resource list in cbr_vault_v3 resource
  opentelekomcloud/acceptance/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
Labels: gate

#905 Add clarifcation that zone_type is required for private zones
  docs/data-sources/dns_zone_v2.md
Labels: documentation, gate

#899 Update changelog for v1.23.3
  CHANGELOG.md
Labels: changelog, gate

#906 [VPN] Refactoring IPSec policy resource
  docs/resources/vpnaas_ipsec_policy_v2.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_vpnaas_ipsec_policy_v2_test.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_ipsec_policy_v2.go
Labels: documentation, gate

#907 [AS] Update description of `as_group`
  docs/resources/as_group_v1.md
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
Labels: documentation, gate

#908 Add `snapshot` and `release` make targets
  GNUmakefile
Labels: gate

#902 Add `enable_authority` and `admin_pass` support
  docs/resources/css_cluster_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
Labels: dependencies, documentation, gate

#909 [ECS] Fix issue with security_group
  docs/resources/ecs_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
Labels: dependencies, documentation, gate

#911 [CCE] Fix k8stags validation
  docs/resources/cce_node_pool_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/common/validators.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
Labels: dependencies, documentation, gate

#913 Add `opentelekomcloud_css_flavor_v1` data source
  docs/data-sources/css_flavor_v1.md
  opentelekomcloud/acceptance/data_source_opentelekomcloud_css_flavor_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/css/data_source_opentelekomcloud_css_flavor_v1.go
Labels: documentation, gate, new-data-source

#919 [ECS] Refactoring `tags` workflow
  docs/resources/ecs_instance_v1.md
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/common/tags.go
  opentelekomcloud/common/validators.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  opentelekomcloud/services/mrs/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v1.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
Labels: documentation, gate

#921 Retry 502 errors one time
  go.mod
  go.sum
  opentelekomcloud/common/cfg/transport_test.go
Labels: dependencies, gate

#926 Add possibility to set `datastore` argument
  docs/resources/css_cluster_v1.md
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
Labels: documentation, gate

#925 [ELB] Add possibility to set `domain_name`
  docs/resources/lb_monitor_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/lb/resource_opentelekomcloud_lb_monitor_v2_test.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_monitor_v2.go
Labels: dependencies, documentation, gate

#927 [ECS] Unify `tags` workflow in `instance_v2`
  docs/resources/compute_instance_v2.md
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
Labels: documentation, gate

#928 Add early disk size validation for css cluster
  go.mod
  go.sum
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
Labels: dependencies, gate

#931 Add description of addon template input values
  docs/resources/cce_addon_v3.md
  opentelekomcloud/services/cce/addon-templates.md
Labels: documentation, gate

#929 [ECS] Update `compute_instance_v2` doc
  docs/resources/compute_instance_v2.md
Labels: documentation, gate

#933 Update changelog for new release
  CHANGELOG.md
Labels: changelog, gate

#938 Allow to set cce cluster node private IP
  docs/resources/cce_node_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
Labels: dependencies, documentation, gate

#941 [AS] Add possibility to set `security_groups`
  docs/resources/as_configuration_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_configuration_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
Labels: dependencies, documentation, gate

#943 Update SDK version to v0.2.7
  go.mod
  go.sum
Labels: dependencies, gate

#945 [CCE] Increase node pool timeouts
  docs/resources/cce_node_pool_v3.md
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
Labels: documentation, gate

#946 Add `opentelekomcloud_identity_provider_v3` resource
  docs/resources/identity_provider_v3.md
  opentelekomcloud/acceptance/iam/import_opentelekomcloud_identity_provider_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_provider_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_provider.go
Labels: documentation, gate
