Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-01, with the labels that each got.

#787 Implement network validation for CCE cluster during plan
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
Labels: gate

#788 Add timeouts section to CCE documentation
  docs/resources/cce_cluster_v3.md
  docs/resources/cce_node_v3.md
Labels: documentation, gate

#784 Add param_group_id support
  docs/resources/rds_instance_v3.md
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_rds_configuration_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_configuration_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3_test.go
Labels: dependencies, documentation, gate

#789 Fix `rds_parametergroup_v3` recreation
  docs/resources/rds_parametergroup_v3.md
  opentelekomcloud/resource_opentelekomcloud_rds_parametergroup_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_parametergroup_v3_test.go
Labels: documentation, gate

#792 Implement `d/opentelekomcloud_rds_versions_v3`
  docs/data-sources/rds_versions_v3.md
  go.mod
  opentelekomcloud/data_source_opentelekomcloud_rds_versions_v3.go
  opentelekomcloud/data_source_opentelekomcloud_rds_versions_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/utils.go
Labels: dependencies, documentation, gate

#795 Implement db version validation for RDSv3 instance
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3_test.go
Labels: gate

#794 Allow shared key pairs in `compute_keypair_v2`
  docs/resources/compute_keypair_v2.md
  opentelekomcloud/resource_opentelekomcloud_compute_keypair_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_keypair_v2_test.go
  opentelekomcloud/util.go
Labels: documentation, gate

#796 Implement db version validation for RDSv3 parameter group
  opentelekomcloud/customize_diffs.go
  opentelekomcloud/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_parametergroup_v3.go
  opentelekomcloud/resource_opentelekomcloud_rds_parametergroup_v3_test.go
Labels: gate

#800 Add shared DNS record sets support
  docs/resources/dns_recordset_v2.md
  opentelekomcloud/importers.go
  opentelekomcloud/resource_opentelekomcloud_compute_keypair_v2.go
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2.go
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2_test.go
  opentelekomcloud/util.go
Labels: documentation, gate

#799 Add changelog for v1.22.4
  CHANGELOG.md
Labels: changelog, gate

#802 Update CHANGELOG.md
  CHANGELOG.md
Labels: changelog, gate

#804 Hotfix network validation of CCE cluster
  opentelekomcloud/customize_diffs.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
Labels: gate

#805 Update CHANGELOG.md
  CHANGELOG.md
Labels: changelog, gate

#808 Remove vendoring modules in `fmtcheck`
  GNUmakefile
Labels: gate

#798 Get rid of `gophercloud/utils` dependency
  go.mod
  go.sum
  main.go
  opentelekomcloud/config.go
  opentelekomcloud/config_test.go
Labels: dependencies, gate

#811 Fix invalid AK/SK signature for OBS
  go.mod
  go.sum
Labels: dependencies, gate

#812 [OBS] Fix versioned objects deletion
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object.go
  opentelekomcloud/resource_opentelekomcloud_obs_bucket_object_test.go
Labels: gate

#816 Mark sensitive fields as `Sensitive`
  opentelekomcloud/provider.go
Labels: gate

#813 Add provider credentials validation
  opentelekomcloud/config.go
  opentelekomcloud/config_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/provider_test.go
Labels: gate

#814 Changelog for v1.22.6 release
  CHANGELOG.md
Labels: changelog, gate

#819 [compute_instance_v2] Deprecate personality field
  docs/resources/compute_instance_v2.md
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/resource_opentelekomcloud_compute_instance_v2_test.go
Labels: documentation, gate

#820 Add plan-stage ECS dependencies validation
  docs/resources/ecs_instance_v1.md
  opentelekomcloud/customize_diffs.go
  opentelekomcloud/resource_opentelekomcloud_ecs_instance_v1.go
  opentelekomcloud/resource_opentelekomcloud_ecs_instance_v1_test.go
Labels: documentation, gate

#822 Update nat_gateway_v2.md
  docs/resources/nat_gateway_v2.md
Labels: gate
