Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-10, with the labels that each got.

#1436 GoReleaser: add automatic pre-release
  .goreleaser.yml
Labels: gate

#1438 Make `TestQuota_MultipleUnreleased` more stable
  opentelekomcloud/acceptance/common/quotas/quotas_test.go
Labels: gate

#1420 [Acceptance] Add setup/teardown scripts
  .zuul.yaml
  infrastructure/network.tf
  infrastructure/settings.tf
  playbooks/infra-post.yaml
  playbooks/infra-pre.yaml
  scripts/run-acceptance.sh
Labels: gate, acceptance

#1440 Acceptance: make quotas tests less parallelized
  opentelekomcloud/acceptance/common/quotas/quotas_test.go
Labels: gate, acceptance

#1443 Use ELBv2 client for ELB resources
  go.mod
  go.sum
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_backend_test.go
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_health_test.go
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_listener_test.go
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_loadbalancer_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_certificate_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_l7policy_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_l7rule_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_member_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_monitor_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_pool_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_whitelist_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/services/elb/common.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_backend.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_health.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_listener.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_loadbalancer.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_certificate_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_l7policy_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_l7rule_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_listener_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_loadbalancer_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_member_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_monitor_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_pool_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_whitelist_v2.go
  releasenotes/notes/elb-client-v2-bad81f6ad44d720a.yaml
Labels: dependencies, gate

#1444 Acceptance: Make ELBv2 tests run in parallel
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_backend_test.go
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_health_test.go
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_listener_test.go
  opentelekomcloud/acceptance/elb/v1/resource_opentelekomcloud_elb_loadbalancer_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_certificate_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_l7policy_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_l7rule_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_member_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_monitor_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_pool_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_whitelist_v2_test.go
Labels: gate, acceptance

#1442 [SMN] Minor changes in `subscription_v2`
  docs/resources/smn_subscription_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/smn/resource_opentelekomcloud_smn_subscription_v2_test.go
  opentelekomcloud/services/smn/resource_opentelekomcloud_smn_subscription_v2.go
  releasenotes/notes/fix-smn-subscription-feb924b767d0ad57.yaml
Labels: dependencies, documentation, gate

#1445 Acceptance: make EVS tests run in parallel
  opentelekomcloud/acceptance/common/quotas/quotas.go
  opentelekomcloud/acceptance/evs/import_opentelekomcloud_blockstorage_volume_v2_test.go
  opentelekomcloud/acceptance/evs/resource_opentelekomcloud_blockstorage_volume_v2_test.go
  opentelekomcloud/acceptance/evs/resource_opentelekomcloud_evs_volume_v3_test.go
Labels: gate, acceptance

#1446 Acceptance: add name to quotas
  opentelekomcloud/acceptance/common/quotas/quotas.go
  opentelekomcloud/acceptance/common/quotas/quotas_test.go
Labels: gate, acceptance

#1449 Acceptance: make `ECS` tests parallel
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_availability_zones_v2_test.go
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_flavor_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_floatingip_associate_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_floatingip_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_keypair_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_secgroup_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_servergroup_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_volume_attach_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_floatingip_associate_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_floatingip_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_keypair_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_secgroup_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_servergroup_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_volume_attach_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/acceptance/ecs/utils.go
Labels: gate
