Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-02, with the labels that each got.

#823 Add volume type validation for EVS v3
  opentelekomcloud/resource_opentelekomcloud_evs_v3.go
  opentelekomcloud/resource_opentelekomcloud_evs_v3_test.go
Labels: gate

#821 [as_configuration] refactoring resource
  docs/resources/as_configuration_v1.md
  opentelekomcloud/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/resource_opentelekomcloud_as_configuration_v1_test.go
Labels: documentation, gate

#824 Update changelog for 1.22.7 release
  CHANGELOG.md
Labels: changelog, gate

#829 Use debian-buster nodeset for goreleaser jobs
  .zuul.yaml
Labels: gate

#825 [CCE] Resource opentelekomcloud_cce_node_pool_v3
  docs/resources/cce_node_pool_v3.md
  opentelekomcloud/custom_functions.go
  opentelekomcloud/customize_diffs.go
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
Labels: documentation, gate

#828 Fix not loading cloud config
  go.mod
  go.sum
  opentelekomcloud/config.go
  opentelekomcloud/provider_test.go
Labels: dependencies, gate

#830 [vpc_eip_v1] refactoring tags
  docs/resources/vpc_eip_v1.md
  go.mod
  go.sum
  opentelekomcloud/resource_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/resource_opentelekomcloud_dns_ptrrecord_v2.go
  opentelekomcloud/resource_opentelekomcloud_dns_recordset_v2.go
  opentelekomcloud/resource_opentelekomcloud_dns_zone_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpc_eip_v1.go
  opentelekomcloud/resource_opentelekomcloud_vpc_eip_v1_test.go
  opentelekomcloud/resource_opentelekomcloud_vpc_subnet_v1.go
  opentelekomcloud/resource_opentelekomcloud_vpc_v1.go
  opentelekomcloud/resource_opentelekomcloud_vpnaas_site_connection_v2.go
  opentelekomcloud/tags.go
Labels: dependencies, documentation, gate

#831 Fix order of arguments for group id and user id in error message.
  opentelekomcloud/resource_opentelekomcloud_identity_group_membership_v3.go
Labels: gate

#832 [dns_ptrrecord_v2] fix issues with tags
  docs/resources/dns_ptrrecord_v2.md
  opentelekomcloud/resource_opentelekomcloud_dns_ptrrecord_v2.go
  opentelekomcloud/resource_opentelekomcloud_dns_ptrrecord_v2_test.go
Labels: documentation, gate

#835 [SFS] Refactoring sfs_file_system_v2 resource
  docs/resources/sfs_file_system_v2.md
  opentelekomcloud/resource_opentelekomcloud_sfs_file_system_v2.go
  opentelekomcloud/resource_opentelekomcloud_sfs_file_system_v2_test.go
Labels: documentation, gate

#838 Change nodeset of goreleaser jobs
  .zuul.yaml
Labels: gate

#836 [CCE] Fix crash on empty `basic` addon values
  opentelekomcloud/resource_opentelekomcloud_cce_addon_v3.go
  opentelekomcloud/resource_opentelekomcloud_cce_addon_v3_test.go
Labels: bug, gate

#837 [VPC] Refactoring vpc_route_v2 resource
  docs/resources/vpc_route_v2.md
  opentelekomcloud/import_opentelekomcloud_vpc_route_test.go
  opentelekomcloud/resource_opentelekomcloud_vpc_route_v2.go
  opentelekomcloud/resource_opentelekomcloud_vpc_route_v2_test.go
Labels: documentation, gate

#833 Add CBR vault v3 resource
  docs/resources/cbr_vault_v3.md
  go.mod
  go.sum
  opentelekomcloud/provider.go
  opentelekomcloud/resource_opentelekomcloud_cbr_vault_v3.go
  opentelekomcloud/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/util.go
Labels: dependencies, documentation, gate

#840 Update changelog for new release
  CHANGELOG.md
Labels: changelog, gate

#846 Make goreleaser-build jobs non-voting
  .zuul.yaml
Labels: gate

#845 Fix acceptance tests for CCE cluster
  opentelekomcloud/resource_opentelekomcloud_cce_cluster_v3_test.go
Labels: gate

#848 Fix shared DNS recordset searching
  opentelekomcloud/acceptance/resource_opentelekomcloud_dns_recordset_v2_test.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_recordset_v2.go
Labels: gate

#850 Make DNS resources diff ignore ending dot in name
  opentelekomcloud/acceptance/resource_opentelekomcloud_dns_ptrrecord_v2_test.go
  opentelekomcloud/acceptance/resource_opentelekomcloud_dns_recordset_v2_test.go
  opentelekomcloud/acceptance/resource_opentelekomcloud_dns_zone_v2_test.go
  opentelekomcloud/common/diff_suppress_funcs.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_ptrrecord_v2.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_recordset_v2.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_zone_v2.go
Labels: gate

#854 Migrate goreleaser jobs against fedora-32
  .zuul.yaml
Labels: gate

#852 [sfs_turbo] Add new resource
  docs/resources/sfs_turbo_share_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/import_opentelekomcloud_sfs_turbo_share_v1_test.go
  opentelekomcloud/acceptance/resource_opentelekomcloud_sfs_turbo_share_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_turbo_share_v1.go
Labels: dependencies, documentation, gate

#858 Make goreleaser build matrix more strict
  .goreleaser.yml
Labels: gate

#855 [VBS] Fix backup read operation
  go.mod
  go.sum
  opentelekomcloud/common/validators.go
  opentelekomcloud/services/vbs/resource_opentelekomcloud_vbs_backup_v2.go
Labels: dependencies, gate

#857 Update readme doc
  README.md
Labels: documentation, gate

#859 [compute] Remove stale arguments from schema
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
Labels: gate

#860 Add changelog for release `v1.23.0`
  CHANGELOG.md
Labels: changelog, gate

#865 Fix acceptance tests for `r/compute_instance_v2`
  opentelekomcloud/acceptance/resource_opentelekomcloud_compute_instance_v2_test.go
Labels: gate

#864 [CCE] Fix issue with random AZ
  docs/resources/cce_node_pool_v3.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/common/customize_diffs.go
Labels: documentation, gate

#866 Fix broken read of `OS_IMAGE_ID` env variable
  opentelekomcloud/acceptance/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
Labels: gate

#867 [SFS] Add possibility to set tags
  docs/resources/sfs_file_system_v2.md
  opentelekomcloud/acceptance/resource_opentelekomcloud_sfs_file_system_v2_test.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_file_system_v2.go
Labels: documentation, gate

#870 Fix DNS zone v2 basic acceptance test
  opentelekomcloud/acceptance/data_source_opentelekomcloud_dns_zone_v2_test.go
Labels: gate

#872 Fix panic when VBS backup policy is missing
  opentelekomcloud/acceptance/resource_opentelekomcloud_vbs_backup_policy_v2_test.go
  opentelekomcloud/services/vbs/resource_opentelekomcloud_vbs_backup_policy_v2.go
Labels: crash, gate

#873 Update CHANGELOG.md for v1.23.1
  CHANGELOG.md
Labels: changelog, gate

#876 Remove reading empty CCE Node`Spec.ExtendParam`
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
Labels: gate
