Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-04, with the labels that each got.

#951 [DOC] `ecs_instance_v1`: Make nics required
  docs/resources/ecs_instance_v1.md
Labels: gate

#952 Fix `networking_network_v2` documentation typo
  docs/resources/networking_network_v2.md
Labels: gate

#947 [IAM] Add `opentelekomcloud_identity_mapping_v3` resource
  docs/resources/identity_mapping_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/import_opentelekomcloud_identity_mapping_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_mapping_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_provider_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_mapping_v3.go
Labels: dependencies, documentation, gate

#953 [SFS] Make `access` params optional
  docs/resources/sfs_file_system_v2.md
  opentelekomcloud/acceptance/sfs/resource_opentelekomcloud_sfs_file_system_v2_test.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_file_system_v2.go
Labels: documentation, gate

#955 [SFS] New `resource/opentelekomcloud_sfs_share_access_rules_v2`
  docs/resources/sfs_file_system_v2.md
  docs/resources/sfs_share_access_rules_v2.md
  opentelekomcloud/acceptance/sfs/import_opentelekomcloud_sfs_share_access_rules_v2_test.go
  opentelekomcloud/acceptance/sfs/resource_opentelekomcloud_sfs_share_access_rules_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_file_system_v2.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_share_access_rules_v2.go
Labels: documentation, gate

#957 [GH] Update feature request template
  .github/ISSUE_TEMPLATE/Feature_Request.md
Labels: gate

#956 Add `power_state` to `compute_instance_v2`
  docs/resources/compute_instance_v2.md
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
Labels: documentation, gate

#960 Docu: opentelekomcloud_css_cluster_v1 fix typo
  docs/resources/css_cluster_v1.md
Labels: gate

#961 Docu: opentelekomcloud_dns_recordset_v2 fix required values
  docs/resources/dns_recordset_v2.md
Labels: gate

#963 [SDRS] New `resource/opentelekomcloud_sdrs_protected_instance_v1`
  docs/resources/sdrs_protected_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/sdrs/import_opentelekomcloud_sdrs_protected_instance_v1_test.go
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1.go
Labels: dependencies, documentation, gate

#966 Update changelog for v1.23.6
  CHANGELOG.md
Labels: changelog, gate

#969 Docu: Update opentelekomcloud_cce_addon_v3
  docs/resources/cce_addon_v3.md
Labels: gate

#973 [CCE] Fix bug with `privateIp` setting in `CreateOpts`
  docs/resources/cce_node_v3.md
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
Labels: documentation, gate

#974 Update `Makefile` and `.zuul.yaml`
  .goreleaser.yml
  GNUmakefile
  scripts/errcheck.sh
  scripts/gofmtcheck.sh
Labels: gate

#976 [S3] Fix issue with unversioned bucket creation
  docs/resources/s3_bucket.md
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_test.go
  opentelekomcloud/services/s3/resource_opentelekomcloud_s3_bucket.go
Labels: documentation, gate

#977 Add default values for subnet DNS servers
  docs/resources/networking_subnet_v2.md
  docs/resources/vpc_subnet_v1.md
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_subnet_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_subnet_v1.go
  opentelekomcloud/services/vpc/utils.go
Labels: documentation, gate

#978 [OBS] Fix issue with unversioned bucket creation
  docs/resources/obs_bucket.md
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
Labels: documentation, gate

#979 [S3] Fix versioning update logic
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_test.go
  opentelekomcloud/services/s3/resource_opentelekomcloud_s3_bucket.go
Labels: gate

#983 Get rid of acc test workaround for `lb_listener`
  opentelekomcloud/acceptance/lb/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_listener_v2.go
Labels: gate

#984 Fix handling `sni_container_refs` in update
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_listener_v2.go
Labels: gate

#990 Update changelog for v1.23.7
  CHANGELOG.md
Labels: changelog, gate

#988 Fix `lb_certificate` update issues
  docs/resources/lb_certificate_v2.md
  opentelekomcloud/acceptance/lb/resource_opentelekomcloud_lb_certificate_v2_test.go
  opentelekomcloud/acceptance/lb/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/common/diff_suppress_funcs.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_certificate_v2.go
Labels: documentation, gate

#991 [AS] Make `security_groups` in `as_group_v1` optional
  docs/resources/as_group_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
Labels: dependencies, documentation, gate

#987 Fix certificate deletion
  opentelekomcloud/acceptance/lb/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/common/customize_diffs.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_certificate_v2.go
Labels: gate

#995 Fix `vpc_subnet` creation with `dns_list` defined
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_vpc_subnet_v1_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_subnet_v1_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_subnet_v1.go
Labels: gate

#998 Mention CCE authorization in the doc
  docs/resources/cce_cluster_v3.md
Labels: documentation, gate

#1000 Update changelog for release `v1.23.8`
  CHANGELOG.md
Labels: changelog, gate

#1003 Fix passing all values of the addon as strings
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_addon_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_addon_v3.go
Labels: gate

#1009 Fix error during CCE addon update
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_addon_v3_test.go
Labels: dependencies, gate

#1012 [IMS] Add possibility to search images via regex
  docs/data-sources/images_image_v2.md
  opentelekomcloud/acceptance/ims/data_source_opentelekomcloud_images_image_v2_test.go
  opentelekomcloud/services/bms/data_source_opentelekomcloud_compute_bms_flavor_v2.go
  opentelekomcloud/services/ims/data_source_opentelekomcloud_images_image_v2.go
Labels: documentation, gate

#1018 Add note for primary DNS for the `vpc_subnet_v1`
  docs/resources/vpc_subnet_v1.md
Labels: documentation, gate

#1021 [VPC] Add `network_id` attribute to `vpc_subnet`
  docs/data-sources/vpc_subnet_v1.md
  docs/resources/vpc_subnet_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_subnet_v1_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_vpc_subnet_v1_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_subnet_v1_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_subnet_ids_v1.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_subnet_v1.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_subnet_v1.go
Labels: dependencies, documentation, gate

#1024 Add note for authorizing CCE without console
  docs/resources/cce_cluster_v3.md
Labels: documentation, gate

#1029 Add support of `compute_instance_v2` import
  docs/resources/compute_instance_v2.md
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
Labels: documentation, gate

#1031 Fix `dds_instance_v3` documentation
  docs/resources/dds_instance_v3.md
Labels: documentation, gate

#1032 Add doc notice for CCE + SWR usage
  docs/resources/cce_cluster_v3.md
Labels: documentation, gate

#1033 Update changelog for v1.23.9
  CHANGELOG.md
Labels: changelog, gate

#1035 Mark all ELB v1 resources as deprecated
  docs/resources/elb_backend.md
  docs/resources/elb_health.md
  docs/resources/elb_listener.md
  docs/resources/elb_loadbalancer.md
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_certificate_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_l7policy_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_l7rule_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_member_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_monitor_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_pool_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_whitelist_v2_test.go
  opentelekomcloud/services/elb/lb_v2_shared.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_backend.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_health.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_listener.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_loadbalancer.go
Labels: documentation, gate
