Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2021-08, with the labels that each got.

#1242 Fix panic using `vpc_peering_connection_v2`
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_peering_connection_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_peering_connection_v2.go
  releasenotes/notes/vpc-peering-d5f0618eeb9fa55e.yaml
Labels: gate

#1239 golangci Lint
  .golangci.yml
  .zuul.yaml
  GNUmakefile
Labels: gate

#1240 Fix invalid ID setting of VPC route data source
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_route_v2.go
  releasenotes/notes/vpc-route-data-a2466437587da4f4.yaml
Labels: gate

#1244 Add `parameters` argument to `rds_instance_v3`
  docs/resources/rds_instance_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-instance-params-a9bcb46f0b5f5e07.yaml
Labels: dependencies, documentation, gate

#1246 [Makefile] Fix `terrafmt` installation
  GNUmakefile
Labels: gate

#1249 Fix reading `blockstorage_volume_v2` tags
  opentelekomcloud/acceptance/evs/resource_opentelekomcloud_blockstorage_volume_v2_test.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_blockstorage_volume_v2.go
  releasenotes/notes/blockstorage-tags-8ae3c5562d66e2c5.yaml
Labels: gate

#1250 Fix random diff in `cbr_vault_v3` `resource` field
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr-vault-cc2dec3d2e8901e9.yaml
Labels: gate

#1252 [CI] Add `tflint` to pipelines
  .zuul.yaml
  docs/resources/rds_instance_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
Labels: documentation, gate

#1257 Fix lint errors in `BMS` service
  opentelekomcloud/acceptance/bms/data_source_opentelekomcloud_compute_bms_flavor_v2_test.go
  opentelekomcloud/acceptance/bms/data_source_opentelekomcloud_compute_bms_keypair_v2_test.go
  opentelekomcloud/acceptance/bms/data_source_opentelekomcloud_compute_bms_nic_v2_test.go
  opentelekomcloud/acceptance/bms/data_source_opentelekomcloud_compute_bms_server_v2_test.go
  opentelekomcloud/acceptance/bms/resource_opentelekomcloud_compute_bms_server_v2_test.go
  opentelekomcloud/acceptance/bms/resource_opentelekomcloud_compute_bms_tags_v2_test.go
  opentelekomcloud/services/bms/compute_bms_v2_server_addresses.go
  opentelekomcloud/services/bms/data_source_opentelekomcloud_compute_bms_flavor_v2.go
  opentelekomcloud/services/bms/data_source_opentelekomcloud_compute_bms_keypair_v2.go
  opentelekomcloud/services/bms/data_source_opentelekomcloud_compute_bms_nic_v2.go
  opentelekomcloud/services/bms/data_source_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_tags_v2.go
Labels: gate

#1258 Fix lint for `anti-DDoS` service
  opentelekomcloud/acceptance/antiddos/data_source_opentelekomcloud_antiddos_v1_test.go
  opentelekomcloud/services/antiddos/data_source_opentelekomcloud_antiddos_v1.go
  opentelekomcloud/services/antiddos/resource_opentelekomcloud_antiddos_v1.go
Labels: gate

#1260 Fix lint for `AutoScaling` service
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v1_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v1.go
Labels: gate

#1261 Fix lint for `CCE` service
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_node_ids_v3.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
Labels: gate

#1262 Fix lint for `CES`, `CSBS`, `CSS`, `CTS` services
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/acceptance/csbs/resource_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/acceptance/css/data_source_opentelekomcloud_css_flavor_v1_test.go
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_snapshot_configuration_v1_test.go
  opentelekomcloud/acceptance/cts/data_source_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  opentelekomcloud/services/csbs/data_source_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/services/csbs/data_source_opentelekomcloud_csbs_backup_v1.go
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_v1.go
  opentelekomcloud/services/css/utils.go
  opentelekomcloud/services/cts/data_source_opentelekomcloud_cts_tracker_v1.go
  opentelekomcloud/services/cts/resource_opentelekomcloud_cts_tracker_v1.go
Labels: gate

#1259 Fix lint for `common` package
  .golangci.yml
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/common/build_param_util.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/common/cfg/config_test.go
  opentelekomcloud/common/cfg/logger.go
  opentelekomcloud/common/custom_functions.go
  opentelekomcloud/common/diff_suppress_funcs.go
  opentelekomcloud/common/structure.go
  opentelekomcloud/common/tags.go
  opentelekomcloud/common/transport.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/common/validators.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_v2.go
Labels: gate

#1263 Fix lint for `DCS`, `DDS`, `DEH`, `DMS` and `DNS`
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_az_v1_test.go
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_maintainwindow_v1_test.go
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_product_v1_test.go
  opentelekomcloud/acceptance/dds/data_source_opentelekomcloud_dds_instance_v3_test.go
  opentelekomcloud/acceptance/deh/data_source_opentelekomcloud_deh_host_v1_test.go
  opentelekomcloud/acceptance/deh/data_source_opentelekomcloud_deh_server_v1_test.go
  opentelekomcloud/acceptance/deh/resource_opentelekomcloud_deh_host_v1_test.go
  opentelekomcloud/acceptance/dms/data_source_opentelekomcloud_dms_az_v1_test.go
  opentelekomcloud/acceptance/dms/data_source_opentelekomcloud_dms_maintainwindow_v1_test.go
  opentelekomcloud/acceptance/dms/data_source_opentelekomcloud_dms_product_v1_test.go
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_group_v1_test.go
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_instance_v1_test.go
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_queue_v1_test.go
  opentelekomcloud/acceptance/dns/resource_opentelekomcloud_dns_recordset_v2_test.go
  opentelekomcloud/acceptance/dns/resource_opentelekomcloud_dns_zone_v2_test.go
  opentelekomcloud/services/dcs/data_source_opentelekomcloud_dcs_az_v1.go
  opentelekomcloud/services/dcs/data_source_opentelekomcloud_dcs_maintainwindow_v1.go
  opentelekomcloud/services/dcs/data_source_opentelekomcloud_dcs_product_v1.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  opentelekomcloud/services/dds/data_source_opentelekomcloud_dds_instance_v3.go
  opentelekomcloud/services/deh/compute_deh_v1_hosts.go
  opentelekomcloud/services/deh/data_source_opentelekomcloud_deh_host_v1.go
  opentelekomcloud/services/deh/data_source_opentelekomcloud_deh_server_v1.go
  opentelekomcloud/services/deh/resource_opentelekomcloud_deh_host_v1.go
  opentelekomcloud/services/dms/data_source_opentelekomcloud_dms_az_v1.go
  opentelekomcloud/services/dms/data_source_opentelekomcloud_dms_maintainwindow_v1.go
  opentelekomcloud/services/dms/data_source_opentelekomcloud_dms_product_v1.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_group_v1.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v1.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_queue_v1.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_ptrrecord_v2.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_recordset_v2.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_zone_v2.go
  opentelekomcloud/services/dns/types.go
Labels: gate

#1264 Fix lint for `ECS` service
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_availability_zones_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_floatingip_associate_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_secgroup_v2_test.go
  opentelekomcloud/acceptance/ecs/import_opentelekomcloud_compute_volume_attach_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_floatingip_associate_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_floatingip_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_secgroup_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_servergroup_v2_test.go
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_volume_attach_v2_test.go
  opentelekomcloud/services/ecs/compute_instance_v2_networking.go
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_availability_zones_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_floatingip_associate_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_servergroup_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_volume_attach_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
Labels: gate

#1265 Fix lint for `ELB` service
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_elb_health_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_elb_listener_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_elb_loadbalancer_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_certificate_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_l7policy_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_l7rule_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  opentelekomcloud/acceptance/elb/resource_opentelekomcloud_lb_whitelist_v2_test.go
  opentelekomcloud/services/elb/lb_v2_shared.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_backend.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_health.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_listener.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_elb_loadbalancer.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_l7policy_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_l7rule_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_listener_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_member_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_pool_v2.go
  opentelekomcloud/services/elb/resource_opentelekomcloud_lb_whitelist_v2.go
Labels: gate

#1266 Fix lint for `EVS` service
  opentelekomcloud/acceptance/evs/import_opentelekomcloud_blockstorage_volume_v2_test.go
  opentelekomcloud/acceptance/evs/resource_opentelekomcloud_blockstorage_volume_v2_test.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_blockstorage_volume_v2.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_evs_volume_v3.go
Labels: gate

#1267 Fix lint for `WAF` and `FW` services
  opentelekomcloud/acceptance/fw/resource_opentelekomcloud_fw_firewall_group_v2_test.go
  opentelekomcloud/acceptance/fw/resource_opentelekomcloud_fw_policy_v2_test.go
  opentelekomcloud/acceptance/fw/resource_opentelekomcloud_fw_rule_v2_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_ccattackprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_certificate_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_datamasking_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_falsealarmmasking_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_policy_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_preciseprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_webtamperprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_whiteblackip_rule_v1_test.go
  opentelekomcloud/services/fw/resource_opentelekomcloud_fw_firewall_group_v2.go
  opentelekomcloud/services/fw/resource_opentelekomcloud_fw_policy_v2.go
  opentelekomcloud/services/fw/resource_opentelekomcloud_fw_rule_v2.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_ccattackprotection_rule_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_datamasking_rule_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_domain_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_falsealarmmasking_rule_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_policy_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_preciseprotection_rule_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_webtamperprotection_rule_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_whiteblackip_rule_v1.go
Labels: gate

#1268 Fix lint for `IAM` and `IMS` services
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_auth_scope_v3_test.go
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_project_v3_test.go
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_agency_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_group_membership_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_group_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_project_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_role_assignment_v3_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_images_image_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_ims_data_image_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_ims_image_v2_test.go
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_auth_scope_v3.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_group_v3.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_project_v3.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_role_v3.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_user_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_agency_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_group_membership_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_group_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_project_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_assignment_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_v3.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_access_accept_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_ims_data_image_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_ims_image_v2.go
Labels: gate

#1269 Fix lint for `OBS` and `S3` services
  opentelekomcloud/acceptance/obs/data_source_opentelekomcloud_obs_bucket_object_test.go
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_policy_test.go
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/acceptance/s3/data_source_opentelekomcloud_s3_bucket_object_test.go
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_object_test.go
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_policy_test.go
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_test.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket_object.go
  opentelekomcloud/services/s3/awserr.go
  opentelekomcloud/services/s3/data_source_opentelekomcloud_s3_bucket_object.go
  opentelekomcloud/services/s3/resource_opentelekomcloud_s3_bucket.go
  opentelekomcloud/services/s3/resource_opentelekomcloud_s3_bucket_object.go
  opentelekomcloud/services/s3/resource_opentelekomcloud_s3_bucket_policy.go
  opentelekomcloud/services/s3/s3_tags.go
  opentelekomcloud/services/s3/utils.go
Labels: gate

#1270 Fix lint for `VPC` service
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_networking_secgroup_v2_test.go
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_peering_connection_v2_test.go
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_route_ids_v2_test.go
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_route_v2_test.go
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_subnet_ids_v1_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_networking_floatingip_v2_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_networking_network_v2_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_networking_port_v2_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_networking_secgroup_rule_v2_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_networking_subnet_v2_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_vpc_peering_connection_v2_test.go
  opentelekomcloud/acceptance/vpc/import_opentelekomcloud_vpc_v1_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_floatingip_associate_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_floatingip_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_network_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_port_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_router_interface_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_router_route_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_subnet_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_vip_associate_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_vip_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_flow_log_v1_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_peering_connection_accepter_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_peering_connection_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_v1_test.go
  opentelekomcloud/acceptance/vpc/utils.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_networking_network_v2.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_networking_port_v2.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_networking_secgroup_v2.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_peering_connection_v2.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_route_ids_v2.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_route_v2.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_subnet_v1.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_v1.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_floatingip_associate_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_floatingip_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_network_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_port_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_router_interface_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_router_route_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_router_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_subnet_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_vip_associate_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_vip_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_eip_v1.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_flow_log_v1.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_peering_connection_accepter_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_peering_connection_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_route_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_subnet_v1.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_v1.go
Labels: gate

#1271 [Anti-DDoS] Deprecate resource
  docs/resources/antiddos_v1.md
  opentelekomcloud/services/antiddos/resource_opentelekomcloud_antiddos_v1.go
  releasenotes/notes/antiddos-deprecate-74667c87789b7c68.yaml
Labels: documentation, gate

#1272 Fix lint for `VBS` and `VPN` services
  opentelekomcloud/acceptance/vbs/data_source_opentelekomcloud_vbs_backup_policy_v2_test.go
  opentelekomcloud/acceptance/vbs/data_source_opentelekomcloud_vbs_backup_v2_test.go
  opentelekomcloud/acceptance/vbs/import_opentelekomcloud_vbs_backup_policy_v2_test.go
  opentelekomcloud/acceptance/vbs/resource_opentelekomcloud_vbs_backup_policy_v2_test.go
  opentelekomcloud/acceptance/vbs/resource_opentelekomcloud_vbs_backup_share_v2_test.go
  opentelekomcloud/acceptance/vbs/resource_opentelekomcloud_vbs_backup_v2_test.go
  opentelekomcloud/acceptance/vpn/data_source_opentelekomcloud_vpnaas_service_v2_test.go
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_vpnaas_endpoint_group_v2_test.go
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_vpnaas_service_v2_test.go
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_vpnaas_site_connection_v2_test.go
  opentelekomcloud/services/vbs/data_source_opentelekomcloud_vbs_backup_policy_v2.go
  opentelekomcloud/services/vbs/data_source_opentelekomcloud_vbs_backup_v2.go
  opentelekomcloud/services/vbs/resource_opentelekomcloud_vbs_backup_policy_v2.go
  opentelekomcloud/services/vbs/resource_opentelekomcloud_vbs_backup_share_v2.go
  opentelekomcloud/services/vbs/resource_opentelekomcloud_vbs_backup_v2.go
  opentelekomcloud/services/vpn/data_source_opentelekomcloud_vpnaas_service_v2.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_endpoint_group_v2.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_ike_policy_v2.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_ipsec_policy_v2.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_service_v2.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_site_connection_v2.go
Labels: gate

#1274 Fix lint for `SDRS`, `SFS` and `SMN` services
  opentelekomcloud/acceptance/sdrs/data_source_opentelekomcloud_sdrs_domain_v1_test.go
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1_test.go
  opentelekomcloud/acceptance/sfs/data_source_opentelekomcloud_sfs_file_system_v2_test.go
  opentelekomcloud/acceptance/sfs/import_opentelekomcloud_sfs_file_system_v2_test.go
  opentelekomcloud/acceptance/sfs/import_opentelekomcloud_sfs_share_access_rules_v2_test.go
  opentelekomcloud/acceptance/sfs/resource_opentelekomcloud_sfs_file_system_v2_test.go
  opentelekomcloud/acceptance/sfs/resource_opentelekomcloud_sfs_share_access_rules_v2_test.go
  opentelekomcloud/acceptance/smn/resource_opentelekomcloud_smn_subscription_v2_test.go
  opentelekomcloud/acceptance/smn/resource_opentelekomcloud_smn_topic_attribute_v2_test.go
  opentelekomcloud/acceptance/smn/resource_opentelekomcloud_smn_topic_v2_test.go
  opentelekomcloud/acceptance/swr/resource_opentelekomcloud_swr_organization_permissions_test.go
  opentelekomcloud/services/sdrs/data_source_opentelekomcloud_sdrs_domain_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1.go
  opentelekomcloud/services/sfs/data_source_opentelekomcloud_sfs_file_system_v2.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_turbo_share_v1.go
  opentelekomcloud/services/smn/resource_opentelekomcloud_smn_subscription_v2.go
  opentelekomcloud/services/smn/resource_opentelekomcloud_smn_topic_v2.go
Labels: gate

#1273 Fix lint for `RDS` and `RTS` services
  opentelekomcloud/acceptance/rds/data_source_opentelekomcloud_rds_flavors_v1_test.go
  opentelekomcloud/acceptance/rds/data_source_opentelekomcloud_rds_flavors_v3_test.go
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v1_test.go
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_software_config_v1_test.go
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_software_deployment_v1_test.go
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_stack_resource_v1_test.go
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_stack_v1_test.go
  opentelekomcloud/acceptance/rts/resource_opentelekomcloud_rts_software_config_v1_test.go
  opentelekomcloud/acceptance/rts/resource_opentelekomcloud_rts_software_deployment_v1_test.go
  opentelekomcloud/acceptance/rts/resource_opentelekomcloud_rts_stack_v1_test.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_flavors_v1.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_versions_v3.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v1.go
  opentelekomcloud/services/rts/data_source_opentelekomcloud_rts_software_config_v1.go
  opentelekomcloud/services/rts/data_source_opentelekomcloud_rts_software_deployment_v1.go
  opentelekomcloud/services/rts/data_source_opentelekomcloud_rts_stack_resource_v1.go
  opentelekomcloud/services/rts/data_source_opentelekomcloud_rts_stack_v1.go
  opentelekomcloud/services/rts/resource_opentelekomcloud_rts_software_config_v1.go
  opentelekomcloud/services/rts/resource_opentelekomcloud_rts_software_deployment_v1.go
  opentelekomcloud/services/rts/resource_opentelekomcloud_rts_stack_v1.go
Labels: gate

#1275 Fix lint for `KMS`, `LTS`, `MRS` and `NAT` services
  opentelekomcloud/acceptance/kms/data_source_opentelekomcloud_kms_key_v1_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_loggroup_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_logtopic_test.go
  opentelekomcloud/acceptance/mrs/resource_opentelekomcloud_mrs_cluster_v1_test.go
  opentelekomcloud/acceptance/mrs/resource_opentelekomcloud_mrs_job_v1_test.go
  opentelekomcloud/acceptance/nat/resource_opentelekomcloud_nat_gateway_v2_test.go
  opentelekomcloud/acceptance/nat/resource_opentelekomcloud_nat_snat_rule_v2_test.go
  opentelekomcloud/acceptance/provider_test.go
  opentelekomcloud/services/kms/data_source_opentelekomcloud_kms_data_key_v1.go
  opentelekomcloud/services/kms/data_source_opentelekomcloud_kms_key_v1.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_loggroup.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_logtopic.go
  opentelekomcloud/services/mrs/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/services/mrs/resource_opentelekomcloud_mrs_job_v1.go
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_gateway_v2.go
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_snat_rule_v2.go
Labels: gate

#1276 Make `golangci-lint` job voting
  .zuul.yaml
Labels: gate

#1277 Fix not working tags for `dns_zone_v2` data source
  opentelekomcloud/acceptance/dns/data_source_opentelekomcloud_dns_zone_v2_test.go
  opentelekomcloud/services/dns/data_source_opentelekomcloud_dns_zone_v2.go
  releasenotes/notes/dns-by-tags-75915acffcb79d7f.yaml
Labels: gate

#1280 [DEH] Fix issue with wrong ID setting
  opentelekomcloud/services/deh/resource_opentelekomcloud_deh_host_v1.go
  releasenotes/notes/deh-fix-set-id-585d70b1df636288.yaml
Labels: gate

#1281 [RTS] Fix issue with wrong ID setting
  opentelekomcloud/services/rts/resource_opentelekomcloud_rts_software_config_v1.go
  releasenotes/notes/rts-fix-panic-5c0bade71428bca3.yaml
Labels: gate

#1282 [VPC] Fix issue with wrong VIP ID setting
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_vip_v2.go
  releasenotes/notes/nw-vip-setid-3440c576fe75267b.yaml
Labels: gate

#1284 [KMS] Add missing field `expiration_time`
  docs/data-sources/kms_key_v1.md
  opentelekomcloud/acceptance/kms/data_source_opentelekomcloud_kms_key_v1_test.go
  opentelekomcloud/services/kms/data_source_opentelekomcloud_kms_key_v1.go
  opentelekomcloud/services/kms/resource_opentelekomcloud_kms_key_v1.go
  releasenotes/notes/d-kms-fix-9c118e8b71548a5e.yaml
Labels: documentation, gate

#1286 [NAT] Fix `source_type` field type setting in `Read()`
  docs/resources/nat_snat_rule_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/nat/resource_opentelekomcloud_nat_snat_rule_v2_test.go
  opentelekomcloud/services/nat/common.go
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_snat_rule_v2.go
  releasenotes/notes/snat-fix-579e54320256e4c2.yaml
Labels: dependencies, documentation, gate

#1289 [DMS] Refactoring `dms_instance_v1`
  docs/resources/dms_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_instance_v1_test.go
  opentelekomcloud/services/dms/common.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v1.go
  releasenotes/notes/dms-update-0f823efd66924da1.yaml
Labels: dependencies, documentation, gate

#1293 [OBS] New `data_source/opentelekomcloud_obs_bucket`
  docs/data-sources/obs_bucket.md
  opentelekomcloud/acceptance/obs/data_source_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/obs/common.go
  opentelekomcloud/services/obs/data_source_opentelekomcloud_obs_bucket.go
  releasenotes/notes/d-obs-bucket-4d57471b684d710f.yaml
Labels: documentation, gate

#1294 [WAF] Fix `certificate_id` change for domain
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_domain_v1_test.go
  releasenotes/notes/waf-domain-cert-c14833015960902e.yaml
Labels: dependencies, gate

#1296 [RDS] Allow setting public IP for read replica
  docs/resources/rds_read_replica_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_read_replica_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_read_replica_v3.go
  releasenotes/notes/rds-replica-62dd040ae8034c6d.yaml
Labels: documentation, gate

#1298 [Acceptance] Fix issues with tokenized `clouds.yaml`
  go.mod
  go.sum
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v1_test.go
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/common/cfg/config.go
Labels: dependencies, gate

#1299 Add `sfs_turbo_share_v1` data source
  docs/data-sources/sfs_turbo_share_v1.md
  opentelekomcloud/acceptance/sfs/data_source_opentelekomcloud_sfs_turbo_share_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/sfs/data_source_opentelekomcloud_sfs_turbo_share_v1.go
  releasenotes/notes/sfs-turbo-share-27da15eeceb7f106.yaml
Labels: documentation, gate

#1300 Fix read in `networking_floatingip_associate_v2`
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_floatingip_associate_v2.go
  releasenotes/notes/fip-associate-49b889a32aa2ca6f.yaml
Labels: gate

#1302 Fix wait after creation in `router_interface_v2`
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_router_interface_v2.go
  releasenotes/notes/router-interface-8ffd9dd50be6cec9.yaml
Labels: gate

#1304 [IAM] Add missing fields in `d/identity_project_v3`
  docs/data-sources/identity_project_v3.md
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_project_v3.go
  releasenotes/notes/d-iam-project-fix-e6adfe1a4e891b44.yaml
Labels: documentation, gate

#1306 Add acceptance tests selection script
  GNUmakefile
  scripts/run-acceptance.sh
Labels: gate

#1310 [IAM] Fix data source `identity_user_v3`
  docs/data-sources/identity_user_v3.md
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/user-6c7ce90f687018fe.yaml
Labels: documentation, gate

#1311 Minor fix in `GNUmakefile`
  GNUmakefile
Labels: gate

#1314 Make `as_group_v1` parameters OpenStackish
  docs/resources/as_group_v1.md
  examples/basic-examples/modules/as/main.tf
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v2_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  releasenotes/notes/os-as-e2544cbf0b378e46.yaml
Labels: documentation, gate

#1313 [CES] Refactoring `resource/alarmrule`
  docs/resources/ces_alarmrule.md
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/services/ces/common.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  releasenotes/notes/ces-alarm-rule-ref-9890afcd893c46a2.yaml
Labels: documentation, gate

#1317 Make `cce` resources parameters OpenStackish
  docs/data-sources/cce_cluster_v3.md
  docs/resources/cce_addon_v3.md
  docs/resources/cce_cluster_v3.md
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_ids_v3_test.go
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_addon_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/os-cce-415541fcc081d112.yaml
Labels: documentation, gate

#1319 Fix panic during CCE node creation
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-736f0379edfbe7af.yaml
Labels: gate

#1333 [Acceptance] Use shared `data_sources` in `CCE`
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_ids_v3_test.go
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/acceptance/cce/import_opentelekomcloud_cce_addon_v3_test.go
  opentelekomcloud/acceptance/cce/import_opentelekomcloud_cce_cluster_test.go
  opentelekomcloud/acceptance/cce/import_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_addon_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_node_ids_v3.go
Labels: gate, acceptance

#1341 [VPC] Fix wrong `network_id` setting in `d/vpc_subnet_v1`
  opentelekomcloud/services/vpc/common.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_subnet_v1.go
  releasenotes/notes/d-vpc-subnet-fix-c0bf993a4eb4a533.yaml
Labels: gate

#1339 Fix crash in `images_image_v2` resource
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_v2.go
  releasenotes/notes/fix-image-f7862d669bd5faf4.yaml
Labels: gate

#1342 [CCE] Fix wrong schema in `d/cce_node_v3`
  docs/data-sources/cce_node_v3.md
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/d-cce-node-fix-dd6d5e0996735f22.yaml
Labels: documentation, gate

#1343 [CSS] Fix incorrect addressing of `encryption_key`
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  releasenotes/notes/css-encryption-6f8b7ff4bf9a860e.yaml
Labels: gate

#1345 [Acceptance] Get rid of IDs in `SDRS`
  opentelekomcloud/acceptance/sdrs/data_source_opentelekomcloud_sdrs_domain_v1_test.go
  opentelekomcloud/acceptance/sdrs/import_opentelekomcloud_sdrs_protected_instance_v1_test.go
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1_test.go
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1_test.go
Labels: gate

#1346 [Acceptance] Get rid of IDs in `CES`
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
Labels: gate, acceptance

#1347 [Acceptance] New var `OsFlavorID`
  opentelekomcloud/acceptance/env/vars.go
Labels: gate

#1349 [ECS] New `data_source/compute_flavor_v2`
  docs/data-sources/compute_flavor_v2.md
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_flavor_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/ecs/common.go
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_flavor_v2.go
  releasenotes/notes/d-compute-flavor-a77594fb69a2b61f.yaml
Labels: documentation, gate

#1350 [Acceptance] Get rid of IDs in `RTS`
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_software_config_v1_test.go
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_software_deployment_v1_test.go
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_stack_resource_v1_test.go
  opentelekomcloud/acceptance/rts/data_source_opentelekomcloud_rts_stack_v1_test.go
  opentelekomcloud/acceptance/rts/import_opentelekomcloud_rts_software_config_v1_test.go
  opentelekomcloud/acceptance/rts/import_opentelekomcloud_rts_software_deployment_v1_test.go
  opentelekomcloud/acceptance/rts/import_opentelekomcloud_rts_stack_v1_test.go
  opentelekomcloud/acceptance/rts/resource_opentelekomcloud_rts_software_config_v1_test.go
  opentelekomcloud/acceptance/rts/resource_opentelekomcloud_rts_software_deployment_v1_test.go
  opentelekomcloud/acceptance/rts/resource_opentelekomcloud_rts_stack_v1_test.go
Labels: gate
