Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-05, with the labels that each got.

#1726 [ECS] Make references in compute doc a markdown links
  docs/resources/compute_floatingip_associate_v2.md
  docs/resources/compute_floatingip_v2.md
  releasenotes/notes/compute-floating-doc-152e6219aefbd13f.yaml
Labels: documentation, gate

#1734 [IAM] Update `d/identity_role_v3` docs
  docs/data-sources/identity_role_v3.md
  releasenotes/notes/d-iam-role-doc-bd3368f0a66bfd37.yaml
Labels: documentation, gate

#1737 [ECS] Export fields `port_id` and `type` in `r/ecs_instance_v1`
  docs/resources/ecs_instance_v1.md
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/ecs-instance-port-4d7dc5a2efbe2158.yaml
Labels: documentation, gate

#1743 [VPN] Enable `site_connection` by default
  docs/resources/vpnaas_site_connection_v2.md
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_vpnaas_site_connection_v2_test.go
  opentelekomcloud/services/vpn/common.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_site_connection_v2.go
  releasenotes/notes/vpn-site-enable-d2f8a04618fb0d88.yaml
Labels: documentation, gate

#1744 [VPN] Add missing `CtxWithClient` in `site_connection_v2`
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_site_connection_v2.go
Labels: gate

#1745 [Plugin] Fix issue with `Content-Type`
  go.mod
  go.sum
Labels: dependencies, gate

#1746 [ELB] Make `default_pool_id` field `Computed` in `lb_listener_v3`
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_listener_v3.go
  releasenotes/notes/fix-listener-pool-8d7c3c7a8e69d9ea.yaml
Labels: gate

#1739 [RDS] Add ``data/opentelekomcloud_rds_instance_v3``
  docs/data-sources/rds_instance_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/rds/data_source_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-instances-ds-a0f6aeb222781eea.yaml
Labels: dependencies, documentation, new-data-source, gate

#1747 [RDS] Fix issue with `Restart` in `rds_instance_v3`
  go.mod
  go.sum
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-restart-fix-ade47adb253baced.yaml
Labels: dependencies, gate
