Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-07, with the labels that each got.

#1790 [ECS] search ecs by name in ``data/opentelekomcloud_compute_instance_v2``
  docs/data-sources/compute_instance_v2.md
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_instance_v2.go
  releasenotes/notes/ecs-ds-name-bc9e3e59125b36e6.yaml
Labels: documentation, gate

#1795 [CBR] new data_source/opentelekomcloud_cbr_backup_v3, data_source/opentelekomcloud_cbr_backup_ids_v3
  docs/data-sources/cbr_backup_ids_v3.md
  docs/data-sources/cbr_backup_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cbr/data_source_opentelekomcloud_cbr_backup_v3_test.go
  opentelekomcloud/acceptance/cbr/data_source_opentelekomcloud_cbr_backups_ids_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cbr/data_source_opentelekomcloud_cbr_backups_ids_v3.go
  opentelekomcloud/services/cbr/data_source_opentelekomcloud_cbr_backups_v3.go
  releasenotes/notes/cbr_backups-c8ab402b0eb93c35.yaml
Labels: dependencies, documentation, gate

#1794 [CSS] CSS cluster version doc fix ``resource/opentelekomcloud_css_cluster_v1``
  docs/resources/css_cluster_v1.md
  releasenotes/notes/css-version-fix-23337f0916c9bff3.yaml
Labels: documentation, gate

#1801 [ECS] Add `disk_id` in schema of `ecs_instance_v1`
  docs/resources/ecs_instance_v1.md
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/ecs-disk-id-51f6d66ab608f029.yaml
Labels: documentation, gate

#1802 [CBR] include exclude disks support
  docs/resources/cbr_vault_v3.md
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr-extra-bea81a63bd50d47a.yaml
Labels: bug, documentation, gate

#1806 [KMS] Add `desired_state` in schema of `kms_key_v1`
  docs/resources/kms_key_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/kms/resource_opentelekomcloud_kms_key_v1_test.go
  opentelekomcloud/services/kms/resource_opentelekomcloud_kms_key_v1.go
  releasenotes/notes/kms-desired-state-0d1a2eb41beae6ed.yaml
Labels: enhancement, dependencies, documentation, gate

#1807 [IAM] Add AKSK GPG encryption for ``resource/opentelekomcloud_identity_credential_v3``
  docs/resources/identity_credential_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_credential_v3_test.go
  opentelekomcloud/helper/encryption/encryption.go
  opentelekomcloud/helper/internal/sdk/jsonutil/json.go
  opentelekomcloud/helper/internal/vault/pgpkeys/encrypt_decrypt.go
  opentelekomcloud/helper/internal/vault/pgpkeys/keybase.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_credential_v3.go
  releasenotes/notes/iam-aksk-pgp-f6864a401e6f1c4e.yaml
Labels: dependencies, documentation, gate

#1808 [DMS] Add new resource/opentelekomcloud_dms_topic_v1
  docs/resources/dms_topic_v1.md
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_topic_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_topic_v1.go
  releasenotes/notes/dms_topic-a3eb7e1f899650d7.yaml
Labels: enhancement, new-resource, documentation, gate

#1809 [DMS]: deprecation of resource/opentelekomcloud_dms_queue_v1 and resource/opentelekomcloud_dms_group_v1
  docs/resources/dms_group_v1.md
  docs/resources/dms_instance_v1.md
  docs/resources/dms_queue_v1.md
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_group_v1.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_queue_v1.go
  releasenotes/notes/dms-deprecated-e491ff17c22d52e6.yaml
Labels: documentation, gate

#1811 Update .goreleaser.yml
  .goreleaser.yml
Labels: gate

#1814 [IAM]: new ``data/opentelekomcloud_identity_projects_v3``
  docs/data-sources/identity_projects_v3.md
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_projects_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_projects_v3.go
  releasenotes/notes/iam_projects_data_source-192be891744c72e8.yaml
Labels: enhancement, documentation, gate

#1823 [KMS] fix kms deletion with enabled rotation
  opentelekomcloud/acceptance/kms/resource_opentelekomcloud_kms_key_v1_test.go
  opentelekomcloud/services/kms/resource_opentelekomcloud_kms_key_v1.go
  releasenotes/notes/kms-fix-delete-rotation-a3bb49f050801dcd.yaml
Labels: bug, gate

#1827 [CCE] Add missing KMS config of system volume
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-f6f2602e8d342142.yaml
Labels: documentation, gate

#1810 [CCE] Add PollInterval to resourceCCEAddonV3Delete
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_addon_v3.go
  releasenotes/notes/cce-poll-interval-41899411a85a9039.yaml
Labels: gate

#1829 [DNS] TXT recordset quotes handling
  opentelekomcloud/acceptance/dns/resource_opentelekomcloud_dns_recordset_v2_test.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_recordset_v2.go
  releasenotes/notes/fix-txt-recordsets-6383b965e457ad71.yaml
Labels: bug, gate

#1831 [CBR]: Fix terraform provider cbr vaults tags
  go.mod
  go.sum
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr_vaults_tag_fix-a91c66e3583fae03.yaml
Labels: dependencies, gate

#1834 [ELB] Fix HTTPS for ``resource/opentelekomcloud_lb_pool_v3``
  docs/resources/lb_pool_v3.md
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_pool_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_pool_v3.go
  releasenotes/notes/elbv3-pool-https-fix-5ceb80ecd9c7de1a.yaml
Labels: documentation, gate

#1836 [VPC] Fix `router interface` deletion
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_router_interface_v2_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_router_interface_v2.go
  releasenotes/notes/fix-vpc-router-interface-delete-7e975ee7506c7aeb.yaml
Labels: bug, gate

#1835 [IAM]: ``resource_identity_role_v3`` refactoring + ``resource`` parameter added
  docs/resources/identity_role_v3.md
  opentelekomcloud/acceptance/iam/import_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_v3.go
  releasenotes/notes/iam_custom_roles-5911e965247a073b.yaml
Labels: enhancement, documentation, gate

#1837 [CSBS] set space_saving_ratio to float
  go.mod
  go.sum
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_v1.go
  releasenotes/notes/fix-csbs-saving-ratio-fba7b481dbdc041a.yaml
Labels: bug, dependencies, gate

#1833 [CBR] Add "Tag" to the CBR.
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/common/tags.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/add-tag-to-the-cbr-cef536d4cfb769d7.yaml
Labels: enhancement, gate

#1843 [ECS] fix recreating with `opentelekomcloud_compute_volume_attach_v2` in `opentelekomcloud_ecs_instance_v1`
  docs/resources/ecs_instance_v1.md
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/fix-ecs-v1-recreate-volumes-5df58d08e08aca92.yaml
Labels: bug, documentation, gate

#1847 [CES] use client from ctx in `opentelekomcloud_ces_alarmrule`
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/services/ces/common.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  releasenotes/notes/ces-fix-throttling-c92557430ae94e3a.yaml
Labels: enhancement, gate

#1846 [VPC] Fix status attr for ``resource/opentelekomcloud_vpc_subnet_v1``
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_subnet_v1_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_subnet_v1.go
  releasenotes/notes/vpc-subnet-status-fix-f1cc6b4bd7a26dab.yaml
Labels: gate

#1849 [VPC] Use client from ctx in `vpc_eip_v1`
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_eip_v1.go
  releasenotes/notes/eip-throttle-4f63a9b571f23121.yaml
Labels: gate

#1852 [ELB] Client from ctx in `resources/lb_v2`
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_member_v2_test.go
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_whitelist_v2_test.go
  opentelekomcloud/services/elb/v2/common.go
  opentelekomcloud/services/elb/v2/lb_v2_shared.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_certificate_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_l7policy_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_l7rule_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_listener_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_loadbalancer_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_member_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_monitor_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_pool_v2.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_whitelist_v2.go
  releasenotes/notes/elb-v2-client-ctx-a858bcaa6cc92662.yaml
Labels: enhancement, gate
