Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-03, with the labels that each got.

#1636 fix basic-example README
  examples/basic-examples/README.txt
Labels: gate

#1639 [CSS] Add `tags` support for cluster
  docs/resources/css_cluster_v1.md
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  releasenotes/notes/css-cluster-tags-de43792ca6f6bd59.yaml
Labels: documentation, gate

#1646 [EIP] Add `5_gray` option to the documentation
  docs/resources/vpc_eip_v1.md
  examples/basic-examples/modules/eip/main.tf
  releasenotes/notes/eip-type-gray-cc887d48726d8ac3.yaml
Labels: documentation, gate

#1648 [ELB] Add SSL passthrough for lbv2 listener
  docs/resources/lb_listener_v2.md
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_listener_v2.go
  releasenotes/notes/elb-ssl-passthrough-5efe3c1d2d993b9c.yaml
Labels: documentation, gate

#1649 [CCE] Implement new data-source `cce_kubeconfig_v3`
  docs/data-sources/cce_cluster_kubeconfig_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_cluster_kubeconfig_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_cluster_kubeconfig_v3.go
  releasenotes/notes/d-cce-kubeconfig-c1b09a7c51ea2b96.yaml
Labels: dependencies, documentation, gate

#1653 [WAF] Fix read in `r/whiteblack_rule_v1`
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_whiteblackip_rule_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_whiteblackip_rule_v1.go
  releasenotes/notes/waf-fix-rule-7cb12b99445eb147.yaml
Labels: dependencies, gate

#1654 docs(data.cce_kubeconfig_v3): fix argument name
  docs/data-sources/cce_cluster_kubeconfig_v3.md
Labels: gate

#1656 [WAF] Fix errors in `r/ccattackprotection_rule_v1`
  docs/resources/waf_ccattackprotection_rule_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_ccattackprotection_rule_v1_test.go
  opentelekomcloud/common/importers.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_ccattackprotection_rule_v1.go
  releasenotes/notes/waf-fix-ccrule-71325f297d253011.yaml
Labels: dependencies, documentation, gate

#1658 [WAF] Fix errors in `r/preciseprotection_rule_v1`
  docs/resources/waf_preciseprotection_rule_v1.md
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_ccattackprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_preciseprotection_rule_v1_test.go
  opentelekomcloud/services/waf/common.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_preciseprotection_rule_v1.go
  releasenotes/notes/waf-fix-pprule-a7657b582b3574b3.yaml
Labels: documentation, gate

#1660 Acceptance: refactor WAF rules import tests
  opentelekomcloud/acceptance/waf/imports.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_ccattackprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_policy_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_preciseprotection_rule_v1_test.go
Labels: gate

#1661 [WAF] Fix import for `r/waf_whiteblackip_rule_v1`
  docs/resources/waf_whiteblackip_rule_v1.md
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_whiteblackip_rule_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_whiteblackip_rule_v1.go
  releasenotes/notes/waf-fix-wbrule-16df73047dcc5df3.yaml
Labels: documentation, gate

#1664 [WAF] Fix DataMasking and WebTamperProtection rules
  docs/resources/waf_datamasking_rule_v1.md
  docs/resources/waf_falsealarmmasking_rule_v1.md
  docs/resources/waf_webtamperprotection_rule_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_datamasking_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_falsealarmmasking_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_webtamperprotection_rule_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_datamasking_rule_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_falsealarmmasking_rule_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_webtamperprotection_rule_v1.go
  releasenotes/notes/waf-fix-rules-280937c869bb32e4.yaml
Labels: dependencies, documentation, gate

#1666 [ELB] Make SSL passtrough documentation more verbose
  docs/resources/lb_listener_v2.md
  releasenotes/notes/elbv2-listener-doc-a8383f1c4666f6ac.yaml
Labels: documentation, gate

#1667 [WAF] Fix applying domain to the policy
  docs/resources/waf_domain_v1.md
  opentelekomcloud/acceptance/waf/import_certificate_v1_test.go
  opentelekomcloud/acceptance/waf/resource_alarm_notification_v1_test.go
  opentelekomcloud/acceptance/waf/resource_ccattackprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_certificate_v1_test.go
  opentelekomcloud/acceptance/waf/resource_datamasking_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_domain_v1_test.go
  opentelekomcloud/acceptance/waf/resource_falsealarmmasking_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_policy_v1_test.go
  opentelekomcloud/acceptance/waf/resource_preciseprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_webtamperprotection_rule_v1_test.go
  opentelekomcloud/acceptance/waf/resource_whiteblackip_rule_v1_test.go
  opentelekomcloud/services/waf/common.go
  opentelekomcloud/services/waf/resource_alarm_notification_v1.go
  opentelekomcloud/services/waf/resource_ccattackprotection_rule_v1.go
  opentelekomcloud/services/waf/resource_certificate_v1.go
  opentelekomcloud/services/waf/resource_datamasking_rule_v1.go
  opentelekomcloud/services/waf/resource_domain_v1.go
  opentelekomcloud/services/waf/resource_falsealarmmasking_rule_v1.go
  opentelekomcloud/services/waf/resource_policy_v1.go
  opentelekomcloud/services/waf/resource_preciseprotection_rule_v1.go
  opentelekomcloud/services/waf/resource_webtamperprotection_rule_v1.go
  opentelekomcloud/services/waf/resource_whiteblackip_rule_v1.go
  releasenotes/notes/waf-domain-policy-fix-265beea17ae3cf10.yaml
Labels: documentation, gate

#1665 [IAM] Make project data source provider return default
  docs/data-sources/identity_project_v3.md
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_project_v3_test.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_project_v3.go
  releasenotes/notes/iam_default_project-fcfc73518845f8aa.yaml
Labels: enhancement, documentation, gate

#1672 [IAM] Fix release notes for #1665
  releasenotes/notes/iam_default_project-fcfc73518845f8aa.yaml
Labels: gate

#1677 [ELB] Fix v3 TCP listener workflow
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_listener_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_listener_v3.go
  releasenotes/notes/elbv3-tcp-listener-6bd27037c14c5c0d.yaml
Labels: gate

#1678 [ELB] Reduce requests load in `lb_member_v2`
  opentelekomcloud/acceptance/throttling/src/main.tf.go
  opentelekomcloud/acceptance/throttling/src/outputs.tf.go
  opentelekomcloud/acceptance/throttling/src/vars.tf.go
  opentelekomcloud/acceptance/throttling/throttling_test.go
  opentelekomcloud/services/elb/v2/lb_v2_shared.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_member_v2.go
  releasenotes/notes/elbv3-member-throttling-a56dc89a46d660f0.yaml
Labels: gate

#1684 [ELB] Allow import of `r/lb_member_v2`
  docs/resources/lb_member_v2.md
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_member_v2_test.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_member_v2.go
  releasenotes/notes/elbv2-member-import-51708e884b0f661c.yaml
Labels: documentation, gate

#1685 [OBS] Move to OBS-specific API
  docs/resources/obs_bucket.md
  docs/resources/obs_bucket_policy.md
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_object_test.go
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_policy_test.go
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket_object.go
  releasenotes/notes/obs-kms-366e2b27c7486f8f.yaml
Labels: documentation, gate

#1686 [ECS] Fix missing `port` in `compute_instance_v2`
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/compute_instance_v2_networking.go
  releasenotes/notes/compute-instance-port-8531fdf0c7e6b1ae.yaml
Labels: gate

#1687 [ECS] Replace incorrect values in instance doc
  docs/resources/compute_instance_v2.md
  releasenotes/notes/compute-instance-docs-66077ed3f95fd0bb.yaml
Labels: documentation, gate

#1689 [NAT] Retry some failed creation of the DNAT rule
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_dnat_rule_v2.go
  releasenotes/notes/nat-rule-retry-a1d543baf86e8a73.yaml
Labels: gate
