Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-10, with the labels that each got.

#1953 [CCE] addon templates documentation update regarding creation in different regions
  opentelekomcloud/services/cce/addon-templates-v1.17.9.md
  opentelekomcloud/services/cce/addon-templates-v1.19.8.md
  releasenotes/notes/cce-addon-templates-notes-61d6e4daf014aecf.yaml
Labels: gate

#1947 [ECS] Add ``password`` attribute to ``opentelekomcloud_compute_instance_v2`` resource for Windows instances
  docs/data-sources/compute_instance_v2.md
  docs/resources/compute_instance_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
  releasenotes/notes/compute-instance-windows-pass-e0337d5b3dd81d5d.yaml
Labels: dependencies, documentation, gate

#1955 [Provider]: `GetRegion` method fix on provider level
  opentelekomcloud/common/cfg/config.go
  releasenotes/notes/provider_getregion-4e2d84e93abe8ac1.yaml
Labels: bug, gate

#1957 [VPC] unassign port hotfix for `resource/opentelekomcloud_vpc_eip_v1`
  docs/resources/vpc_eip_v1.md
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_eip_v1_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_eip_v1.go
  releasenotes/notes/fix-eip-v1-unassign-84ef5d9c33ed2326.yaml
Labels: bug, documentation, gate

#1960 [DCS]: Documentation fix and schema validations
  docs/resources/dcs_instance_v1.md
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs_minor_fix-25ddfd5a7e05b3c2.yaml
Labels: bug, documentation, gate

#1962 Update documentation for CCE and RDS
  docs/data-sources/rds_flavors_v3.md
  docs/resources/cce_cluster_v3.md
  docs/resources/rds_instance_v3.md
Labels: gate

#1964 Change VPC subnet default secondary DNS to OTC DNS
  docs/resources/networking_subnet_v2.md
  docs/resources/vpc_subnet_v1.md
  opentelekomcloud/services/vpc/utils.go
  releasenotes/notes/doc-vpc-secondary-dns-update-af003c93b9505cd7.yaml
Labels: documentation, gate

#1963 [AutoScaling] refactoring `resource/opentelekomcloud_as_*`
  .golangci.yml
  go.mod
  go.sum
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_configuration_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v2_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v2.go
  releasenotes/notes/as-ref-update-678c978b0615be9e.yaml
Labels: dependencies, gate

#1965 [IAM]: New `data/opentelekomcloud_identity_role_custom_v3` to query custom roles
  docs/data-sources/identity_role_custom_v3.md
  docs/data-sources/identity_role_v3.md
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_role_custom_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_role_custom_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_v3.go
  releasenotes/notes/iam_data_custom_roles-f6e440e5eb2359e3.yaml
Labels: documentation, gate

#1966 [CSS] refactoring `resource/opentelekomcloud_css_*`
  go.mod
  go.sum
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/acceptance/css/utils.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v1.go
  opentelekomcloud/services/css/data_source_opentelekomcloud_css_flavor_v1.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_snapshot_configuration_v1.go
  releasenotes/notes/css-ref-sdk-ab2d975388125527.yaml
Labels: dependencies, gate

#1971 [VPC] eip v1 merge error fix
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_eip_v1.go
  releasenotes/notes/eip-merge-error-42e85d488432bfa5.yaml
Labels: gate

#1977 [SDK] new version `terraform-plugin-sdk`
  go.mod
  go.sum
  opentelekomcloud/common/importers.go
  opentelekomcloud/services/rts/utils.go
Labels: dependencies, provider, gate

#1973 [NAT] import for `opentelekomcloud_nat_gateway_v2`
  docs/resources/nat_gateway_v2.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/acceptance/nat/import_opentelekomcloud_nat_dnat_rule_v2_test.go
  opentelekomcloud/acceptance/nat/resource_opentelekomcloud_nat_dnat_rule_v2_test.go
  opentelekomcloud/acceptance/nat/resource_opentelekomcloud_nat_gateway_v2_test.go
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_gateway_v2.go
  releasenotes/notes/nat-gw-v2-import-c005893785257502.yaml
Labels: enhancement, documentation, gate

#1979 [OBS] fix doc `docs/resources/obs_bucket.md` versioning
  docs/resources/obs_bucket.md
  releasenotes/notes/fix-obs-doc-versioning-fd7c45717ae65611.yaml
Labels: documentation, gate
