Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-01, with the labels that each got.

#1592 Update terraform-plugin-sdk/v2
  go.mod
  go.sum
Labels: dependencies, gate

#1593 [KMS] Fix init client in `eu-nl` region
  go.mod
  go.sum
  opentelekomcloud/acceptance/kms/import_opentelekomcloud_kms_grant_v1_test.go
  opentelekomcloud/acceptance/kms/resource_opentelekomcloud_kms_grant_v1_test.go
  opentelekomcloud/services/kms/resource_opentelekomcloud_kms_grant_v1.go
  releasenotes/notes/kms-grants-fix-9cdb923a9157df6e.yaml
Labels: dependencies, gate

#1594 [ECS] Deprecate `resource/opentelekomcloud_compute_secgroup_v2`
  docs/resources/compute_secgroup_v2.md
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_secgroup_v2.go
  releasenotes/notes/compute-sg-deprecate-aacb4573b187b463.yaml
Labels: documentation, gate

#1600 [CBR] Add missing `ForceNew` in `tags` block
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/r-vault-tags-ba139f0e8f77b4e4.yaml
Labels: gate

#1609 [ECS] Fix creating instance with `image_name`
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/services/ims/common.go
  releasenotes/notes/compute-image-by-name-31bce02e1fcaafaa.yaml
Labels: gate

#1610 [MRS] Refactoring `resource/opentelekomcloud_mrs_cluster_v1`
  docs/resources/mrs_cluster_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/mrs/resource_opentelekomcloud_mrs_cluster_v1_test.go
  opentelekomcloud/services/mrs/common.go
  opentelekomcloud/services/mrs/resource_opentelekomcloud_mrs_cluster_v1.go
  releasenotes/notes/mrs-ref-ae4ac3d5f12e7428.yaml
Labels: dependencies, documentation, gate
