Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-12, with the labels that each got.

#2011 [VPN] psk documentation and validation updates in `resource/vpnaas_site_connection_v2`
  docs/resources/vpnaas_site_connection_v2.md
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_vpnaas_site_connection_v2_test.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_vpnaas_site_connection_v2.go
  releasenotes/notes/vpn-psk-validation-84ab02be99ccb6db.yaml
Labels: gate

#2015 Rework of acceptance tests
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_configuration_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v2_test.go
  opentelekomcloud/acceptance/as/utils.go
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/common/cfg/config.go
  releasenotes/notes/acc-tests-as-77d4f97fd5cd4625.yaml
Labels: gate

#2017 [AS] disk metadata fix in `resource/opentelekomcloud_as_configuration_v1`
  go.mod
  go.sum
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
  releasenotes/notes/as-disk-metadata-fix-9cc5b6492fc645fa.yaml
Labels: bug, gate, acceptance

#2018 [ANTI-DDOS] tests refactoring
  opentelekomcloud/acceptance/antiddos/data_source_opentelekomcloud_antiddos_v1_test.go
  opentelekomcloud/acceptance/antiddos/import_opentelekomcloud_antiddos_v1_test.go
  opentelekomcloud/acceptance/antiddos/resource_opentelekomcloud_antiddos_v1_test.go
  opentelekomcloud/acceptance/antiddos/utils.go
  releasenotes/notes/antiddos-ac-ref-746be419957fd7b5.yaml
Labels: gate, refactor, acceptance

#2022 [SDK] gophertelekomcloud to latest
  go.mod
  go.sum
  opentelekomcloud/acceptance/throttling/throttling_test.go
Labels: dependencies, gate

#2025 [throttling] client from context in `opentelekomcloud_evs` and `opentelekomcloud_compute`
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_volume_attach_v2_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_secgroup_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_volume_attach_v2.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_evs_volume_v3.go
  releasenotes/notes/throttling-evs-ecs-26db163aab48a4c5.yaml
Labels: gate

#2026 [CSS]: Enable volume size scaling
  docs/resources/css_cluster_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  releasenotes/notes/css_size-e2d51d8c702aace8.yaml
Labels: enhancement, dependencies, documentation, gate

#2027 [DDS] Fix creation of single-node in `resource/opentelekomcloud_dds_instance_v3`
  docs/resources/dds_instance_v3.md
  opentelekomcloud/acceptance/dds/resource_opentelekomcloud_dds_instance_v3_test.go
  opentelekomcloud/services/dds/resource_opentelekomcloud_dds_instance_v3.go
  releasenotes/notes/dds-single-2b891495b6b32175.yaml
Labels: enhancement, documentation, gate

#2028 [CCE]: Default tags fix
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce_tags_fix-61461b2bdfd8579f.yaml
Labels: gate

#2024 [CCE] Add new predefined tag in resource/opentelekomcloud_cce_node_v3
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-tags-fix-f518cf275b564a75.yaml
Labels: gate

#2029 [RDS]: Refactoring after gophertelekomcloud update & tests fix
  go.mod
  go.sum
  opentelekomcloud/acceptance/rds/data_source_opentelekomcloud_rds_backup_v3_test.go
  opentelekomcloud/acceptance/rds/data_source_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_parametergroup_v3_test.go
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_read_replica_v3_test.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_backup_v3.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_flavors_v3.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_versions_v3.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_parametergroup_v3.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_read_replica_v3.go
  releasenotes/notes/rds_v3_refactoring-7f9ec6aac258e1a0.yaml
Labels: dependencies, gate

#2032 [DDS]: Refactoring after `gophertelekomcloud` update
  docs/data-sources/dds_flavors_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dds/resource_opentelekomcloud_dds_instance_v3_test.go
  opentelekomcloud/services/dds/data_source_opentelekomcloud_dds_flavors_v3.go
  opentelekomcloud/services/dds/data_source_opentelekomcloud_dds_instance_v3.go
  opentelekomcloud/services/dds/resource_opentelekomcloud_dds_instance_v3.go
  releasenotes/notes/dds_refactor-d484b5e0ccff9513.yaml
Labels: dependencies, documentation, gate
