Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-09, with the labels that each got.

#1912 [DCS] engine version 5.0 example
  docs/resources/dcs_instance_v1.md
  releasenotes/notes/dcs-instance-example-86ff60e20b4cb40f.yaml
Labels: documentation, gate

#1916 [CCE] CCEv1 client invocation fix in `resource/opentelekomcloud_cce_node_v3`
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/fix-nodev3-taints-swiss-4a7e9fa96203b4f9.yaml
Labels: bug, gate

#1917 [BMS] SDK Changed
  go.mod
  go.sum
  opentelekomcloud/acceptance/bms/resource_opentelekomcloud_compute_bms_server_v2_test.go
  opentelekomcloud/acceptance/bms/resource_opentelekomcloud_compute_bms_tags_v2_test.go
  opentelekomcloud/services/bms/compute_bms_v2_server_addresses.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_tags_v2.go
  releasenotes/releasenotes/notes/bms-sdk-changed-c9d21e415a6e3214.yaml
Labels: enhancement, dependencies, gate

#1908 [LTS] Fix TTL setting in ``resource/opentelekomcloud_logtank_group_v2``
  docs/resources/lts_loggroup.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_loggroup_test.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_loggroup.go
  releasenotes/notes/lts-ttl-fix-48b8903f2745896e.yaml
Labels: dependencies, documentation, gate

#1919 [CBR] bind rules example in `docs/resources/cbr_vault_v3`
  docs/resources/cbr_vault_v3.md
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  releasenotes/notes/cbr-bind-rules-example-83f9886435658c5e.yaml
Labels: documentation, gate

#1923 [CBR] sdk refactoring changes
  go.mod
  go.sum
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_policy_v3_test.go
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_policy_v3.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr-refactoring-e56ced8271316f0e.yaml
Labels: dependencies, gate, refactor

#1926 [CCE]: Add ICAgent installation example for ``resource/opentelekomcloud_cce_cluster_v3``
  docs/resources/cce_cluster_v3.md
  releasenotes/notes/cce_cluster_v3_documentation-8676e33518248546.yaml
Labels: documentation, gate

#1924 [EVS]: extracts removal after gophertelecomcloud refactoring
  go.mod
  go.sum
  opentelekomcloud/common/customize_diffs.go
  releasenotes/notes/evs_v1_refactoring-fdf6e66f3e4a4ecd.yaml
Labels: dependencies, gate

#1931 [CSS]: Schema fix for ``datastore`` parameter of ``resource/opentelekomcloud_css_cluster_v1``
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  opentelekomcloud/services/css/utils.go
  releasenotes/notes/css_datastore_fix-af49733981fbc5d9.yaml
Labels: bug, gate

#1932 [SDSR]: Documentation fix related to ``active-active domain`` resources, tests update
  docs/data-sources/sdrs_domain_v1.md
  docs/resources/sdrs_protectiongroup_v1.md
  opentelekomcloud/acceptance/sdrs/data_source_opentelekomcloud_sdrs_domain_v1_test.go
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1_test.go
  releasenotes/notes/sdrs_domain_documentation-cbca3c81e254fef0.yaml
Labels: documentation, gate

#1936 [IAM]: User creation fix for ``resource/opentelekomcloud_identity_user_v3``
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/iam_users_v3_fix-9ecb48ce6530f1fc.yaml
Labels: bug, gate

#1937 [EVS]: Updates for ``resource/opentelekomcloud_blockstorage_volume_v2``
  go.mod
  go.sum
  opentelekomcloud/services/evs/resource_opentelekomcloud_blockstorage_volume_v2.go
  releasenotes/notes/blockstorage_refactoring-1bb2abb744e9a40f.yaml
Labels: dependencies, gate

#1938 [IAM]: Backwards compatibility for ``resource/opentelekomcloud_identity_role_assignment_v3``
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_assignment_v3.go
  releasenotes/notes/iam_role_assign_compat-1993ff910c3bbda5.yaml
Labels: bug, gate

#1941 [VPCEP]: Whitelist documentation update for ``opentelekomcloud_vpcep_endpoint_v1 ``
  docs/resources/vpcep_endpoint_v1.md
  releasenotes/notes/vpcep_doc-c2ce177a3542a2cb.yaml
Labels: documentation, gate

#1942 [VPCEP]: dependency update
  go.mod
  go.sum
  releasenotes/notes/vpcep_fix-c27500c485374771.yaml
Labels: bug, dependencies, gate

#1944 [DCS]: `whitelist` feature implemented
  docs/resources/dcs_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs_whitelist-7df23f530b41a2e7.yaml
Labels: dependencies, documentation, gate

#1946 [VPC] unassign port in `resource/opentelekomcloud_vpc_eip_v1`
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_loadbalancer_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_eip_v1_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_eip_v1.go
  releasenotes/notes/vpc-eip-v1-port-dd00cc3427b2184b.yaml
Labels: enhancement, gate

#1952 [CCE] Support EulerOs 2.9 in `resource/opentelekomcloud_cce_node_v3`
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-euler-version-e5da19a76fee4c0f.yaml
Labels: enhancement, documentation, gate
