Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-08, with the labels that each got.

#1853 [VPC] Use client from ctx in `vpc_2`
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_floatingip_associate_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_floatingip_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_port_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_peering_connection_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_route_v2.go
  releasenotes/notes/vpc-client-ctx-6003195f31e238fc.yaml
Labels: gate

#1856 [IAM]: email validation added & resource Update fix
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/common/validators.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/user_validations-035d300c9be1659a.yaml
Labels: enhancement, gate

#1857 [ECS] Use client from ctx in `ecs_v2`
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/common.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_keypair_v2.go
  releasenotes/notes/ecs_v2_throttling_fix-6766880707a8eb29.yaml
Labels: enhancement, gate

#1851 [DCS] Change Capacity from int to float64
  go.mod
  go.sum
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/change-capacity-to-float32-2ac71ac93c328888.yaml
Labels: bug, dependencies, gate

#1864 [DMS]: queue and groups discontinue
  docs/resources/dms_group_v1.md
  docs/resources/dms_queue_v1.md
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_group_v1_test.go
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_queue_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_group_v1.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_queue_v1.go
  releasenotes/notes/dms_queue_discard-48606d29d2e05134.yaml
Labels: documentation, gate

#1865 [DNS] Use client from ctx in `zone_v2` and `recordset_v2`
  opentelekomcloud/services/dns/common.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_recordset_v2.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_zone_v2.go
  releasenotes/notes/dns-client-ctx-15a03407e58edcc5.yaml
Labels: enhancement, gate

#1866 [KMS] Use client from ctx in `kms_v1`
  opentelekomcloud/services/kms/common.go
  opentelekomcloud/services/kms/resource_opentelekomcloud_kms_key_v1.go
  releasenotes/notes/kms-client-ctx-8e8ef20f9b3c673a.yaml
Labels: enhancement, gate

#1870 [SFS] use client from ctx
  opentelekomcloud/services/sfs/common.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_turbo_share_v1.go
  releasenotes/notes/sfs-client-ctx-4efaceeb093b6190.yaml
Labels: enhancement, gate

#1871 [EVS] Use client from ctx in `blockstorage_volume_v2`
  opentelekomcloud/services/evs/common.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_blockstorage_volume_v2.go
  releasenotes/notes/blockstorage-volume-client-ctx-b848f750a1870231.yaml
Labels: enhancement, gate

#1869 [IAM] Make AKSK encryption optional for ``resource/opentelekomcloud_identity_credential_v3``
  docs/resources/identity_credential_v3.md
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_credential_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_credential_v3.go
  releasenotes/notes/iam-encryp-opt-9b1c88ad95ce7b78.yaml
Labels: documentation, gate

#1873 [RDS] Use client from ctx in `rds_instance_v3`
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-v3-instance-client-ctx-2938c85fcaf3832f.yaml
Labels: enhancement, gate

#1880 [IAM]: use client from ctx in ``resources/iam_v3``
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_group_membership_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_group_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_assignment_v3.go
  releasenotes/notes/iam_ctx-a20f066ef8e57fb4.yaml
Labels: enhancement, gate

#1882 [VBS] Updated timeout section in doc for `vbs_backup_v2`
  docs/resources/vbs_backup_v2.md
  releasenotes/notes/vbs-timeout-doc-ff4188a870c27357.yaml
Labels: documentation, gate

#1887 [DNS] doc update for `dns_recordset_v2`
  docs/resources/dns_recordset_v2.md
  releasenotes/notes/fix-dns-recordset-doc-20ea10e8dedc0c7c.yaml
Labels: documentation, gate

#1890 [CES]: module change after refactoring + deprecated field removal
  docs/resources/ces_alarmrule.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  opentelekomcloud/services/dns/resource_opentelekomcloud_dns_recordset_v2.go
  releasenotes/notes/ces_refatcoring-98aa3b517fb4d65a.yaml
Labels: dependencies, documentation, gate

#1891 [AS] make `delete_publicip` and `delete_instances` required in `as_group_v1`
  docs/resources/as_group_v1.md
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  releasenotes/notes/as-group-delete-required-5f9607f0727c392a.yaml
Labels: enhancement, documentation, gate

#1893 [IAM]: Add `condition` parameter for ``resource/opentelekomcloud_identity_role_v3``
  docs/resources/identity_role_v3.md
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_role_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_v3.go
  releasenotes/notes/iam_role_conditions-585914e28eaa96ba.yaml
Labels: enhancement, documentation, gate

#1900 [CBR] include volumes fix in `opentelekomcloud_cbr_vault_v3`
  docs/resources/cbr_vault_v3.md
  docs/resources/vbs_backup_policy_v2.md
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr-include-fix-4b167e1bdca2fb4e.yaml
Labels: documentation, gate

#1903 [IMS] fix doc for `data-sources/images_image_v2.md`
  docs/data-sources/images_image_v2.md
  releasenotes/notes/images-doc-fix-7398899572eac510.yaml
Labels: documentation, gate

#1904 [OBS]: Fix bucket creation for ``Swisscloud``
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  releasenotes/notes/obs_swisscloud_fix-47c9d9c86fb69827.yaml
Labels: enhancement, gate

#1905 [AS] CustomizeDiff to validate action in `resource/opentelekomcloud_as_policy_v2`
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v2_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v2.go
  releasenotes/notes/as-customizediff-action-adaa26d426aa4081.yaml
Labels: enhancement, gate

#1907 [ELBv3] `data-source/opentelekomcloud_lb_flavors_v3`
  docs/data-sources/lb_flavors_v3.md
  opentelekomcloud/acceptance/elb/v3/data_source_opentelekomcloud_lb_flavors_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/elb/v3/data_source_opentelekomcloud_lb_flavors_v3.go
  releasenotes/notes/elb-flavors-datasource-bc069ea05723d004.yaml
Labels: enhancement, documentation, gate
