Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-11, with the labels that each got.

#1981 [CCE] New data source `opentelekomcloud_cce_addon_template_v3`
  docs/data-sources/cce_addon_template_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_addon_template_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_addon_template_v3.go
  releasenotes/notes/cce-ds-templates-635cbfcbd2da92b9.yaml
Labels: enhancement, dependencies, documentation, new-data-source, gate

#1982 [ELB] added ciphers options for `opentelekomcloud_lb_listener_v3`
  docs/resources/lb_listener_v3.md
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_listener_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_listener_v3.go
  releasenotes/notes/elb-listener-cyphers-ed545f9fe5221153.yaml
Labels: enhancement, documentation, gate

#1984 [SDK] gophertelekomcloud to latest
  go.mod
  go.sum
Labels: dependencies, gate

#1985 [ECS] not fail if get password returns 403 in `data_source_opentelekomcloud_compute_instance_v2`
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_instance_v2_test.go
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_instance_v2.go
  releasenotes/notes/ecs-ds-password-403-81d91a3a66cd0ff5.yaml
Labels: gate

#1987 [IAM]: MFA information for ``data_source/opentelekomcloud_identity_user_v3``
  docs/data-sources/identity_user_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/identity_user_mfa-aa0665d10ae19795.yaml
Labels: enhancement, dependencies, documentation, gate

#1988 [AS] metadata refactoring
  go.mod
  go.sum
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_group_v1_test.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  releasenotes/notes/as-ref-meta-2b796900c94ded31.yaml
Labels: dependencies, gate, refactor

#1990 [TF]: ``terraform-plugin-sdk`` update to ``v2.24.1``
  go.mod
  go.sum
  releasenotes/notes/update-tf-2a61789b1a40665d.yaml
Labels: enhancement, gate

#1991 [ELBv3] ability to change eip bandwidth in`opentelekomcloud_lb_loadbalancer_v3`
  docs/resources/lb_loadbalancer_v3.md
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elb3-bandwidth-change-b7048554e3ba21e0.yaml
Labels: enhancement, breaking-change, documentation, gate

#1994 [CTS]: Complete overhaul of existing resources
  docs/data-sources/cts_tracker_v1.md
  docs/resources/cts_tracker_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cts/data_source_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/acceptance/cts/import_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/acceptance/cts/resource_opentelekomcloud_cts_tracker_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/services/cts/common.go
  opentelekomcloud/services/cts/data_source_opentelekomcloud_cts_tracker_v1.go
  opentelekomcloud/services/cts/resource_opentelekomcloud_cts_tracker_v1.go
  releasenotes/notes/cts_refactoring-f23c46104807f3fc.yaml
Labels: dependencies, documentation, gate, refactor

#2000 [NAT] workaround for tags in `opentelekomcloud_nat_gateway_v2` for eu-ch region
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_gateway_v2.go
  releasenotes/notes/nat-ch-tags-fix-0cc7f86231a31ace.yaml
Labels: bug, gate

#2003 [VPN] updated doc in `vpnaas_site_connection_v2.md`
  docs/resources/vpnaas_site_connection_v2.md
  releasenotes/notes/vpn-site-conn-doc-5b9ffc58a2f83cde.yaml
Labels: documentation, gate

#2005 [DCS] improve import in `opentelekomcloud_dcs_instance_v1` and refactoring `resource/opentelekomcloud_dcs_*`
  docs/resources/dcs_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/data_source_opentelekomcloud_dcs_az_v1.go
  opentelekomcloud/services/dcs/data_source_opentelekomcloud_dcs_maintainwindow_v1.go
  opentelekomcloud/services/dcs/data_source_opentelekomcloud_dcs_product_v1.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs-import-ref-4de92f58f85d9580.yaml
Labels: enhancement, dependencies, documentation, gate, refactor

#2004 [CTS]: New resource `opentelekomcloud_cts_event_notification_v3`
  docs/resources/cts_event_notification_v3.md
  opentelekomcloud/acceptance/cts/resource_opentelekomcloud_cts_event_notification_v3_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/common/validators.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cts/resource_opentelekomcloud_cts_event_notification_v3.go
  releasenotes/notes/cts_event_notifications-6c162f7cc8f126a1.yaml
Labels: documentation, gate

#2006 [RDS] updated doc for `opentelekomcloud_rds_instance_v3` added example with changed timezone
  docs/resources/rds_instance_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  releasenotes/notes/rds-doc-timezone-568f28ace93fbdb8.yaml
Labels: documentation, gate

#2007 Update docs of opentelekomcloud_images_image_v2
  docs/data-sources/images_image_v2.md
Labels: documentation, gate

#2010 [RDS]: ``resource/opentelekomcloud_rds_instance_v1`` deprecation message
  docs/data-sources/rds_flavors_v1.md
  docs/resources/rds_instance_v1.md
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_flavors_v1.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v1.go
  releasenotes/notes/rds_v1_depr-0699ec82220b44ab.yaml
Labels: documentation, gate
