Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2022-04, with the labels that each got.

#1690 [VPC] Fix querying EIP by public IP
  go.mod
  go.sum
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_eip_v1_test.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_eip_v1.go
  releasenotes/notes/eip-data-by-ip-c83d570634f377a7.yaml
Labels: dependencies, gate

#1695 [ECS] Add info about encrypted disk usage
  docs/resources/ecs_instance_v1.md
  releasenotes/notes/ecs-encrypt-doc-26b66f8363863f5d.yaml
Labels: documentation, gate

#1696 Update go modules
  go.mod
  go.sum
  main.go
Labels: dependencies, gate

#1702 [ELB] Fix example in `load_balancer_v3` doc
  docs/resources/lb_loadbalancer_v3.md
  releasenotes/notes/elbv3-lb-doc-b076cc92f581d442.yaml
Labels: documentation, gate

#1706 [CCE] Fail early if node creation job has no ID
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-fail-fdb63f012117f652.yaml
Labels: gate

#1708 Deprecate `compute_floatingip` APIs
  docs/resources/compute_floatingip_associate_v2.md
  docs/resources/compute_floatingip_v2.md
  docs/resources/networking_floatingip_associate_v2.md
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_floatingip_associate_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_floatingip_v2.go
  releasenotes/notes/compute-floatingips-59c3c84cc13731e1.yaml
Labels: documentation, gate

#1711 [CCE] Add new predefined tag in `resource/opentelekomcloud_cce_node_v3`
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/k8s-tags-force-b523be9db8f6f023.yaml
Labels: gate

#1710 [CCE] Improve waiting for nodes creation
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-fix-multiple-46bdff6bc3be6742.yaml
Labels: gate

#1713 [ELB] Allow passing EIP IDs to load balancer v3
  docs/resources/lb_loadbalancer_v3.md
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elbv3-eip-ids-48542f92efb7415a.yaml
Labels: documentation, gate

#1716 Improve release changelog
  .goreleaser.yml
  GNUmakefile
  scripts/changelog-link.sh
Labels: gate

#1715 [DNS] Add `data_source/opentelekomcloud_dns_nameserver_v2`
  go.mod
  go.sum
  opentelekomcloud/acceptance/dns/data_source_opentelekomcloud_dns_nameservers_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dns/data_source_opentelekomcloud_dns_nameservers_v2.go
  releasenotes/notes/dns-nameserver-01dd4b5a9f600106.yaml
Labels: dependencies, gate

#1717 [DNS] nameservers fix
  opentelekomcloud/services/dns/data_source_opentelekomcloud_dns_nameservers_v2.go
Labels: gate

#1721 github: Add a contribution guide
  .github/CONTRIBUTING.md
Labels: gate

#1722 github: update README.md
  README.md
Labels: documentation, gate
