Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-02, with the labels that each got.

#2066 [DMS]: Fix retention time validation for `opentelekomcloud_dms_topic_v1`
  docs/resources/dms_topic_v1.md
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_topic_v1_test.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_topic_v1.go
  releasenotes/notes/dms_retention-e84bc66cfe98c646.yaml
Labels: documentation, gate

#2068 [RDS]: PostgreSql 13/14 workaround fix to enable `parameters`
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_postgre-2edb3b31019c43b1.yaml
Labels: gate

#2077 CCE: `data/opentelekomcloud_cce_node_v3` volume fix
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce_node_data_fix-5a13543504e41825.yaml
Labels: gate

#2079 [CSBS | MRS] refactoring
  go.mod
  go.sum
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/acceptance/csbs/resource_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/resource_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/acceptance/mrs/resource_opentelekomcloud_mrs_cluster_v1_test.go
  opentelekomcloud/acceptance/mrs/resource_opentelekomcloud_mrs_job_v1_test.go
  opentelekomcloud/services/csbs/common.go
  opentelekomcloud/services/csbs/data_source_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/services/csbs/data_source_opentelekomcloud_csbs_backup_v1.go
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_v1.go
  opentelekomcloud/services/mrs/resource_opentelekomcloud_mrs_cluster_v1.go
  opentelekomcloud/services/mrs/resource_opentelekomcloud_mrs_job_v1.go
  releasenotes/notes/ref-csbs-mrs-17f5803cec806481.yaml
Labels: enhancement, dependencies, gate

#2080 CBR: SFSTurbo support for ``resource/opentelekomcloud_cbr_vault_v3``
  docs/resources/cbr_vault_v3.md
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr_turbo-c0035bd89cabb4f8.yaml
Labels: documentation, gate

#2081 [VPC] snat example in `resource/opentelekomcloud_networking_router_v2`
  docs/resources/networking_router_v2.md
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_router_v2_test.go
  releasenotes/notes/vpc-example-snat-7a743396bcf0e3a0.yaml
Labels: documentation, gate

#2082 [ECS] added `data/opentelekomcloud_compute_instances_v2`
  docs/data-sources/compute_instances_v2.md
  opentelekomcloud/acceptance/ecs/data_source_opentelekomcloud_compute_instances_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_instances_v2.go
  releasenotes/notes/ds-ecs-instasnces-81d65f6f2b63183a.yaml
Labels: enhancement, documentation, gate

#2084 [CES] support slashes for metric name in `resource/opentelekomcloud_ces_alarmrule`
  docs/resources/ces_alarmrule.md
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  releasenotes/notes/ces-metric-name-slashes-941660aa24b681c2.yaml
Labels: enhancement, documentation, gate

#2087 [RDS] remove workaround for postgre14 get flavors in `resource/opentelekomcloud_rds_instance_v3`
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-postgre14-get-flavors-09f1b09f5acf8d51.yaml
Labels: gate

#2092 [IAM]: `opentelekomcloud_identity_projects_v3` documentation fix
  docs/data-sources/identity_projects_v3.md
  releasenotes/notes/iam_projects_doc-8693d2310f8ea6c2.yaml
Labels: documentation, gate

#2094 [IAM]: fix `data_source/opentelekomcloud_identity_user_v3` MFA setting
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/user_mfa_fix-9a6bbcc9e4835550.yaml
Labels: bug, gate

#2095 [DMS]: Implementation of EIP feature for `resource/opentelekomcloud_dms_instance_v2`
  docs/resources/dms_instance_v2.md
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_instance_v2_test.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v2.go
  releasenotes/notes/dms_v2_eip-887a26eff63cd260.yaml
Labels: documentation, gate

#2096 [IMS] create from volume in `resource/opentelekomcloud_ims_image_v2`
  docs/resources/ims_image_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_ims_image_v2_test.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_ims_image_v2.go
  releasenotes/notes/ims-data-image-volume-8fd41440df3a1a90.yaml
Labels: dependencies, documentation, gate

#2099 [ELB] fix `data/opentelekomcloud_lb_loadbalancer_v3`
  opentelekomcloud/acceptance/elb/v3/data_source_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/services/elb/v3/data_source_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elbv3-ds-fix-bc913a2b0150db0d.yaml
Labels: bug, gate
