Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-03, with the labels that each got.

#2101 [VPC] shared snat doc updated
  docs/resources/networking_network_v2.md
  docs/resources/vpc_v1.md
  releasenotes/notes/vpc-shared-snat-doc-ef412664f935e8cb.yaml
Labels: documentation, gate

#2103 fix shell command in opentelekomcloud_vpc_subnet_v1 docs
  docs/resources/vpc_subnet_v1.md
  releasenotes/notes/vpc-subnet-doc-fix-b46d41f2601c913d.yaml
Labels: documentation, gate

#2110 [DCS]: Fix `data_source/opentelekomcloud_dcs_az_v1` documentation
  docs/data-sources/dcs_az_v1.md
  examples/basic-examples/modules/dcs/dcs.tf
  releasenotes/notes/dcs_az_doc-abe4ebe6a69fe1b9.yaml
Labels: documentation, gate

#2104 [IAM] attributes description in doc `data-sources/opentelekomcloud_identity_project_v3`
  docs/data-sources/identity_project_v3.md
  releasenotes/notes/iam-ipv3-ds-attrs-f1b6bed039f60acb.yaml
Labels: documentation, gate

#2109 [ELB] update `resource/opentelekomcloud_lb_*_v3`
  docs/data-sources/lb_listener_v3.md
  docs/data-sources/lb_loadbalancer_v3.md
  docs/resources/lb_listener_v3.md
  docs/resources/lb_loadbalancer_v3.md
  docs/resources/lb_policy_v3.md
  docs/resources/lb_pool_v3.md
  docs/resources/lb_rule_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/elb/v3/data_source_opentelekomcloud_lb_listener_v3_test.go
  opentelekomcloud/acceptance/elb/v3/data_source_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_certificate_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_listener_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_policy_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_pool_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_rule_v3_test.go
  opentelekomcloud/services/elb/v3/data_source_opentelekomcloud_lb_listener_v3.go
  opentelekomcloud/services/elb/v3/data_source_opentelekomcloud_lb_loadbalancer_v3.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_listener_v3.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_policy_v3.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_pool_v3.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_rule_v3.go
  releasenotes/notes/elb-v3-update-d3bd040b2a7f916b.yaml
Labels: enhancement, dependencies, documentation, gate

#2115 [ELB] supported ip_type fix for `resource/opentelekomcloud_lb_loadbalancer_v3`
  docs/resources/lb_loadbalancer_v3.md
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elb-v3-ip-type-fix-0555b2ae77ceec82.yaml
Labels: bug, documentation, gate

#2116 [ELB] fix `data_source/opentelekomcloud_lb_loadbalancer_v3` `_managed` field assignment for manually created loadbalancers
  docs/resources/lb_loadbalancer_v3.md
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elb-v3-managed-fix-ed77a89827acef5f.yaml
Labels: bug, documentation, gate

#2120 [ELB] ip address groups `resource/opentelekomcloud_lb_ipgroup_v3`
  docs/resources/lb_ipgroup_v3.md
  docs/resources/lb_listener_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_ipgroup_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_listener_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_ipgroup_v3.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_listener_v3.go
  releasenotes/notes/elb-v3-ipgroups-e484263424e98517.yaml
Labels: enhancement, dependencies, documentation, gate

#2124 [ELBv3]: `security_policy` resource
  docs/resources/lb_security_policy_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_security_policy_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_security_policy_v3.go
  releasenotes/notes/elb-v3-security-policy-5f587114fbfdd8b2.yaml
Labels: dependencies, documentation, gate

#2126 [ELB] ip_group attribute in `data_source/opentelekomcloud_lb_listener_v3`
  docs/data-sources/lb_listener_v3.md
  opentelekomcloud/services/elb/v3/data_source_opentelekomcloud_lb_listener_v3.go
  releasenotes/notes/elb-v3-listener-ds-ipgroup-fix-353ebef349caef6c.yaml
Labels: documentation, gate

#2122 [ELB] import for `resource/opentelekomcloud_lb_listener_v2`
  docs/resources/lb_listener_v2.md
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_listener_v2_test.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_listener_v2.go
  releasenotes/notes/elb-v2-listener-import-6a2a3d7dc837eda1.yaml
Labels: enhancement, documentation, gate
