Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-05, with the labels that each got.

#2153 [CCE] runtime force replacement fix
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-runtime-fix-329806fa6f0274dc.yaml
Labels: documentation, gate

#2161 [ECS] update for `data-source/opentelekomcloud_compute_instances_v2`
  docs/data-sources/compute_instances_v2.md
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_instances_v2.go
  releasenotes/notes/ecs-ds-instances-update-669c225850dc2e7e.yaml
Labels: enhancement, documentation, gate

#2164 [CCE] move addon installation wait to another func in `resource/opentelekomcloud_cce_cluster_v3`
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  releasenotes/notes/cce-ignore-addons-wait-647c99acff55446d.yaml
Labels: bug, gate

#2170 [DCS] removed dependency between enable_whitelist and whitelist in `resource/opentelekomcloud_dcs_instance_v1`
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs-waitlist-reqwith-remove-b078fc58badb042f.yaml
Labels: gate

#2172 [DCS] removed obsolete parameter access_user in `docs/resource/dcs_instance_v1`
  docs/resources/dcs_instance_v1.md
  releasenotes/notes/dcs-doc-access-user-rm-5816222fbe942e86.yaml
Labels: documentation, gate

#2175 [VPC]: fix port ranges for `opentelekomcloud_networking_secgroup_rule_v2`
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2.go
  releasenotes/notes/vpc_sg_fix-21d0ecfcbc4a3948.yaml
Labels: gate

#2174 [DCS] no password access in `resource/opentelekomcloud_dcs_instance_v1`
  docs/resources/dcs_instance_v1.md
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs-no-password-access-27c2c8c71cbc94fd.yaml
Labels: enhancement, documentation, gate

#2178 [ECS] sg ids instead of names in `data-source/opentelekomcloud_compute_instances_v2`
  docs/data-sources/compute_instances_v2.md
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_instances_v2.go
  releasenotes/notes/ecs-instances-ds-sg-ids-0ae598316d5747d9.yaml
Labels: documentation, gate

#2179 [RDS] added test with configuration parameters update
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  releasenotes/notes/rds-parameters-test-740d2492763fd2df.yaml
Labels: documentation, gate

#2180 [DMS]: new resource `opentelekomcloud_dms_user_v2`
  docs/resources/dms_instance_v2.md
  docs/resources/dms_user_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_user_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_user_v2.go
  releasenotes/notes/dms_user-b8b0d93a8bc2054f.yaml
Labels: enhancement, dependencies, documentation, gate

#2181 [DMS]: User permission management for DMS topics
  docs/resources/dms_user_permission_v1.md
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_user_permission_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_user_permission_v1.go
  releasenotes/notes/dms_permissions-1287e54dec963bbe.yaml
Labels: enhancement, documentation, gate

#2183 [LTS]: new resource `opentelekomcloud_logtank_transfer_v2`
  docs/resources/lts_logtransfer.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_logtransfer_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_transfer.go
  releasenotes/notes/lts_transfer-4a1474381294e507.yaml
Labels: dependencies, documentation, gate

#2184 [CCE] addon templates `data-source/opentelekomcloud_cce_addon_templates_v3`
  docs/data-sources/cce_addon_template_v3.md
  docs/data-sources/cce_addon_templates_v3.md
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_addon_template_v3_test.go
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_addon_templates_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_addon_template_v3.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_addon_templates_v3.go
  releasenotes/notes/cce-new-ds-addon-templates-c339261f168687ae.yaml
Labels: enhancement, documentation, gate
