Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-07, with the labels that each got.

#2211 [DIS] new `resource/opentelekomcloud_dis_checkpoint_v2`
  docs/resources/dis_app_v2.md
  docs/resources/dis_checkpoint_v2.md
  docs/resources/dis_stream_v2.md
  opentelekomcloud/acceptance/dis/resource_opentelekomcloud_dis_app_v2_test.go
  opentelekomcloud/acceptance/dis/resource_opentelekomcloud_dis_checkpoint_v2_test.go
  opentelekomcloud/acceptance/dis/resource_opentelekomcloud_dis_stream_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dis/resource_opentelekomcloud_dis_app_v2.go
  opentelekomcloud/services/dis/resource_opentelekomcloud_dis_checkpoint_v2.go
  opentelekomcloud/services/dis/resource_opentelekomcloud_dis_stream_v2.go
  releasenotes/notes/dis-checkpoints-93ad0fe770699b3f.yaml
Labels: enhancement, documentation, gate

#2210 OBS: filesystems implementation
  docs/resources/cts_tracker_v3.md
  docs/resources/obs_bucket.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  releasenotes/notes/obs_fs-c5499dfd6df3febc.yaml
Labels: dependencies, documentation, gate

#2212 [FW]: fix resource update from `tcp`/`udp` to `icmp`
  go.mod
  go.sum
  opentelekomcloud/acceptance/fw/resource_opentelekomcloud_fw_rule_v2_test.go
  opentelekomcloud/services/fw/resource_opentelekomcloud_fw_rule_v2.go
  releasenotes/notes/fw_rule_v2_fix-6af380c3cd98b3f0.yaml
Labels: dependencies, gate

#2213 [DIS] new resource/opentelekomcloud_dis_dump_task_v2
  docs/resources/dis_dump_task_v2.md
  opentelekomcloud/acceptance/dis/resource_opentelekomcloud_dis_dump_task_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dis/resource_opentelekomcloud_dis_dump_task_v2.go
  releasenotes/notes/dis-dump-task-4895ca4207e3a8f6.yaml
Labels: documentation, gate

#2218 [RDS]: Implement case-sensitive state of table names parameter
  docs/resources/rds_instance_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_lowercase_tables-390fa1f47a97a6c0.yaml
Labels: dependencies, documentation, gate

#2217 [CCE] add keys for skip sensitive data in `resource/opentelekomcloud_cce_cluster_v3`
  docs/resources/cce_cluster_v3.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  releasenotes/notes/cce-cluster-skip-cert-data-b8f4bda1b959c43a.yaml
Labels: enhancement, documentation, gate

#2221 [VPCEP]: whitelisting for ``opentelekomcloud_vpcep_service_v1``
  docs/resources/vpcep_service_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/vpcep/resource_opentelekomcloud_vpcep_service_test.go
  opentelekomcloud/services/vpcep/resource_opentelekomcloud_vpcep_service_v1.go
  releasenotes/notes/vpcep_whitelist-9772f71895469582.yaml
Labels: dependencies, documentation, gate

#2224 IAM: ``data/opentelekomcloud_identity_projects_v3`` project IDs fix
  docs/data-sources/identity_projects_v3.md
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_projects_v3.go
  releasenotes/notes/iam_projects_id-3ed4d94e16ebf770.yaml
Labels: documentation, gate

#2225 [OBS] proxy support in `NewObjectStorageClient`
  docs/resources/obs_bucket.md
  docs/resources/obs_bucket_object.md
  docs/resources/obs_bucket_policy.md
  opentelekomcloud/common/cfg/config.go
  releasenotes/notes/obs-client-proxy-conf-e6386e6abaea9800.yaml
Labels: documentation, gate

#2226 IAM: Fix ``data/opentelekomcloud_identity_projects_v3`` ID set with AK/SK auth
  opentelekomcloud/acceptance/iam/data_source_opentelekomcloud_identity_projects_v3_test.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_projects_v3.go
  releasenotes/notes/iam_projects_setid_fix-de4853235893bbae.yaml
Labels: gate

#2228 [VPC] port_security_enabled now can set to false in `resource/opentelekomcloud_networking_port_v2`
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_port_v2_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_port_v2.go
  releasenotes/notes/networking-port-security-fix-1fe6f73f7e108eb3.yaml
Labels: bug, gate

#2232 IAM: Provider resource overhaul
  docs/resources/identity_provider.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_protocol_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_provider_test.go
  opentelekomcloud/acceptance/iam/utils.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_provider.go
  releasenotes/notes/iam_provider_overhaul-edb2b5ba3eb438b5.yaml
Labels: dependencies, documentation, gate

#2233 IAM: `oidc` support implemented for `opentelekomcloud_identity_protocol_v3`
  docs/resources/identity_protocol_v3.md
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_protocol_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_protocol_v3.go
  releasenotes/notes/iam_protocol_oidc-0af15ba71320aab7.yaml
Labels: documentation, gate

#2234 IAM: `all_project` management for `opentelekomcloud_identity_role_assignment_v3`
  docs/resources/identity_role_assignment_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_role_assignment_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_role_assignment_v3.go
  releasenotes/notes/iam_all_projects-f983e1d6f6fdb1d1.yaml
Labels: dependencies, documentation, gate

#2236 [RDS] set tags in `data-source/opentelekomcloud_rds_instance_v3`
  opentelekomcloud/acceptance/rds/data_source_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/data_source_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-v3-ds-tags-fix-7843e3ad39b443dc.yaml
Labels: bug, gate

#2243 [ELB] updated doc and test regarding existing EIP assignment in `resource/opentelekomcloud_lb_loadbalancer_v3`
  docs/resources/lb_loadbalancer_v3.md
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elbv3-eip-doc-update-33f1c7a1d04c1794.yaml
Labels: documentation, gate
