Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-01, with the labels that each got.

#2033 [SWR] Refactoring after `gophertelekomcloud` update
  go.mod
  go.sum
  opentelekomcloud/acceptance/swr/resource_opentelekomcloud_swr_domain_v2_test.go
  opentelekomcloud/acceptance/swr/resource_opentelekomcloud_swr_organization_permissions_test.go
  opentelekomcloud/acceptance/swr/resource_opentelekomcloud_swr_organization_v2_test.go
  opentelekomcloud/acceptance/swr/resource_opentelekomcloud_swr_repository_v2_test.go
  opentelekomcloud/services/swr/resource_opentelekomcloud_swr_domain_v2.go
  opentelekomcloud/services/swr/resource_opentelekomcloud_swr_organization_permissions_v2.go
  opentelekomcloud/services/swr/resource_opentelekomcloud_swr_organization_v2.go
  opentelekomcloud/services/swr/resource_opentelekomcloud_swr_repository_v2.go
  releasenotes/notes/swr-refactor-7037680e4192bf96.yaml
Labels: enhancement, gate

#2036 [DDS]: New features for `opentelekomcloud_dds_instance_v3`
  docs/resources/vpcep_endpoint_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dds/resource_opentelekomcloud_dds_instance_v3_test.go
  opentelekomcloud/services/dds/resource_opentelekomcloud_dds_instance_v3.go
  releasenotes/notes/dds_nodes-3205efcb3094955f.yaml
Labels: enhancement, gate

#2041 [LTS]: Refactoring to use new APIs
  docs/resources/lts_loggroup.md
  docs/resources/lts_logtopic.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_loggroup_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_logtopic_test.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_loggroup.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_logtopic.go
  releasenotes/notes/bms-sdk-changed-c9d21e415a6e3214.yaml
  releasenotes/notes/lts_refactoring-56470b801e36a12f.yaml
Labels: dependencies, documentation, gate

#2042 [CCE] Add new predefined tag in `resource/opentelekomcloud_cce_node_v3`
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce_nodes_tags-de594b0037176303.yaml
Labels: gate

#2045 [RDS] workaround for postgre version 14 in `opentelekomcloud_rds_instance_v3`
  docs/resources/rds_instance_v3.md
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds-v3-pg14-fix-95b6363efee0fef6.yaml
Labels: bug, documentation, gate

#2048 [DCS]: Fix config check for DCS v3 in case resource in schema hasn't been created yet
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs_version_fix-e2527a4acabbd76d.yaml
Labels: gate

#2049 [RDS]: New security features for `opentelekomcloud_rds_instance_v3`
  docs/resources/rds_instance_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_security_api-d21e719930f3a7be.yaml
Labels: documentation, gate

#2052 [SWR] repo name with slashes in `resource/opentelekomcloud_swr_domain_v2`
  opentelekomcloud/acceptance/swr/resource_opentelekomcloud_swr_domain_v2_test.go
  opentelekomcloud/services/swr/common.go
  opentelekomcloud/services/swr/resource_opentelekomcloud_swr_domain_v2.go
  opentelekomcloud/services/swr/resource_opentelekomcloud_swr_repository_v2.go
  releasenotes/notes/swr-repo-name-slash-fix-2d754dac81061219.yaml
Labels: bug, gate

#2055 [CCE] fix setting of coredns stub_domains for `resource/opentelekomcloud_cce_addon_v3`
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_addon_v3_test.go
  opentelekomcloud/services/cce/addon-templates-v1.17.9.md
  opentelekomcloud/services/cce/addon-templates-v1.19.8.md
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_addon_v3.go
  releasenotes/notes/cce-addon-coredns-stub-domains-fix-a88108d609b3151d.yaml
Labels: bug, gate

#2056 CCE: Nodes `extend_params` volume parameter introduced
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce_nodes_volume_fix-c7dd2f17bf531321.yaml
Labels: dependencies, documentation, gate

#2057 CSS: `opentelekomcloud_css_snapshot_configuration_v1` validation added
  docs/resources/css_snapshot_configuration_v1.md
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_snapshot_configuration_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_snapshot_configuration_v1.go
  releasenotes/notes/css_snapshot-d7a6b35e12e2009b.yaml
Labels: documentation, gate

#2060 DDS: Tags management fix
  docs/resources/dds_instance_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dds/resource_opentelekomcloud_dds_instance_v3_test.go
  opentelekomcloud/services/dds/resource_opentelekomcloud_dds_instance_v3.go
  releasenotes/notes/dds_tags-defca3e40d8b003d.yaml
Labels: dependencies, documentation, gate

#2061 [DWS] add `resource/opentelekomcloud_dws_cluster_v1.go`
  docs/resources/dws_cluster_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dws/resource_opentelekomcloud_dws_cluster_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dws/common.go
  opentelekomcloud/services/dws/resource_opentelekomcloud_dws_cluster_v1.go
  releasenotes/notes/dws-cluster-5bbc0e9d9d45f6f7.yaml
Labels: enhancement, dependencies, documentation, gate

#2064 [DWS] flavors data source
  docs/data-sources/dws_flavors_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dws/data_source_opentelekomcloud_dws_flavors_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dws/data_source_opentelekomcloud_dws_flavors_v2.go
  releasenotes/notes/dws-flavors-ds-5ac6b1cf5ce95d2c.yaml
Labels: enhancement, dependencies, documentation, gate
