Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-04, with the labels that each got.

#2132 [CSS] opentelekomcloud_css_cluster_v1 import
  docs/resources/css_cluster_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  releasenotes/notes/css-cluster-import-e0cd06f3bf2914a3.yaml
Labels: dependencies, documentation, gate

#2133 [VPC] regex filtering in `data-source/opentelekomcloud_networking_secgroup_v2`
  docs/data-sources/networking_secgroup_v2.md
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_networking_secgroup_v2_test.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_networking_secgroup_v2.go
  releasenotes/notes/sg-ds-regex-861870527f419c20.yaml
Labels: enhancement, documentation, gate

#2136 [CSBS] tags schema fix for old versions
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/data_source_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/acceptance/csbs/resource_opentelekomcloud_csbs_backup_policy_v1_test.go
  opentelekomcloud/acceptance/csbs/resource_opentelekomcloud_csbs_backup_v1_test.go
  opentelekomcloud/services/csbs/common.go
  opentelekomcloud/services/csbs/data_source_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/services/csbs/data_source_opentelekomcloud_csbs_backup_v1.go
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_v1.go
  releasenotes/notes/csbs-tags-schema-fix-434ac207d5bce914.yaml
Labels: bug, gate

#2121 [RDS] manual backup resource
  docs/resources/rds_backup_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_backup_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_backup_v3.go
  releasenotes/notes/rds-manual-backup-4cff12fa93c8da0b.yaml
Labels: enhancement, documentation, gate

#2140 [CCE] `no_addons` addon readiness check in `resource/opentelekomcloud_cce_cluster_v3`
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  releasenotes/notes/cce-no-addons-fix-939563ec585499ef.yaml
Labels: bug, gate

#2144 Provider: temp ak/sk auth
  go.mod
  go.sum
  opentelekomcloud/common/cfg/config.go
  releasenotes/notes/provider_temp_ak_sk-8120033ada0008ab.yaml
Labels: dependencies, gate

#2145 [NAT]: New `data_source/opentelekomcloud_nat_gateway_v2`
  docs/data-sources/nat_gateway_v2.md
  opentelekomcloud/acceptance/nat/data_source_opentelekomcloud_nat_gateway_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/nat/data_source_opentelekomcloud_nat_gateway_v2.go
  releasenotes/notes/nat_v2_data-7a86a2c1035665ab.yaml
Labels: documentation, gate

#2146 [CCE] Add runtime container option
  docs/data-sources/cce_node_v3.md
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-runtime-8d930ab87e6378a8.yaml
Labels: dependencies, documentation, gate

#2147 CCE: `flavor` setting for addons
  docs/resources/cce_addon_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_addon_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_addon_v3.go
  releasenotes/notes/cce_addons_flavor-93c9e83ced01e4b9.yaml
Labels: dependencies, documentation, gate

#2151 [IAM]: metadata parameter fix for `opentelekomcloud_identity_protocol_v3`
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_protocol_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_protocol_v3.go
  releasenotes/notes/iam_protocols_metadata-9efce31738ccd92e.yaml
Labels: gate
