Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-08, with the labels that each got.

#2248 [WAF] new resource/opentelekomcloud_waf_dedicated_domain_v1
  docs/resources/waf_dedicated_domain_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_domain_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_instance_v1_test.go
  opentelekomcloud/acceptance/waf/utils.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_domain_v1.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_instance_v1.go
  releasenotes/notes/wafd-domains-3acbf0aea454d583.yaml
Labels: enhancement, dependencies, documentation, gate

#2250 [ELB] remove ip_type validation from `resource/opentelekomcloud_lb_loadbalancer_v3`
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elbv3-ip-type-validation-rm-ebfcc59d26ae7cdf.yaml
Labels: gate

#2251 [AS] client from ctx in `resource/opentelekomcloud_as_*`
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_configuration_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v1_test.go
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_policy_v2_test.go
  opentelekomcloud/services/as/common.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_group_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v1.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_policy_v2.go
  releasenotes/notes/as-client-ctx-e8280cbaa22c2fef.yaml
Labels: gate

#2252 [WAF] new `resource/opentelekomcloud_waf_dedicated_policy_v1`
  docs/resources/waf_dedicated_domain_v1.md
  docs/resources/waf_dedicated_instance_v1.md
  docs/resources/waf_dedicated_policy_v1.md
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_domain_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_policy_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_policy_v1.go
  releasenotes/notes/wafd-policy-75133b3ea48dd8dc.yaml
Labels: enhancement, documentation, gate

#2257 ELB: enable import for `opentelekomcloud_lb_whitelist_v2`
  docs/resources/lb_whitelist_v2.md
  opentelekomcloud/acceptance/elb/v2/resource_opentelekomcloud_lb_whitelist_v2_test.go
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_whitelist_v2.go
  releasenotes/notes/lb_whitelist_import-1a68b9c0140308eb.yaml
Labels: documentation, gate

#2258 RDS: Enable compute property for `ssl_enable` parameter in ReadContext
  go.mod
  go.sum
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_ssl_compute-7b04f85e295f2164.yaml
Labels: dependencies, gate

#2259 IAM: `opentelekomcloud_identity_user_v3` rework after API update
  docs/resources/identity_user_v3.md
  go.mod
  go.sum
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/iam_user_update-88e2d3d997999dc8.yaml
Labels: dependencies, documentation, gate

#2261 CCE: Custom cluster deletion
  docs/resources/cce_cluster_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  releasenotes/notes/cce_cluster_custom_deletion-b8ed22bcdade29fc.yaml
Labels: dependencies, documentation, gate

#2263 RDS: Fix `keep_days` zero values
  go.mod
  go.sum
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_keepdays_fix-0b7e43557198bb23.yaml
Labels: dependencies, gate

#2268 [DNS] example for multiple routers in `resource/opentelekomcloud_dns_zone_v2`
  docs/resources/dns_zone_v2.md
  releasenotes/notes/dns-routers-example-c86b8014fec667ac.yaml
Labels: documentation, gate

#2267 [WAF] new resource/opentelekomcloud_waf_dedicated_certificate_v1
  docs/resources/waf_dedicated_certificate_v1.md
  docs/resources/waf_dedicated_domain_v1.md
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_dedicated_certificate_v1_test.go
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_domain_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_certificate_v1.go
  releasenotes/notes/wafd-certificate-a850ebfea702734f.yaml
Labels: enhancement, documentation, gate

#2274 [DCS] az doc update for `resource/opentelekomcloud_dcs_instance_v1`
  docs/resources/dcs_instance_v1.md
  releasenotes/notes/dcs-az-doc-update-50c731c9c466de6b.yaml
Labels: documentation, gate

#2275 [Docs]: Added temporary ak/sk example auth for `docs/index.md`
  docs/index.md
  releasenotes/notes/index_temp_aksk-204bec3881e08151.yaml
Labels: documentation, gate

#2280 [DMS]: Enable encryption for `resource/opentelekomcloud_dms_instance_v2`
  docs/resources/dms_instance_v2.md
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v2.go
  releasenotes/notes/dms_encrypted-e04c3be9a2bd3474.yaml
Labels: documentation, gate

#2282 [ELB] posibility to disable ip_group in `resource/opentelekomcloud_lb_listener_v3`
  go.mod
  go.sum
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_listener_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_listener_v3.go
  releasenotes/notes/elb-ip-group-disable-2c48f88a85071caf.yaml
Labels: dependencies, gate

#2283 [IAM]: fix `opentelekomcloud_identity_user_v3` attribute output
  docs/resources/identity_user_v3.md
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/users_domain-a63c7989c9e87ce9.yaml
Labels: documentation, gate

#2284 [CCE] export max_pods and subnet_id in `resource/opentelekomcloud_cce_node_pool_v3`
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/acceptance/cce/shared/cluster.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  releasenotes/notes/cce-np-max-pods-subnet-out-793f6c8dbbeb7ad5.yaml
Labels: enhancement, gate

#2285 [ELB] possibility to remove all addresses in `resource/opentelekomcloud_lb_ipgroup_v3`
  docs/resources/lb_ipgroup_v3.md
  docs/resources/lb_listener_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_ipgroup_v3_test.go
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_listener_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_ipgroup_v3.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_listener_v3.go
  releasenotes/notes/elb-ipgroup-empty-iplist-31be5ee0105772f2.yaml
Labels: enhancement, dependencies, documentation, gate

#2286 [RDS]: fix `keep_days` update for `opentelekomcloud_rds_instance_v3`
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_backup_keepdays-f90d0c1cd2aade6f.yaml
Labels: gate

#2293 [DMS]: update documentation & deprecation
  docs/resources/dms_instance_v2.md
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v1.go
  releasenotes/notes/dms_docs-2bbf8bf09ce162c8.yaml
Labels: documentation, gate

#2292 [CCE] ubuntu 22.04 now supported os in `resource/opentelekomcloud_cce_node_v3`
  docs/resources/cce_node_v3.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/acceptance/cce/shared/cluster.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-node-ubuntu-os-269b8078f0250678.yaml
Labels: enhancement, documentation, gate

#2294 [DCS] docs update for `resource/opentelekomcloud_dcs_instance_v1` and `data-source/opentelekomcloud_dcs_az_v1`
  docs/data-sources/dcs_az_v1.md
  docs/resources/dcs_instance_v1.md
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_az_v1_test.go
  releasenotes/notes/dcs-docs-update-6c6ab027260ecefb.yaml
Labels: documentation, gate

#2287 [DCaaS] add new resource and datasource for `opentelekomcloud_direct_connect_v2`
  docs/data-sources/direct_connect_v2.md
  docs/resources/direct_connect_v2.md
  opentelekomcloud/acceptance/dcaas/datasource_opentelekomcloud_direct_connect_v2_test.go
  opentelekomcloud/acceptance/dcaas/resource_opentelekomcloud_direct_connect_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dcaas/common.go
  opentelekomcloud/services/dcaas/data_source_opentelekomcloud_direct_connect_v2.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_direct_connect_v2.go
  releasenotes/notes/direct-connect-a1df2e008eb6b414.yaml
Labels: enhancement, documentation, gate

#2295 [WAF] new `resource/opentelekomcloud_waf_dedicated_anti_crawler_rule_v1`
  docs/resources/waf_dedicated_anti_crawler_rule_v1.md
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_anti_crawler_rule_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_anti_crawler_rule_v1.go
  releasenotes/notes/wafd-anti-crawler-rule-6868abf7ece84c97.yaml
Labels: enhancement, documentation, gate
