Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-06, with the labels that each got.

#2187 S3 tests fix
  opentelekomcloud/acceptance/s3/resource_opentelekomcloud_s3_bucket_object_test.go
Labels: gate

#2186 [CES]: introduce `import` for alarm rules
  docs/resources/ces_alarmrule.md
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  releasenotes/notes/ces_import-406e3a7f921a0f6f.yaml
Labels: documentation, gate

#2189 [CES]: `opentelekomcloud_ces_alarmrule` alarm types & frequency features
  docs/resources/ces_alarmrule.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  releasenotes/notes/ces_alarm_types-0e1d3534be3db654.yaml
Labels: enhancement, dependencies, documentation, gate

#2194 [RDS] AZ switchover and backup strategy fix in `resource/opentelekomcloud_rds_instance_v3`
  docs/resources/rds_instance_v3.md
  opentelekomcloud/acceptance/rds/import_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rdsv3-switchover-fix-3cf96ef10cb26c1d.yaml
Labels: bug, documentation, gate

#2197 [VPC] icmp any in `resource/opentelekomcloud_networking_secgroup_rule_v2`
  docs/resources/networking_secgroup_rule_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2.go
  releasenotes/notes/vpc-networking-sg-icmp-any-fix-fb07369d039f188f.yaml
Labels: bug, dependencies, documentation, gate

#2200 Bump go version to 1.20
  .golangci.yml
  go.mod
Labels: dependencies, gate

#2203 [CTS]: `opentelekomcloud_cts_tracker_v3` resource for SWISSCLOUD
  docs/resources/cts_tracker_v3.md
  opentelekomcloud/acceptance/cts/resource_opentelekomcloud_cts_tracker_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cts/resource_opentelekomcloud_cts_tracker_v3.go
  releasenotes/notes/cts_tracker_v3-dfb7a1d5272befe0.yaml
Labels: enhancement, documentation, gate

#2205 [RDS]: Fix attribute read for `opentelekomcloud_rds_instance_v3` when SSL is enabled
  opentelekomcloud/common/utils.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_ssl_fix-bbb3d9918cef1d22.yaml
Labels: gate

#2204 [DIS] new `resource/opentelekomcloud_dis_stream_v2`
  docs/resources/dis_stream_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dis/resource_opentelekomcloud_dis_stream_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dis/common.go
  opentelekomcloud/services/dis/resource_opentelekomcloud_dis_stream_v2.go
  releasenotes/notes/dis-streams-aa93aa67c8674950.yaml
Labels: dependencies, documentation, gate

#2206 [DIS] new `resource/opentelekomcloud_dis_app_v2`
  docs/resources/dis_app_v2.md
  docs/resources/dis_stream_v2.md
  opentelekomcloud/acceptance/dis/resource_opentelekomcloud_dis_app_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dis/common.go
  opentelekomcloud/services/dis/resource_opentelekomcloud_dis_app_v2.go
  opentelekomcloud/services/dis/resource_opentelekomcloud_dis_stream_v2.go
  releasenotes/notes/dis-apps-a5f4ffd338e5bb07.yaml
Labels: enhancement, documentation, gate

#2088 [IMS | Image] API Update
  docs/data-sources/images_image_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/ims/data_source_opentelekomcloud_images_image_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_images_image_access_accept_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_images_image_access_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_images_image_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_ims_data_image_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_ims_image_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/services/bms/resource_opentelekomcloud_compute_bms_server_v2.go
  opentelekomcloud/services/ecs/data_source_opentelekomcloud_compute_instances_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/services/ims/common.go
  opentelekomcloud/services/ims/data_source_opentelekomcloud_images_image_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_access_accept_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_access_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_ims_data_image_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_ims_image_v2.go
  releasenotes/notes/ims-refactoring-97a36d9c54ac51b7.yaml
Labels: enhancement, dependencies, documentation, gate
