Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2023-12, with the labels that each got.

#2386 [CCE]: Cluster specifications doc fix
  docs/resources/cce_cluster_v3.md
  releasenotes/notes/cce_cluster_doc-59cb2f18c41e5e28.yaml
Labels: documentation, gate

#2387 [IMS]: `data_source/images_image_v2` fix various properties set
  docs/data-sources/images_image_v2.md
  opentelekomcloud/acceptance/ims/data_source_opentelekomcloud_images_image_v2_test.go
  opentelekomcloud/services/ims/data_source_opentelekomcloud_images_image_v2.go
  releasenotes/notes/ims_data_images_fix-de3b0fc3b9a38017.yaml
Labels: documentation, gate

#2398 [DCAAS] fix service_type attribute validation and virtual_interface doc
  docs/resources/dс_virtual_interface_v2.md
  opentelekomcloud/acceptance/dcaas/resource_opentelekomcloud_dc_virtual_interface_v2_test.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_interface_v2.go
  releasenotes/notes/dcaas-vi-service-type-cceba89b5f49a24d.yaml
Labels: bug, documentation, gate

#2399 [Provider]: implement reauth option
  docs/index.md
  opentelekomcloud/acceptance/provider_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  releasenotes/notes/provider_reauth-305df1d464bf6856.yaml
Labels: gate
