Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2024-03, with the labels that each got.

#2459 [DCS] tags support in `resource/opentelekomcloud_dcs_instance_v1`
  docs/resources/dcs_instance_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs-tags-9af0920455943cc7.yaml
Labels: dependencies, documentation, gate

#2461 Doc-Update nat_gateway_v2.md for Micro NAT-GW
  docs/resources/nat_gateway_v2.md
  releasenotes/notes/nat-gw-doc-update-35d46be1185ab14c.yaml
Labels: documentation, gate

#2463 [DOC] backend s3 documentation
  docs/backends.md
  releasenotes/notes/doc-backends-84b039d73ee44b4e.yaml
Labels: documentation, gate

#2462 [WAFD] throttling test
  opentelekomcloud/acceptance/throttling/src/wafdmain.tf.go
  opentelekomcloud/acceptance/throttling/src/wafdvars.tf.go
  opentelekomcloud/acceptance/throttling/throttling_test.go
  releasenotes/notes/wafd-throttling-test-91d42034fee3a795.yaml
Labels: gate, acceptance

#2464 [APIGW]: environment management resource
  docs/resources/apigw_environment_v2.md
  docs/resources/apigw_gateway_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_environment_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_gateway_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_environment_v2.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_gateway_v2.go
  releasenotes/notes/apigw_env-88c064db4db0ea10.yaml
Labels: dependencies, documentation, gate

#2468 [WAFD]: reference table name regex fix
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_reference_table_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_reference_table_v1.go
  releasenotes/notes/wafd_reference_regex-6f75c76cefcaecd2.yaml
Labels: gate

#2466 [APIGW]: groups resource
  docs/resources/apigw_environment_v2.md
  docs/resources/apigw_gateway_v2.md
  docs/resources/apigw_group_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_environment_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_group_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_group.go
  releasenotes/notes/apigw_groups-4bdfaf959f770bf8.yaml
Labels: dependencies, documentation, gate

#2471 [SDRS]: Replication pair resource
  docs/resources/sdrs_replication_pair_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_replication_pair_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/sdrs/common.go
  opentelekomcloud/services/sdrs/data_source_opentelekomcloud_sdrs_domain_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_replication_pair_v1.go
  releasenotes/notes/sdrs_replication_pair-34040567769b06dd.yaml
Labels: dependencies, documentation, gate

#2473 [SDRS]: replication pair attach resource
  docs/resources/sdrs_replication_attach_v1.md
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_replication_attach_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_replication_attach_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_replication_pair_v1.go
  releasenotes/notes/sdrs_replication_attach-fc77fcaa3f52fda5.yaml
  releasenotes/notes/sdrs_replication_pair-34040567769b06dd.yaml
Labels: documentation, gate

#2474 [RDS]: fix Read and remove redundant type validation
  docs/resources/rds_instance_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/common.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_parametergroup_v3.go
  releasenotes/notes/rds_swiss_fix-32b03c5b5b63a7b6.yaml
Labels: documentation, gate

#2475 [RDS]: parameter group documentation update
  docs/resources/rds_parametergroup_v3.md
  releasenotes/notes/rds_doc_update-01fab321ff0612f2.yaml
Labels: documentation, gate

#2476 [APIGW]: throttling policies
  docs/resources/apigw_throttling_policy_v2.md
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_throttling_policy_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/common.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_throttling_policy_v2.go
  releasenotes/notes/apigw_throttling-29943c472546b39b.yaml
Labels: documentation, gate
