Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2024-09, with the labels that each got.

#2643 [SWR]: fix repository update
  opentelekomcloud/acceptance/swr/resource_opentelekomcloud_swr_repository_v2_test.go
  opentelekomcloud/services/swr/resource_opentelekomcloud_swr_repository_v2.go
  releasenotes/notes/swr_repo_fix-92b28284a7dc94fe.yaml
Labels: gate

#2646 [RDS]: read replica ssl support
  docs/resources/rds_read_replica_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_read_replica_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_read_replica_v3.go
  releasenotes/notes/rds_replica_ssl-2da84496bef2be28.yaml
Labels: documentation, gate

#2653 Feat. CBR policy replication, policy and vault importers
  docs/resources/cbr_policy_v3.md
  docs/resources/cbr_vault_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_policy_v3_test.go
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/acceptance/env/vars.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_policy_v3.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr-policy-replication-7ba5baf732b3da17.yaml
Labels: enhancement, dependencies, documentation, gate

#2657 [CCE]: addon templates description
  docs/resources/cce_addon_v3.md
  opentelekomcloud/services/cce/addon-templates-v1.28.md
  releasenotes/notes/cce_addons_doc-1ecc636ad0413291.yaml
Labels: documentation, gate

#2655 [Refactor/Feat.] Refactor SDRS protection group/Add enable
  docs/resources/sdrs_protectiongroup_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1_test.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protectiongroup_v1.go
  releasenotes/notes/sdrs-enable-feature-protectiongroup-8c9172b36ca193e4.yaml
Labels: enhancement, dependencies, documentation, gate
