Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2024-10, with the labels that each got.

#2666 DMS: refactoring & new resources
  docs/data-sources/dms_flavor_v2.md
  docs/resources/dms_dedicated_instance_v2.md
  docs/resources/dms_instance_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dms/data_source_opentelekomcloud_dms_flavor_v2_test.go
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_dedicated_instance_v2_test.go
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_instance_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dms/common.go
  opentelekomcloud/services/dms/data_source_opentelekomcloud_flavor_v2.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_dedicated_instance_v2.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v2.go
  releasenotes/notes/dms_refactor-35cdb257a2a56879.yaml
Labels: dependencies, documentation, gate

#2667 [Refactor] Conform to changes in SDRS protected instances in Gopher
  .gitignore
  go.mod
  go.sum
  opentelekomcloud/acceptance/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1_test.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_protected_instance_v1.go
  opentelekomcloud/services/sdrs/resource_opentelekomcloud_sdrs_replication_attach_v1.go
  releasenotes/notes/sdrs-refactor-protected-instances-3a51a8188490194f.yaml
Labels: dependencies, gate

#2669 [Network] Doc deprecation message to router_route_v2 and refactoring
  docs/resources/networking_router_route_v2.md
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_router_route_v2_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_router_route_v2.go
  releasenotes/notes/network-route-v2-ref-9679902686614fd0.yaml
Labels: documentation, gate

#2672 DMS: smart connect
  docs/resources/dms_smart_connect_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dms/resource_opentelekomcloud_dms_smart_connect_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_smart_connect_v2.go
  releasenotes/notes/dms_connect-5bffa52d8a83f1f2.yaml
Labels: dependencies, documentation, gate

#2673 [EVPN] New `resource/opentelekomcloud_enterprise_vpn_customer_gateway_v5`
  docs/resources/vpn_customer_gateway_v5.md
  docs/resources/vpn_gateway_v5.md
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_enterprise_vpn_customer_gateway_v5_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_enterprise_vpn_customer_gateway_v5.go
  releasenotes/notes/evpn-customer-gateway-5b64a180413e1aef.yaml
Labels: enhancement, documentation, gate

#2674 [EVPN] New `resource/opentelekomcloud_enterprise_vpn_connection_v5`
  docs/resources/vpn_connection_v5.md
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_enterprise_vpn_connection_v5_test.go
  opentelekomcloud/acceptance/vpn/resource_opentelekomcloud_enterprise_vpn_customer_gateway_v5_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpn/resource_opentelekomcloud_enterprise_vpn_connection_v5.go
  releasenotes/notes/evpn-connection-057ef0f3285122f8.yaml
Labels: enhancement, documentation, gate

#2680 [Feat.] Autoscaling: Add Autoscaling Lifecycle hooks
  docs/resources/as_lifecycle_hook_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_lifecycle_hook_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_lifecycle_hook_v1.go
  releasenotes/notes/as-lifecycle-hooks-v1-7e362291f93d601a.yaml
Labels: enhancement, dependencies, documentation, gate

#2682 CCE: security group implementation
  docs/resources/cce_cluster_v3.md
  docs/resources/cce_node_pool_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  releasenotes/notes/cce_sec_groups-d97e5ae879b22ee8.yaml
Labels: dependencies, documentation, gate

#2683 [Feat.] ECS: Add os_scheduler_hints to opentelekomcloud_ecs_instance_v1
  docs/resources/ecs_instance_v1.md
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/ecs-instances-add-os-scheduler-hints-e724a91dd44c3540.yaml
Labels: enhancement, documentation, gate

#2685 [Fix] os_scheduler_hints now marked as computed
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/ecs-instance-scheduler-hints-fix-097ea89595f74dc9.yaml
Labels: bug, gate

#2688 [Feat.] images sharing refactoring
  docs/resources/image_image_access_accept_v2.md
  docs/resources/images_image_access_v2.md
  opentelekomcloud/acceptance/ims/import_opentelekomcloud_images_image_access_accept_v2_test.go
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_images_image_access_accept_v2_test.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_access_v2.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_images_image_v2.go
  releasenotes/notes/images-sharing-refactoring-5f89b0702ebf35cc.yaml
Labels: breaking-change, documentation, gate

#2689 IAM: `all_projects` option for iam agencies
  docs/resources/identity_agency_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_agency_v3_test.go
  opentelekomcloud/services/iam/common.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_agency_v3.go
  releasenotes/notes/iam_agency_allproj-6f70436dc14c410b.yaml
Labels: dependencies, documentation, gate

#2690 [Feat.] DC v3 Hosted Connection
  docs/resources/dc_hosted_connect_v3.md
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/acceptance/dcaas/resource_opentelekomcloud_dc_hosted_connect_v3_test.go
  opentelekomcloud/acceptance/env/vars.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dcaas/common.go
  opentelekomcloud/services/dcaas/data_source_opentelekomcloud_direct_connect_v2.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_endpoint_group.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_hosted_connect_v3.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_gateway_v2.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_interface_v2.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_direct_connect_v2.go
  releasenotes/notes/dc-v3-hosted-connect-c3d1e29800797f69.yaml
Labels: enhancement, documentation, gate

#2694 [Feat.] DC v3 Virtual Gateway
  docs/resources/dc_hosted_connect_v3.md
  docs/resources/dc_virtual_gateway_v3.md
  opentelekomcloud/acceptance/dcaas/resource_opentelekomcloud_dc_virtual_gateway_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_gateway_v3.go
  releasenotes/notes/dc-v3-virtual-gateway-96160b8e5fe7dd11.yaml
Labels: enhancement, documentation, gate

#2693 RMS: resource recorder
  docs/resources/rms_resource_recorder_v1.md
  opentelekomcloud/acceptance/rms/resource_opentelekomcloud_rms_resource_recorder_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/rms/common.go
  opentelekomcloud/services/rms/resource_opentelekomcloud_rms_resource_recorder_v1.go
  releasenotes/notes/rms_resource_recorder-17e6e9d892ef3676.yaml
Labels: documentation, gate

#2697 [Feat.] DC v3 Virtual Interface
  docs/resources/dc_virtual_interface_v3.md
  opentelekomcloud/acceptance/dcaas/resource_opentelekomcloud_dc_virtual_interface_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_interface_v3.go
  releasenotes/notes/dc-v3-virtual-interface-65d233e7307d469b.yaml
Labels: enhancement, documentation, gate

#2698 RMS: advanced queries
  docs/resources/rms_advanced_query_v1.md
  docs/resources/rms_resource_recorder_v1.md
  opentelekomcloud/acceptance/rms/resource_opentelekomcloud_rms_advanced_query_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/rms/common.go
  opentelekomcloud/services/rms/resource_opentelekomcloud_rms_advanced_query_v1.go
  opentelekomcloud/services/rms/resource_opentelekomcloud_rms_resource_recorder_v1.go
  releasenotes/notes/rms_advanced_query-aa1446d2edd578a1.yaml
Labels: documentation, gate

#2692 [Feat] DDM: Add resource ddm v1
  docs/resources/ddm_instance_v1.md
  opentelekomcloud/acceptance/ddm/resource_opentelekomcloud_ddm_instance_v1_test.go
  opentelekomcloud/acceptance/dws/resource_opentelekomcloud_dws_cluster_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/common/validators.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/ddm/common.go
  opentelekomcloud/services/ddm/resource_opentelekomcloud_ddm_instance_v1.go
  releasenotes/notes/ddm-add-resource-ddm-instance-v1-96d3153b1f2e2a48.yaml
Labels: enhancement, documentation, gate
