Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2024-04, with the labels that each got.

#2478 [DCS]: fix documentation regarding instance import
  docs/resources/dcs_instance_v1.md
  releasenotes/notes/dcs_doc_import_fix-8f1f70baa0031c4f.yaml
Labels: documentation, gate

#2483 [WAFD]: timeout settings for domain
  docs/resources/waf_dedicated_domain_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_domain_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_domain_v1.go
  releasenotes/notes/wafd_domain_timeout-96024ce3368eafd6.yaml
Labels: dependencies, documentation, gate

#2485 [APIGW] api v2
  docs/resources/apigw_api.md
  docs/resources/apigw_gateway_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_api_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_environment_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_gateway_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_group_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_throttling_policy_v2_test.go
  opentelekomcloud/acceptance/common/resource_check.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/common.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_api_v2.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_gateway_v2.go
  opentelekomcloud/services/apigw/schema_opentelekomcloud_apigw_api_v2.go
  releasenotes/notes/apigw-api-2ad9880b7a936879.yaml
Labels: enhancement, dependencies, documentation, gate

#2487 [FGS]: function graph resource
  docs/resources/fgs_function_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/acceptance/fgs/resource_opentelekomcloud_fgs_function_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/helper/hashcode/hashcode.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/fgs/common.go
  opentelekomcloud/services/fgs/resource_opentelekomcloud_fgs_function_v2.go
  releasenotes/notes/fgs_function-61ed2bd530e6b54d.yaml
Labels: dependencies, new-resource, documentation, gate

#2489 [APIGW] api publishing resource and api history data source
  .zuul.yaml
  docs/data-sources/apigw_api_history_v2.md
  docs/resources/apigw_api_publishment_v2.md
  docs/resources/apigw_api_v2.md
  opentelekomcloud/acceptance/apigw/data_source_opentelekomcloud_apigw_api_history_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_api_publishment_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/data_source_opentelekomcloud_apigw_api_history.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_api_publishment_v2.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_group_v2.go
  releasenotes/notes/apigw-api-publish-917cca16980eafd5.yaml
Labels: enhancement, documentation, gate

#2490 [APIGW] throttling policy associate
  docs/resources/apigw_throttling_policy_associate_v2.md
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_throttling_policy_associate_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_throttling_policy_associate_v2.go
  releasenotes/notes/apigw-tpolicy-associate-fda2771c5774f743.yaml
Labels: enhancement, documentation, gate

#2491 [NETWORK] port extended dhcp opts in `resource/opentelekomcloud_networking_port_v2`
  docs/resources/networking_port_v2.md
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_port_v2_test.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_port_v2.go
  releasenotes/notes/network-port-ext-dhcp-ce443b397a12fc86.yaml
Labels: documentation, gate

#2493 [NETWORK] port association resource and ids data source
  docs/data-sources/networking_port_ids_v2.md
  docs/resources/networking_port_secgroup_associate_v2.md
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_networking_port_ids_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_port_secgroup_associate_test.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_networking_port_ids_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_port_secgroup_associate_v2.go
  releasenotes/notes/network-port-sg-associate-72fc7dbe0a1cb0bc.yaml
Labels: enhancement, documentation, gate
