Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2024-07, with the labels that each got.

#2572 [WAF] fix setting timeout block in `resource/opentelekomcloud_waf_dedicated_domain_v1`
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_domain_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_domain_v1.go
  releasenotes/notes/wafd-domain-timeout-settings-528bb4d353cbffde.yaml
Labels: bug, gate

#2567 [VPC] Add data source for route tables collection
  docs/data-sources/vpc_route_table.md
  docs/data-sources/vpc_route_tables_v1.md
  opentelekomcloud/acceptance/vpc/data_source_opentelekomcloud_vpc_route_tables_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_route_tables_v1.go
  releasenotes/notes/vpc-route-tables-new-ds-2b780bf0f4b3b771.yaml
Labels: enhancement, documentation, gate

#2575 DCS: new ``data_source/opentelekomcloud_dcs_certificate_v2``
  docs/data-sources/dcs_certificate_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dcs/data_source_opentelekomcloud_dcs_certificate_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dcs/data_source_opentelekomcloud_dcs_certificate_v2.go
  releasenotes/notes/dcs_certificate-fd5b4704493a156b.yaml
Labels: dependencies, documentation, gate

#2577 [IAM]: fix user deletion for SwissCloud
  docs/resources/identity_user_v3.md
  go.mod
  go.sum
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/iam_users_swiss-7f76221d8c3b8253.yaml
Labels: dependencies, documentation, gate

#2580 [ER]: vpc attachments resource
  docs/resources/er_vpc_attachment_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/er/resource_opentelekomcloud_er_vpc_attachment_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/er/resource_opentelekomcloud_er_vpc_attachment_v3.go
  releasenotes/notes/er_vpc_attachment-7d809b0b04ec6e5a.yaml
Labels: dependencies, documentation, gate

#2582 [WAF] advanced settings update in `resource/opentelekomcloud_waf_dedicated_alarm_masking_rule_v1`
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_alarm_masking_rule_v1_test.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_alarm_masking_rule_v1.go
  releasenotes/notes/wafd-alarm-masking-rule-avd-sett-9d4aa3079dc5806e.yaml
Labels: dependencies, gate

#2587 elbv3 tags update wk
  docs/resources/lb_loadbalancer_v3.md
  go.sum
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3_test.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_loadbalancer_v3.go
  releasenotes/notes/elbv3-loadbalancer-tags-update-2dd68765616db3ae.yaml
Labels: dependencies, documentation, gate

#2590 [DMS] fixed filtering in `data-source/opentelekomcloud_dms_az_v1`
  opentelekomcloud/services/dms/data_source_opentelekomcloud_dms_az_v1.go
  releasenotes/notes/dms-az-ds-filter-fd6c72fdaa0388a8.yaml
Labels: gate

#2592 [WAFD] advanced_setting.contents proper setting of empty value in `resource/opentelekomcloud_waf_dedicated_alarm_masking_rule_v1 `
  docs/resources/waf_dedicated_alarm_masking_rule_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_alarm_masking_rule_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_alarm_masking_rule_v1.go
  releasenotes/notes/wafd-alarm-masking-avd-empty-cd14fc0f41448016.yaml
Labels: bug, dependencies, documentation, gate

#2595 [CSS] update enable_https doc for `resource/opentelekomcloud_css_cluster_v1`
  docs/resources/css_cluster_v1.md
  releasenotes/notes/css-enable-https-doc-9b6a7ba944775df6.yaml
Labels: enhancement, documentation, gate

#2598 [WAFD] extended options in `resource/opentelekomcloud_waf_dedicated_policy_v1`
  docs/resources/waf_dedicated_policy_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_policy_v1_test.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/services/waf/common.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_policy_v1.go
  releasenotes/notes/wafd-policy-extended-options-be1e79844d831f9a.yaml
Labels: dependencies, documentation, gate

#2600 [RDS] update doc according api changes, new disk types available
  docs/resources/rds_instance_v3.md
  releasenotes/notes/rds-v3-disk-types-doc-6d0d524439f0275b.yaml
Labels: documentation, gate
