Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2024-12, with the labels that each got.

#2751 [Fix] Modify CCE cluster resources to match changes in gopher
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/data_source_opentelekomcloud_cce_cluster_kubeconfig_v3_test.go
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/acceptance/cce/shared/cluster.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_cluster_kubeconfig_v3.go
  opentelekomcloud/services/cce/data_source_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-refactor-clusters-9ee4f8b6503f4126.yaml
Labels: dependencies, gate

#2755 [APIGW] New features resources
  docs/data-sources/apigw_gateway_features_v2.md
  docs/resources/apigw_gateway_feature_v2.md
  docs/resources/apigw_gateway_routes_v2.md
  opentelekomcloud/acceptance/apigw/data_source_opentelekomcloud_apigw_gateway_features_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_gateway_feature_v2_test.go
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_gateway_routes_v2_test.go
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/acceptance/env/vars.go
  opentelekomcloud/common/times.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/common.go
  opentelekomcloud/services/apigw/data_source_opentelekomcloud_apigw_gateway_features_v2.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_gateway_feature_v2.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_gateway_routes_v2.go
  releasenotes/notes/apigw-features-56240ebbc955562c.yaml
Labels: enhancement, documentation, gate

#2756 [Refactor] CCE: Refactor CCE nodes
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/acceptance/cce/shared/cluster.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-refactor-nodes-64c5205dc4a2b762.yaml
Labels: dependencies, gate, refactor

#2757 [Fix] CCE: Fix CCE nodes kubernetes tags issue
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce-fix-nodes-k8s-tags-2b58607fad288dd3.yaml
Labels: gate, fix

#2758 [Feat.] OBS: Add new resource opentelekomcloud_obs_bucket_object_acl
  docs/resources/obs_bucket_object_acl.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_object_acl_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket_object_acl.go
  releasenotes/notes/obs_bucket_obj_acl-dd030750c54b0bc5.yaml
Labels: dependencies, documentation, gate

#2760 [Fix] CSS: Fix CSS tags update
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  releasenotes/notes/css_cluster_tags-dbd741d8dea6f683.yaml
Labels: gate

#2762 [Refactor] VPCEP resources and data-sources
  docs/resources/vpcep_endpoint_v1.md
  docs/resources/vpcep_service_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/vpcep/data_source_opentelekomcloud_vpcep_public_service_v1_test.go
  opentelekomcloud/acceptance/vpcep/data_source_opentelekomcloud_vpcep_service_v1_test.go
  opentelekomcloud/acceptance/vpcep/resource_opentelekomcloud_vpcep_endpoint_v1_test.go
  opentelekomcloud/acceptance/vpcep/resource_opentelekomcloud_vpcep_service_test.go
  opentelekomcloud/services/vpcep/common.go
  opentelekomcloud/services/vpcep/data_source_opentelekomcloud_vpcep_public_service_v1.go
  opentelekomcloud/services/vpcep/data_source_opentelekomcloud_vpcep_service_v1.go
  opentelekomcloud/services/vpcep/resource_opentelekomcloud_vpcep_endpoint_v1.go
  opentelekomcloud/services/vpcep/resource_opentelekomcloud_vpcep_service_v1.go
  releasenotes/notes/vpcep-refactor-7e9fd11257a1264c.yaml
Labels: dependencies, documentation, gate, refactor

#2763 [Refactor] CCE: Refactor CCE Nodepools
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_pool_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  releasenotes/notes/cce-refactor-nodepools-905cdebba03e93a2.yaml
Labels: dependencies, gate, refactor

#2764 [Feat.] New VPCEP approval resource/opentelekomcloud_vpcep_approval_v1
  docs/resources/vpcep_approval_v1.md
  opentelekomcloud/acceptance/vpcep/resource_opentelekomcloud_vpcep_approval_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpcep/common.go
  opentelekomcloud/services/vpcep/resource_opentelekomcloud_vpcep_approval_v1.go
  releasenotes/notes/vpcep-approval-5039ae3a4ba6a0f8.yaml
Labels: enhancement, documentation, gate

#2767 [Fix] DCS: Fix DCS whitelist response
  go.mod
  go.sum
  releasenotes/notes/dcs_whitelist_fix-3f6fdab946a53a9e.yaml
Labels: dependencies, gate

#2771 [Fix] OBS: Fix OBS encryption disable
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  releasenotes/notes/obs_kms_fix-85ca84ef660a3b07.yaml
Labels: gate

#2772 [Fix] snapshot configuration update with kms key
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_snapshot_configuration_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_snapshot_configuration_v1.go
  releasenotes/notes/css-snapshot-update-fix-900078c85cecdacb.yaml
Labels: bug, gate
