Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2024-01, with the labels that each got.

#2400 [DCAAS] fix set `vgw_id` in Read
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_interface_v2.go
  releasenotes/notes/dcaas-vgw-id-fix-262394ae4456d0f1.yaml
Labels: bug, gate

#2401 labeler job fix
  .github/labeler.yml
Labels: dependencies, gate

#2404 [VPC] secondary cidr attribute in `resource/opentelekomcloud_vpc_v1`
  docs/resources/vpc_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/services/vpc/common.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_v1.go
  releasenotes/notes/vpc-v1-sec-cidr-block-3e2ebba3c9109eef.yaml
Labels: enhancement, dependencies, documentation, gate

#2405 [DCAAS] refactoring `opentelekomcloud_dc_virtual_gateway_v2`, deprecation `opentelekomcloud_dc_endpoint_group_v2`
  docs/resources/dс_endpoint_group_v2.md
  docs/resources/dс_virtual_gateway_v2.md
  opentelekomcloud/acceptance/dcaas/resource_opentelekomcloud_dc_virtual_gateway_v2_test.go
  opentelekomcloud/services/dcaas/common.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_endpoint_group.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_gateway_v2.go
Labels: bug, enhancement, dependencies, breaking-change, documentation, gate, refactor

#2407 [APIGW]: gateway resource implementation
  docs/resources/apigw_gateway.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/apigw/resource_opentelekomcloud_apigw_gateway_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_gateway_v2.go
  releasenotes/notes/apig_gateway-c5441638b8d0db4e.yaml
Labels: dependencies, documentation, gate

#2408 [DCAAS] refactoring `resource/opentelekomcloud_dc_virtual_interface_v2`
  docs/resources/dс_virtual_gateway_v2.md
  docs/resources/dс_virtual_interface_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dcaas/resource_opentelekomcloud_dc_virtual_interface_v2_test.go
  opentelekomcloud/services/dcaas/common.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_gateway_v2.go
  opentelekomcloud/services/dcaas/resource_opentelekomcloud_dc_virtual_interface_v2.go
  releasenotes/notes/dcaas-ref-virtual-gateway-df87a970b900ec53.yaml
  releasenotes/notes/dcaas-ref-virtual-interface-fix-230419162462cfe5.yaml
Labels: bug, enhancement, dependencies, breaking-change, documentation, gate, refactor

#2413 [VPC] update networking resources to support ipv6
  docs/resources/fw_rule_v2.md
  docs/resources/networking_secgroup_rule_v2.md
  docs/resources/vpc_subnet_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/fw/resource_opentelekomcloud_fw_rule_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2_test.go
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_subnet_v1_test.go
  opentelekomcloud/services/vpc/data_source_opentelekomcloud_vpc_subnet_v1.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_secgroup_rule_v2.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_subnet_v1.go
  releasenotes/notes/vpc-ipv6-update-9582965cfa3e5b3d.yaml
Labels: dependencies, documentation, gate

#2414 [RDS]: Autoscaling implementation
  docs/resources/rds_instance_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/common/retry_ctx.go
  opentelekomcloud/services/rds/common.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_autoscaling-d2214418b35fe067.yaml
Labels: dependencies, documentation, gate

#2417 [WAF] fix attribute `ExpireTime` type for `resource/opentelekomcloud_waf_certificate_v1`
  go.mod
  go.sum
  opentelekomcloud/services/waf/resource_certificate_v1.go
  releasenotes/notes/waf-cert-exp-time-fix-3755556019a9c434.yaml
Labels: dependencies, gate

#2419 [IAM] user login_protection in `resource/opentelekomcloud_identity_user_v3`
  docs/resources/identity_user_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_user_v3_test.go
  opentelekomcloud/services/iam/data_source_opentelekomcloud_identity_user_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_user_v3.go
  releasenotes/notes/iam-user-login-protection-dc42a6db8cfea208.yaml
Labels: dependencies, documentation, gate

#2418 Update addon-templates-v1.19.8.md
  opentelekomcloud/services/cce/addon-templates-v1.19.8.md
Labels: gate

#2421 [DCS]: option to choose `private_ip` on instance creation
  docs/resources/dcs_instance_v1.md
  opentelekomcloud/acceptance/dcs/resource_opentelekomcloud_dcs_instance_v1_test.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  releasenotes/notes/dcs_private_ip-bc2b8cc7ada85973.yaml
Labels: documentation, gate

#2423 NAT: Remove spec validation
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_gateway_v2.go
  releasenotes/notes/nat_gw_validation-61868984428a157d.yaml
Labels: gate

#2424 [IAM] security policies resources
  docs/resources/identity_login_policy_v3.md
  docs/resources/identity_password_policy_v3.md
  docs/resources/identity_protection_policy_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_login_policy_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_password_policy_v3_test.go
  opentelekomcloud/acceptance/iam/resource_opentelekomcloud_identity_protection_policy_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_login_policy_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_password_policy_v3.go
  opentelekomcloud/services/iam/resource_opentelekomcloud_identity_protection_policy_v3.go
  releasenotes/notes/iam-domain-policies-391a134931bf0378.yaml
Labels: enhancement, dependencies, documentation, gate

#2427 [VPC] eip association to virtual address test and example
  docs/resources/networking_vip_associate_v2.md
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_networking_vip_associate_v2_test.go
  releasenotes/notes/vpc-vip-eip-associate-7753fea818e64174.yaml
Labels: documentation, gate

#2428 [OBS]: worm policy implementation
  docs/resources/obs_bucket.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/nat/resource_opentelekomcloud_nat_dnat_rule_v2_test.go
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/services/nat/resource_opentelekomcloud_nat_dnat_rule_v2.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  releasenotes/notes/obs_worm_policy-9fba76bcb1f7f6d2.yaml
Labels: dependencies, documentation, gate
