Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2025-07, with the labels that each got.

#3009 [Doc] fix title for `resource/opentelekomcloud_ddm_schema_v1`
  docs/resources/ddm_schema_v1.md
  releasenotes/notes/ddm-schema-doc-fix-3d576272ab8a609e.yaml
Labels: documentation, gate

#3012 [Feat.] CBR: vault lock
  docs/resources/cbr_vault_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cbr/resource_opentelekomcloud_cbr_vault_v3_test.go
  opentelekomcloud/services/cbr/resource_opentelekomcloud_cbr_vault_v3.go
  releasenotes/notes/cbr_vault_lock-a924e6325e515b08.yaml
Labels: dependencies, documentation, gate

#3028 [Feat] CES: Add data source ces_multiple_metric_data_v1
  docs/data-sources/ces_multiple_metric_data_v1.md
  opentelekomcloud/acceptance/ces/data_source_opentelekomcloud_ces_multiple_metric_data_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/ces/data_source_opentelekomcloud_ces_multiple_metric_data_v1.go
  releasenotes/notes/ces-add-data-source-multiple-metric-data-v1-8bb14ae32ef75f10.yaml
Labels: enhancement, documentation, gate

#3027 [Feat.] New `data-source/opentelekomcloud_er_quotas_v3`
  docs/data-sources/er_quotas_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/er/data_source_opentelekomcloud_er_quotas_v3_test.go
  opentelekomcloud/acceptance/er/resource_opentelekomcloud_er_static_route_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/er/data_source_opentelekomcloud_er_quotas_v3.go
  releasenotes/notes/er-ds-quotas-47b9863d9e76f084.yaml
Labels: enhancement, dependencies, documentation, gate

#3032 [Doc] update postgresql min version and volume notes.
  docs/data-sources/rds_flavors_v3.md
  docs/resources/rds_instance_v3.md
  docs/resources/rds_parametergroup_v3.md
  docs/resources/rds_read_replica_v3.md
  releasenotes/notes/rds-doc-update-732b0bab43fa8d57.yaml
Labels: documentation, gate

#3035 [Doc] Provider doc example update
  docs/index.md
  releasenotes/notes/provider-doc-update-b83095ae0cdc10ba.yaml
Labels: documentation, gate

#3036 [Fix.] APIGW: `opentelekomcloud_apigw_api_v2` network_type set fix
  opentelekomcloud/services/apigw/resource_opentelekomcloud_apigw_api_v2.go
  opentelekomcloud/services/apigw/schema_opentelekomcloud_apigw_api_v2.go
  releasenotes/notes/apigw_api_network_fix-755db99da5604e32.yaml
Labels: bug, gate

#3037 [Feat.] FGS: `fgs_function_v2` new parameters
  docs/resources/fgs_function_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/fgs/resource_opentelekomcloud_fgs_function_v2_test.go
  opentelekomcloud/services/fgs/resource_opentelekomcloud_fgs_function_v2.go
  releasenotes/notes/fgs_func_new-0be136fc351da9f5.yaml
Labels: dependencies, documentation, gate

#3048 [Fix.] RDS: fix instance creation with `param_group_id`
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_intance_fix-a0a0c61c00fd03f8.yaml
Labels: gate

#3050 [Feat.] SMN: new `data_source/opentelekomcloud_smn_message_templates_v2`
  docs/data-sources/smn_message_templates_v2.md
  opentelekomcloud/acceptance/smn/data_source_opentelekomcloud_smn_message_templates_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/smn/data_source_opentelekomcloud_smn_message_templates_v2.go
  releasenotes/notes/sms_message_template_datasource-c82e0c3342bf92f6.yaml
Labels: documentation, gate

#3053 [Fix.] CCE: addon errors output fix
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_addon_v3.go
  releasenotes/notes/cce_addon_err_fix-2714515e6c633fc0.yaml
Labels: gate

#3054 [Fix.] WAF: anti leakage rules fix
  docs/resources/waf_dedicated_anti_leakage_rule_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/waf/resource_opentelekomcloud_waf_dedicated_anti_leakage_rule_v1_test.go
  opentelekomcloud/services/waf/resource_opentelekomcloud_waf_dedicated_anti_leakage_rule_v1.go
  releasenotes/notes/wafd_antileakage_fix-7df019f8bc42ace7.yaml
Labels: dependencies, documentation, gate

#3071 [Feat] FGS: Add additional attributes to fgs_function_v2
  docs/resources/fgs_function_v2.md
  opentelekomcloud/acceptance/fgs/resource_opentelekomcloud_fgs_function_v2_test.go
  opentelekomcloud/services/fgs/resource_opentelekomcloud_fgs_function_v2.go
  releasenotes/notes/fgs-add-new-attributes-function-v2-2aca65a7630cf4f5.yaml
Labels: enhancement, gate

#3074 [Feat.] ER: new `data_source/opentelekomcloud_er_propagations_v3`
  docs/data-sources/er_propagations_v3.md
  opentelekomcloud/acceptance/er/data_source_opentelekomcloud_er_propagations_v3_test.go
  opentelekomcloud/acceptance/er/resource_opentelekomcloud_er_propagation_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/er/data_source_opentelekomcloud_er_propagations_v3.go
  releasenotes/notes/er_propagations-f7580dfbeb1592ae.yaml
Labels: documentation, gate

#3080 [Refactor] FGS: enable_class_isolation set as argument in fgs_function_v2
  docs/resources/fgs_function_v2.md
  opentelekomcloud/acceptance/fgs/resource_opentelekomcloud_fgs_function_v2_test.go
  opentelekomcloud/services/fgs/resource_opentelekomcloud_fgs_function_v2.go
  releasenotes/notes/fgs-new-argument-function-v2-6a4b5058fdafccee.yaml
Labels: documentation, gate
