Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2025-05, with the labels that each got.

#2835 [Feat.] ECS: Add metadata with agency_name to ecs_instance_v1
  README.md
  docs/resources/ecs_instance_v1.md
  opentelekomcloud/acceptance/ecs/resource_opentelekomcloud_ecs_instance_v1_test.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  releasenotes/notes/ecs-instance-add-metadata-field-791a719f3e5ce651.yaml
Labels: gate

#2926 [Feat.] New resource `opentelekomcloud_lb_lts_log_v3`
  docs/resources/lb_lts_log_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/elb/v3/resource_opentelekomcloud_lb_lts_log_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/elb/v3/resource_opentelekomcloud_lb_lts_log_v3.go
  releasenotes/notes/lb-lts-access-log-550a9c7277a8e4c9.yaml
Labels: enhancement, dependencies, documentation, gate

#2928 [DCS]: v3 engine version deprecation
  docs/resources/dcs_instance_v1.md
  docs/resources/dcs_instance_v2.md
  opentelekomcloud/common/customize_diffs.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v1.go
  opentelekomcloud/services/dcs/resource_opentelekomcloud_dcs_instance_v2.go
  releasenotes/notes/dcs_deprecation-5239058003db5619.yaml
Labels: documentation, gate

#2929 [DMS]: engine v1 deprecation message
  docs/resources/dms_dedicated_instance_v2.md
  docs/resources/dms_instance_v2.md
  opentelekomcloud/common/customize_diffs.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_dedicated_instance_v2.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v1.go
  opentelekomcloud/services/dms/resource_opentelekomcloud_dms_instance_v2.go
  releasenotes/notes/dms_instance_depr-20facdef0f439d8f.yaml
Labels: documentation, gate

#2933 [CCE]: remove `forcenew` for `template_version`/`template_name`
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_addon_v3.go
  releasenotes/notes/cce_addon_update-a429a37e5c2dfb9b.yaml
Labels: gate

#2930 [Feat.] CFW: Add resource opentelekomcloud_cfw_ips_protection_v1
  docs/resources/cfw_ips_protection_v1.md
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_ips_protection_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_ips_protection_v1.go
  releasenotes/notes/cfw-add-resource-cfw-ips-protection-v1-c42ee2ee71e6b6cd.yaml
Labels: enhancement, documentation, gate

#2939 [Doc] CCE: Fix doc cce_node_v3 and cce_node_pool_v3
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  releasenotes/notes/cce-update-docs-node-nodepool-os-98fc8e2a26e95a9d.yaml
Labels: documentation, gate

#2942 [Doc.]: ELB v2 listener doc fix
  docs/resources/lb_listener_v2.md
  releasenotes/notes/elb_v2_doc_update-368de3c722db1ff9.yaml
Labels: documentation, gate

#2943 [Doc] DCS: Update argument engine_version in dcs_instance_v2
  docs/resources/dcs_instance_v2.md
  releasenotes/notes/dcs-update-docs-instance-engine-version-1174affbbfc16d58.yaml
Labels: documentation, gate

#2946 [Feat.] KMS: introduce `kms_project_id` to encrypt buckets via side project keys
  docs/resources/obs_bucket.md
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  releasenotes/notes/obs_encryption-56f51eb775280615.yaml
Labels: documentation, gate

#2944 [Doc] Update docs fix disk and volume type mismatch
  docs/resources/as_configuration_v1.md
  docs/resources/blockstorage_volume_v2.md
  docs/resources/ecs_instance_v1.md
  docs/resources/evs_volume_v3.md
  opentelekomcloud/acceptance/as/resource_opentelekomcloud_as_configuration_v1_test.go
  releasenotes/notes/docs-update-disk-volume-type-options-49df4c8d32289cb7.yaml
Labels: documentation, gate

#2953 [DDS] New resource `opentelekomcloud_dds_lts_log_v3`
  docs/resources/dds_lts_log_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dds/resource_opentelekomcloud_dds_lts_log_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/dds/resource_opentelekomcloud_dds_lts_log_v3.go
  releasenotes/notes/dds-lts-log-resource-455dd6596528d947.yaml
Labels: enhancement, dependencies, documentation, gate

#2955 [Doc] change datasbase_type -> datastore_type
  docs/data-sources/rds_instance_v3.md
  releasenotes/notes/rds-ds-doc-fix-5abece31c5a2d68e.yaml
Labels: documentation, gate

#2956 [Fix.] FGS: `max_instance_num` fix during `custom_image` update
  opentelekomcloud/services/fgs/resource_opentelekomcloud_fgs_function_v2.go
  releasenotes/notes/fgs_func_max_concur-635f6bfb7d7c8561.yaml
Labels: gate

#2966 [Fix] DDM: Fix param_group_id validation in ddm_instance_v1
  opentelekomcloud/services/ddm/resource_opentelekomcloud_ddm_instance_v1.go
  releasenotes/notes/ddm-fix-instance-v1-arg-fae0640b50c83202.yaml
Labels: gate, fix

#2968 [Fix.] VPCEP: remove redundant validation
  opentelekomcloud/acceptance/vpcep/resource_opentelekomcloud_vpcep_service_test.go
  opentelekomcloud/services/vpcep/resource_opentelekomcloud_vpcep_service_v1.go
  releasenotes/notes/vpcep_service_valid-c0bdbc872c299c76.yaml
Labels: gate

#2975 [Feat.] New data-source `opentelekomcloud_lts_streams_v2`
  docs/data-sources/lts_streams_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/lts/data_source_opentelekomcloud_lts_streams_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/data_source_opentelekomcloud_lts_streams_v2.go
  releasenotes/notes/lts-streams-ds-4612474d3a3f7cd5.yaml
Labels: enhancement, dependencies, documentation, gate
