Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2025-10, with the labels that each got.

#3143 [Feat.] DDS: maintenance window options
  docs/resources/dds_instance_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/dds/resource_opentelekomcloud_dds_instance_v3_test.go
  opentelekomcloud/services/dds/resource_opentelekomcloud_dds_instance_v3.go
  releasenotes/notes/dds_maintenance-746255e538d1998d.yaml
Labels: dependencies, documentation, gate

#3152 [Feat.] TaurusDB: proxy resource
  docs/resources/taurusdb_mysql_proxy_v3.md
  opentelekomcloud/acceptance/taurusdb/resource_opentelekomcloud_taurusdb_mysql_proxy_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/taurusdb/resource_opentelekomcloud_taurusdb_mysql_proxy_v3.go
  releasenotes/notes/taurusdb_proxy-f4f719a577cc312b.yaml
Labels: documentation, gate

#3153 [Feat.] TaurusDB: concurrency
  docs/resources/taurusdb_mysql_sql_control_rule_v3.md
  opentelekomcloud/acceptance/taurusdb/resource_opentelekomcloud_taurusdb_mysql_sql_control_rule_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/taurusdb/resource_opentelekomcloud_taurusdb_mysql_sql_control_rule_v3.go
  releasenotes/notes/taurusdb_sql_control-96e23d58e5a92fb6.yaml
Labels: documentation, gate

#3154 [Feat.] prepare config for enterprise_project_id
  docs/index.md
  opentelekomcloud/acceptance/env/vars.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/common/descriptions.go
  opentelekomcloud/provider.go
  releasenotes/notes/provider-config-eps-7780db92dfc1abd9.yaml
Labels: enhancement, documentation, gate

#3157 [Feat.] TaurusDB: quota management resource
  docs/resources/taurusdb_mysql_quota_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/env/vars.go
  opentelekomcloud/acceptance/taurusdb/resource_opentelekomcloud_taurusdb_mysql_quota_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/taurusdb/resource_opentelekomcloud_taurusdb_mysql_quota_v3.go
  releasenotes/notes/taurusdb_quota-126ae8ed413b0f0e.yaml
Labels: dependencies, documentation, gate
