Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2025-09, with the labels that each got.

#3105 [Doc] Backend issue
  docs/guides/backends.md
  releasenotes/notes/doc-backend-6513f3b0f4c528bb.yaml
Labels: documentation, gate

#3112 [Feat] PrivateNAT: Add resource private_nat_dnat_rule_v3
  docs/resources/private_nat_dnat_rule_v3.md
  opentelekomcloud/acceptance/privatenat/resource_opentelekomcloud_private_nat_dnat_rule_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/privatenat/resource_opentelekomcloud_private_nat_dnat_rule_v3.go
  releasenotes/notes/privatenat-add-resource-dnat-rule-v3-cef630535faaf465.yaml
Labels: new-resource, documentation, gate

#3115 [Fix] ValidateVolumeType extra specs check
  opentelekomcloud/acceptance/evs/resource_opentelekomcloud_evs_volume_v3_test.go
  opentelekomcloud/common/customize_diffs.go
  releasenotes/notes/evs-extra-spec-validation-872fe3d5421aee1e.yaml
Labels: gate, otc-issue, fix

#3116 [Feat] PrivateNAT: Add resource private_nat_snat_rule_v3
  docs/resources/private_nat_snat_rule_v3.md
  opentelekomcloud/acceptance/privatenat/resource_opentelekomcloud_private_nat_snat_rule_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/privatenat/resource_opentelekomcloud_private_nat_snat_rule_v3.go
  releasenotes/notes/privatenat-add-resource-snat-rule-v3-59e4021e4832fc53.yaml
Labels: new-resource, documentation, gate

#3118 [Feat] PrivateNAT: Add data source private_nat_gateway_v3 and minor doc fix
  docs/data-sources/private_nat_gateway_v3.md
  docs/resources/private_nat_gateway_v3.md
  opentelekomcloud/acceptance/privatenat/data_source_opentelekomcloud_private_nat_gateway_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/privatenat/data_source_opentelekomcloud_private_nat_gateway_v3.go
  releasenotes/notes/privatenat-add-data-source-gateway-v3-9a7b4b697295661f.yaml
Labels: documentation, new-data-source, gate

#3121 [Feat] PrivateNAT: Add data source private_nat_transit_ip_v3 and doc fix
  docs/data-sources/private_nat_gateway_v3.md
  docs/data-sources/private_nat_transit_ip_v3.md
  opentelekomcloud/acceptance/privatenat/data_source_opentelekomcloud_private_nat_transit_ip_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/privatenat/data_source_opentelekomcloud_private_nat_transit_ip_v3.go
  releasenotes/notes/privatenat-add-data-source-transit-ip-v3-2c21734fd479d44e.yaml
Labels: documentation, new-data-source, gate

#3131 [Feat] ASM: Add data source asm_service_mesh_v1
  docs/data-sources/asm_service_mesh_v1.md
  opentelekomcloud/acceptance/asm/data_source_opentelekomcloud_asm_service_mesh_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/asm/data_source_opentelekomcloud_asm_service_mesh_v1.go
  releasenotes/notes/asm-add-data-source-service-mesh-v1-2e121361c5ce3c76.yaml
Labels: documentation, new-data-source, gate

#3132 [Refactor] SFS Turbo: Add new fields to sfs_turbo_share_v1
  docs/data-sources/sfs_turbo_share_v1.md
  docs/resources/sfs_turbo_share_v1.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/sfs/import_opentelekomcloud_sfs_turbo_share_v1_test.go
  opentelekomcloud/acceptance/sfs/resource_opentelekomcloud_sfs_turbo_share_v1_test.go
  opentelekomcloud/services/sfs/data_source_opentelekomcloud_sfs_turbo_share_v1.go
  opentelekomcloud/services/sfs/resource_opentelekomcloud_sfs_turbo_share_v1.go
  releasenotes/notes/turbo-sfs-refactor-share-v1-bc8f75331c2e9d76.yaml
Labels: dependencies, documentation, gate

#3139 [Feat] VPC: Add resource vpc_secgroup_v3
  docs/resources/vpc_secgroup_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/vpc/resource_opentelekomcloud_vpc_secgroup_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpc/common.go
  opentelekomcloud/services/vpc/resource_opentelekomcloud_vpc_secgroup_v3.go
  releasenotes/notes/vpc-new-resource-secgroup-v3-8a747c2e63844250.yaml
Labels: dependencies, new-resource, documentation, gate

#3140 [Feat.] New data-source `opentelekomcloud_apigw_environments_v2`
  docs/data-sources/apigw_environments_v2.md
  opentelekomcloud/acceptance/apigw/data_source_opentelekomcloud_apigw_environments_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/apigw/data_source_opentelekomcloud_apigw_environments_v2.go
  releasenotes/notes/apigw-ds-environments-98a340e20017e55c.yaml
Labels: enhancement, documentation, gate
