Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2025-04, with the labels that each got.

#2876 [Feat.] LTS Host Group
  docs/resources/lts_host_group_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/common/common.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_host_group_v3_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/common.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_host_group_v3.go
  releasenotes/notes/lts-host-group-4735cfcfdd5a9815.yaml
Labels: enhancement, dependencies, documentation, gate

#2880 [Feat.] LTS Host Access
  docs/resources/lts_host_access_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_host_access_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_host_access_v3.go
  releasenotes/notes/lts-host-access-0c6221afbc797b33.yaml
Labels: dependencies, documentation, gate

#2882 [Feat.] RDS: add `period` setting for `backup_strategy`
  docs/resources/rds_instance_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_instance_v3_test.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_instance_v3.go
  releasenotes/notes/rds_backup_period-31ab340181ab843c.yaml
Labels: documentation, gate

#2883 [Feat.] LTS CCE access
  docs/data-sources/hss_host_intrusion_events_v5.md
  docs/data-sources/nat_snat_rules_v2.md
  docs/resources/lts_cce_access_v3.md
  docs/resources/lts_host_access_v3.md
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_cce_access_v3_test.go
  opentelekomcloud/common/utils.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_cce_access_v3.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_host_access_v3.go
  releasenotes/notes/lts-cce-access-95ad6984c653a08c.yaml
Labels: enhancement, documentation, gate

#2886 [Fix] read fix for all LTS resources
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_cce_access_v3_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_group_v2_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_host_access_v3_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_host_group_v3_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_loggroup_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_logtopic_test.go
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_logtransfer_test.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_cce_access_v3.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_group_v2.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_host_access_v3.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_host_group_v3.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_stream_v2.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_transfer_v2.go
  releasenotes/notes/lts-read-fix-be6e3c54b219293c.yaml
Labels: bug, gate

#2885 [Feat.] New LTS Cross Account Access `resource/opentelekomcloud_lts_cross_account_access_v2`
  docs/resources/lts_cross_account_access_v2.md
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_cross_account_access_v2_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/common.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_cross_account_access_v2.go
  releasenotes/notes/lts-cross-account-connect-230724fd8f2d96be.yaml
Labels: enhancement, documentation, gate

#2887 [Depr.] CSBS: deprecation notice
  docs/resources/csbs_backup_policy_v1.md
  docs/resources/csbs_backup_v1.md
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_policy_v1.go
  opentelekomcloud/services/csbs/resource_opentelekomcloud_csbs_backup_v1.go
  releasenotes/notes/csbs_deprecation-bda670c161ec93ef.yaml
Labels: documentation, gate

#2888 [Fix] IAM: project deletion status code fix
  go.mod
  go.sum
  releasenotes/notes/iam_project_deletion-19de2ed137aacb02.yaml
Labels: dependencies, gate

#2890 [Feat.] SMN: Add SMN data source opentelekomcloud_smn_topic_v2
  docs/data-sources/smn_topic_v2.md
  opentelekomcloud/acceptance/smn/datasource_opentelekomcloud_smn_topic_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/smn/datasource_opentelekomcloud_smn_topic_v2.go
  releasenotes/notes/smn-datasource-topic-v2-b27af2839ba039ef.yaml
Labels: enhancement, documentation, gate

#2891 [Feat.] CCE: timezone parameter for cluster v3
  docs/resources/cce_cluster_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  releasenotes/notes/cce_timezone-b91ad704f72a2850.yaml
Labels: dependencies, documentation, gate

#2893 [Feat.] CCE: addons update func
  docs/resources/cce_addon_v3.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_addon_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_addon_v3.go
  releasenotes/notes/cce_addon_update-df40addddaa06bb2.yaml
Labels: documentation, gate

#2894 [Fix] LTS access `event_level` doc fix
  docs/resources/lts_cce_access_v3.md
  docs/resources/lts_host_access_v3.md
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_cce_access_v3_test.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_cce_access_v3.go
  releasenotes/notes/lts-access-doc-fix-6aa4fa65c0994462.yaml
Labels: documentation, gate

#2896 [Feat.] CCE: node import
  docs/resources/cce_node_v3.md
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_node_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  releasenotes/notes/cce_node_import-5ae91509bf285d6a.yaml
Labels: documentation, gate

#2897 [Fix] VPC: Remove depreciated arguments from ports V2 resource
  docs/resources/networking_port_v2.md
  go.mod
  go.sum
  opentelekomcloud/services/vpc/resource_opentelekomcloud_networking_port_v2.go
  releasenotes/notes/fix-vpc-port-v2-depr-args-add9ac87f93997f8.yaml
Labels: dependencies, breaking-change, documentation, gate

#2898 [Doc] Update DCS Instance V2 resource doc
  docs/resources/dcs_instance_v2.md
  releasenotes/notes/dcs-docs-update-instance-resource-v2-79f81faec6956c41.yaml
Labels: documentation, gate

#2899 [Fix] CCE: fix cluster eip bind/unbind
  docs/resources/cce_cluster_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  releasenotes/notes/cce_cluster_eip_bind_fix-ab0bcb51a264804a.yaml
Labels: dependencies, documentation, gate

#2900 [Feat.] CFW: Add resource opentelekomcloud_cfw_firewall_v1
  docs/resources/cfw_firewall_v1.md
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_firewall_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cfw/common.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_firewall_v1.go
  releasenotes/notes/cfw-add-resource-cfw-firewall-v1-5a0bc8c5b3b55c4b.yaml
Labels: enhancement, documentation, gate

#2902 [Feat.] CCE: api trustlist
  docs/resources/cce_cluster_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cce/resource_opentelekomcloud_cce_cluster_v3_test.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_cluster_v3.go
  releasenotes/notes/cce_cluster_trustlist-2fd36d10c0744583.yaml
Labels: dependencies, documentation, gate

#2907 [Fix] ELBv2: remove redundant validation for protocol
  opentelekomcloud/services/elb/v2/resource_opentelekomcloud_lb_listener_v2.go
  releasenotes/notes/elb_v2_validate-37d6d101e417eb2a.yaml
Labels: gate

#2909 [Feat.] CFW: Add resource opentelekomcloud_cfw_address_group_v1
  docs/resources/cfw_address_group_v1.md
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_address_group_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_address_group_v1.go
  releasenotes/notes/cfw-add-resource-cfw-address-group-v1-facde3962a704637.yaml
Labels: enhancement, documentation, gate

#2910 [Feat.] New resource opentelekomcloud_lts_keywords_alarm_rule_v2
  docs/resources/lts_keywords_alarm_rule_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_keywords_alarm_rule_v2_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_keywords_alarm_rule_v2.go
  releasenotes/notes/lts-keyword-alarms-ddc489b04f56ac69.yaml
Labels: dependencies, documentation, gate

#2916 [Feat.] New resource `opentelekomcloud_lts_quick_search_criteria_v1`
  docs/resources/lts_quick_search_criteria_v1.md
  opentelekomcloud/acceptance/lts/resource_opentelekomcloud_lts_quick_search_criteria_v1_test.go
  opentelekomcloud/common/cfg/config.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/lts/common.go
  opentelekomcloud/services/lts/resource_opentelekomcloud_lts_quick_search_criteria_v1.go
  releasenotes/notes/lts-quick-search-20f0870885bd6b83.yaml
Labels: enhancement, documentation, gate

#2918 Feat.] CFW: Add resource opentelekomcloud_cfw_service_group_member_v1 and minor fixes
  docs/resources/cfw_address_group_member_v1.md
  docs/resources/cfw_service_group_member_v1.md
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_address_group_member_v1_test.go
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_service_group_member_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_service_group_member_v1.go
  releasenotes/notes/cfw-add-resource-cfw-service-group-member-v1-eb7677b6244b18b4.yaml
Labels: enhancement, documentation, gate

#2920 [Feat.] CFW: Add resource opentelekomcloud_cfw_blacklist_whitelist_rule_v1 and minor fixes
  docs/resources/cfw_blacklist_whitelist_rule_v1.md
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_blacklist_whitelist_rule_v1_test.go
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_service_group_member_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_blacklist_whitelist_rule_v1.go
  releasenotes/notes/cfw-add-resource-cfw-blacklist-whitelist-rule-v1-2406770efd9babbd.yaml
Labels: enhancement, documentation, gate

#2922 [FGS]: new `custom_image` parameters for function resource
  docs/resources/fgs_function_v2.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/fgs/resource_opentelekomcloud_fgs_function_v2_test.go
  opentelekomcloud/services/fgs/resource_opentelekomcloud_fgs_function_v2.go
  releasenotes/notes/fgs_func_custom_img-9dac08f9ad894a80.yaml
Labels: dependencies, documentation, gate

#2925 [Fix] Fix instance_id validation in ddm_schema_v1
  opentelekomcloud/services/ddm/resource_opentelekomcloud_ddm_schema_v1.go
  releasenotes/notes/ddm-fix-ddm-schema-v1-arg-b14e757c08bf7946.yaml
Labels: gate, fix

#2924 [Feat.] CFW: Add resource opentelekomcloud_cfw_eip_protection_v1 and minor fixes
  docs/resources/cfw_eip_protection_v1.md
  opentelekomcloud/acceptance/cfw/resource_opentelekomcloud_cfw_eip_protection_v1_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_address_group_member_v1.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_address_group_v1.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_blacklist_whitelist_rule_v1.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_eip_protection_v1.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_service_group_member_v1.go
  opentelekomcloud/services/cfw/resource_opentelekom_cfw_service_group_v1.go
  opentelekomcloud/services/cfw/resource_opentelekomcloud_cfw_acl_rule_v1.go
  releasenotes/notes/cfw-add-resource-cfw-eip-protection-v1-386939116624a801.yaml
Labels: enhancement, documentation, gate
