Repository opentelekomcloud/terraform-provider-opentelekomcloud, pull requests merged in 2025-02, with the labels that each got.

#2809 [Feat.] CTS: even notification filter
  docs/resources/cts_event_notification_v3.md
  go.mod
  go.sum
  opentelekomcloud/acceptance/cts/resource_opentelekomcloud_cts_event_notification_v3_test.go
  opentelekomcloud/services/cts/resource_opentelekomcloud_cts_event_notification_v3.go
  releasenotes/notes/cts_event_filter-359c4f66c1f86af7.yaml
Labels: dependencies, documentation, gate

#2813 [Feat.]: Css cluster backup opts
  docs/resources/css_cluster_v1.md
  opentelekomcloud/acceptance/css/resource_opentelekomcloud_css_cluster_v1_test.go
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  releasenotes/notes/css_backup-f0f1ec773b0117b8.yaml
Labels: documentation, gate

#2812 [Feat.] VPN: Add datasource enterprise vpn customer gateway
  docs/data-sources/vpn_customer_gateway_v5.md
  opentelekomcloud/acceptance/vpn/data_source_opentelekomcloud_enterprise_vpn_customer_gateway_v5_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpn/data_source_opentelekomcloud_enterprise_vpn_customer_gateway_v5.go
  releasenotes/notes/vpn-add-datasource-enterprise-customer-gateway-v5-aea9712e34e7e222.yaml
Labels: documentation, gate

#2815 [Feat.] OBS: specification of agency for logging
  docs/resources/obs_bucket.md
  opentelekomcloud/acceptance/obs/resource_opentelekomcloud_obs_bucket_test.go
  opentelekomcloud/services/obs/resource_opentelekomcloud_obs_bucket.go
  releasenotes/notes/obs_log_agency-6c7b4acfe8db7129.yaml
Labels: documentation, gate

#2818 [Feat.] added possibility to trigger alarm immediately in `opentelekomcloud_ces_alarmrule`
  docs/resources/ces_alarmrule.md
  opentelekomcloud/acceptance/ces/resource_opentelekomcloud_ces_alarmrule_test.go
  opentelekomcloud/services/ces/resource_opentelekomcloud_ces_alarmrule.go
  releasenotes/notes/ces-alarmrule-period-8f5bed58bf5d8fea.yaml
Labels: enhancement, documentation, gate

#2819 [Feat.] VPN: Add data source opentelekomcloud_enterprise_vpn_connection_v5
  docs/data-sources/vpn_connection_v5.md
  opentelekomcloud/acceptance/vpn/data_source_opentelekomcloud_enterprise_vpn_connection_v5_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/vpn/data_source_opentelekomcloud_enterprise_vpn_connection_v5.go
  releasenotes/notes/vpn-add-datasource-enterprise-connection-v5-7fa123b6cd732f67.yaml
Labels: documentation, gate

#2821 [Feat.] CSS: public access
  docs/resources/css_cluster_v1.md
  go.mod
  go.sum
  opentelekomcloud/services/css/resource_opentelekomcloud_css_cluster_v1.go
  releasenotes/notes/css_cluster_public-f70f4fcf5e390930.yaml
Labels: dependencies, documentation, gate

#2830 [Feat.] IMS: Add user input field hw_firmware_type to ims_image_v2
  docs/resources/ims_image_v2.md
  opentelekomcloud/acceptance/ims/resource_opentelekomcloud_ims_image_v2_test.go
  opentelekomcloud/services/ims/resource_opentelekomcloud_ims_image_v2.go
  releasenotes/notes/ims-image-v2-new-field-32482a3ca49f386d.yaml
  releasenotes/notes/ims-images-image-v2-new-field-7a93d2229cb5bb30.yaml
Labels: enhancement, documentation, gate

#2831 [Depr.] SATA disk type deprecation
  docs/resources/as_configuration_v1.md
  docs/resources/blockstorage_volume_v2.md
  docs/resources/cce_node_pool_v3.md
  docs/resources/cce_node_v3.md
  docs/resources/compute_instance_v2.md
  docs/resources/ecs_instance_v1.md
  docs/resources/evs_volume_v3.md
  opentelekomcloud/common/customize_diffs.go
  opentelekomcloud/services/as/resource_opentelekomcloud_as_configuration_v1.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_pool_v3.go
  opentelekomcloud/services/cce/resource_opentelekomcloud_cce_node_v3.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_compute_instance_v2.go
  opentelekomcloud/services/ecs/resource_opentelekomcloud_ecs_instance_v1.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_blockstorage_volume_v2.go
  opentelekomcloud/services/evs/resource_opentelekomcloud_evs_volume_v3.go
  releasenotes/notes/sata_deprecation-de33930494feb6aa.yaml
Labels: documentation, gate

#2840 [Feat.] RDS: public ip associate resource
  docs/resources/rds_public_ip_associate_v3.md
  opentelekomcloud/acceptance/rds/resource_opentelekomcloud_rds_public_ip_associate_v3_test.go
  opentelekomcloud/provider.go
  opentelekomcloud/services/rds/resource_opentelekomcloud_rds_public_ip_associate_v3.go
  releasenotes/notes/rds_public_ip-d0dd5e52fe7b2cd4.yaml
Labels: documentation, gate
